{% extends 'comparagrow/cozastore/base.html' %}
{% load static %}


{% block content %}
<!-- breadcrumb -->
<div class="container-fluid" style="
    background: blueviolet;
">
	<div class="bread-crumb p-l-25 p-r-15 p-t-30 p-lr-0-lg">

		{% for item in producto.category.get_ancestors %}
		<a href="/productos/categorias/{{ item.slug }}" class="stext-109 hov-cl1 trans-04" style="color:#fff;">
			{{ item.name }}
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>
		{% endfor %}
		<a href="/productos/categorias/{{ producto.category.slug }}" class="stext-109 cl8 hov-cl1 trans-04" style="
    color: white;
    font-size: 20px;
">
			{{ producto.category.name }}
		</a>
	</div>
</div>


<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-7 p-b-30">
				<div class="p-l-25 p-r-30 p-lr-0-lg">
					<div class="wrap-slick3 flex-sb flex-w">
						<div class="wrap-slick3-dots"></div>
						<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

						<div class="slick3 gallery-lb">

							{% for item in producto_image %}
							<div class="item-slick3" data-thumb="/media/{{ item.image }}">
								<div class="wrap-pic-w pos-relative">
									<img src="/media/{{ item.image }}" alt="IMG-PRODUCT">

									<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/media/{{ item.image }}">
										<i class="fa fa-expand"></i>
									</a>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-5 p-b-30">
				<div class="p-r-50 p-t-5 p-lr-0-lg">
					<h4 class="mtext-105 cl2 js-name-detail p-b-14">
						{{ producto.name }}
					</h4>

					<span class="mtext-106" style="color:#672d93">
						CPL {{ producto.total }}
					</span>
					<br>
					<span class="mtext-100">
						Referencia: {{ producto.reference }}
					</span>
					<br>
					<span class="mtext-100">
						Marca: {{ producto.brand }}
					</span>
					<br>
					<span class="mtext-100">
						Tienda: {{ producto.shop.name }}
					</span>

					<p class="stext-102 cl3 p-t-23">
            {% autoescape off %}
						{{ producto.description }}
            {% endautoescape %}
					</p>

					<!--  -->
					<div class="flex-w flex-r-m p-b-10">
						<button class="btn btn-primary" style="width: 100%;background-color: #01b22c;border-color: #01b22c;">comparar en tienda</button>
					</div>

					<!--  -->
					<div class="flex-w flex-m p-l-100 p-t-40 respon7">
						<div class="flex-m bor9 p-r-10 m-r-11">
							<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Agregar a favoritos">
								<i class="far fa-heart   fa-1x" style="color:#672d93;"></i>
							</a>
						</div>

						<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
							<i class="fab fa-facebook-f   fa-1x" style="color:#672d93;"></i>
						</a>

						<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
							<i class="fab fa-twitter   fa-1x" style="color:#672d93;"></i>
						</a>

						<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
							<i class="fab fa-google-plus   fa-1x" style="color:#672d93;"></i>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="bor10 m-t-50 p-t-43 p-b-40">
			<!-- Tab01 -->
			<div class="tab01">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item p-b-10">
						<a class="nav-link active" data-toggle="tab" href="#description" role="tab">Variación del precio</a>
					</li>

					<li class="nav-item p-b-10">
						<a class="nav-link" data-toggle="tab" href="#information" role="tab">Caracteristica</a>
					</li>

					<!-- <li class="nav-item p-b-10">
						<a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews (1)</a>
					</li> -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content p-t-43">
					<!-- - -->
					<div class="tab-pane fade show active" id="description" role="tabpanel">
						<div class="how-pos2 p-lr-15-md">
							<canvas id="myChart" width="400" height="400" style="height:400px; width:100%;max-height:400px;"></canvas>
						</div>
					</div>

					<!-- - -->
					<div class="tab-pane fade" id="information" role="tabpanel">
						<div class="row">
							<div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
								<ul class="p-lr-28 p-lr-15-sm">
									{% for t in producto_attr %}
									<li class="flex-w flex-t p-b-7">
										<span class="stext-102 cl3 size-205">
											{{ t.attributes.name }}
										</span>

										<span class="stext-102 cl6 size-206">
											{{ t.values }}
										</span>
									</li>
									{% endfor %}

								</ul>
							</div>
						</div>
					</div>

					<!-- - -->
				</div>
			</div>
		</div>
	</div>


</section>

{% endblock %}


{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# Historico de Precio',
            data: [0, 0, 0, 0, 0, 0],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
{% endblock %}
