{% extends 'Cuenta/Direcciones/base_direcciones.html' %}
{% load static %}



{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">


      <h2 style="margin-left:5%" >Direcciones</h2>
	 <br>
  			<div style="margin-left:5%" >
	<div class="row">
      <div style="margin-left:1%; margin-top:1%;  flex-grow: 0 !important;" class="col-sm">
          <div class="card" style="width: 300px; height: 248px">
               <div class="card-body">
                
              <a href="{% url 'direcciones_add' %}">
               <img style="margin-left:75px; margin-top:30px" src="{% static 'img/icono_add.png' %}" style="width: 100px; height: 100px">
            </a><br><br>
                <h6 style="margin-left:65px; margin-top:15px">Agregar dirección</h6>
                
           </div>
        </div>
      </div>
    {% for i in direcciones %}
    	<div style="margin-left:1%;  margin-top:1%;  flex-grow: 0 !important;" class="col-sm">
	  		<div class="card" style="width: 300px;">
         		<div class="card-body">
                <h5 class="card-title">{{i.alias}}</h5>
           			<h5 class="card-title">{{i.firstname}} {{i.lastname}}</h5>
           			<h6 class="card-subtitle mb-2 text-muted">{{i.company}}</h6>
		   			<p class="h6">{{i.address1}} {{i.address2}}</p>
		   			<p class="h6">{{i.city}}, {{i.id_state}}, {{i.postcode}}</p>
		   			<p class="h6">{{i.id_country}}</p>
             <p class="h6">{{i.phone}}</p>
            {% if i.predeterminado %}
            Es el predeterminado.
            {% endif %}
		   			<br>
			 		<div style="margin-left:0%">
           				<a href="{% url 'direcciones_edit' i.id_address %}" class="card-link">Editar</a>
                   <a href="{% url 'direcciones_eliminar' i.id_address %}" class="card-link">Eliminar</a>
                   {% ifequal i.predeterminado False %}
                   <a href="{% url 'direcciones_predeterminado' i.id_address %}" class="card-link">Predeterminado</a>
                   {% endifequal %}
         			</div>
			 	</div>
      		 </div>
     </div>
     {% endfor %}

   </div> <!-- row  -->
				</div>

        {% endblock %}	

		
    </main>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
      
        <script>
          $(document).ready(function(){
            $("#micuenta-short").click(function(){
              $("#navlarga").show();
              $("#navlarga").addClass("d-md-block");
              $("#navshort").removeClass("mostrar");
            });
            $("#micuenta-2").click(function(){
              $("#navshort").show();
              $("#navlarga").removeClass("d-md-block");
              $("#navshort").addClass("mostrar");
            });
            $("#compra-subir").click(function(){
              $("#compra-li1").hide();
              $("#compra-li2").hide();
              $("#compra-li3").hide();
              $("#compra-subir").hide();
              $("#compra-bajar").show();
            });
            $("#compra-bajar").click(function(){
              $("#compra-li1").show();
              $("#compra-li2").show();
              $("#compra-li3").show();
              $("#compra-subir").show();
              $("#compra-bajar").hide(); 
            });
            $("#ventas-subir").click(function(){
              $("#ventas-li1").hide();
              $("#ventas-li2").hide();
              $("#ventas-li3").hide();
              $("#ventas-subir").hide();
              $("#ventas-bajar").show();
            });
            $("#ventas-bajar").click(function(){
              $("#ventas-li1").show();
              $("#ventas-li2").show();
              $("#ventas-li3").show();
              $("#ventas-subir").show();
              $("#ventas-bajar").hide();
            });
            $("#config-subir").click(function(){
              $("#config-li1").hide();
              $("#config-li2").hide();
              $("#config-li3").hide();
              $("#config-li4").hide();
              $("#config-subir").hide();
              $("#config-bajar").show();
            });
            $("#config-bajar").click(function(){
              $("#config-li1").show();
              $("#config-li2").show();
              $("#config-li3").show();
              $("#config-li4").show();
              $("#config-subir").show();
              $("#config-bajar").hide();
            });
          });
          </script>
      
      </body>
</html>
