          {% extends 'Cuenta/Direcciones/base_direcciones.html' %}
          {% load static %}
          
          
          
          {% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

      <h2 style="margin-left:5%" >Dirección</h2>
	 <br>
		<form method="POST" >
        {% csrf_token %}
	   <div style="margin-left:3.8%" class="col-md-5 mb-3">
          <label for="id_address1">Dirección</label>
          <input type="text" name="address1" maxlength="128" id="id_address1" class="form-control" required>
        <div class="invalid-feedback">
            Please enter your shipping address.
        </div>
		  <br>
		  <input type="text" name="address2" maxlength="128" id="id_address2"class="form-control">
       </div>
       <div style="margin-left:3.8%" class="col-md-3 mb-3">
            <label for="id_postcode" >Código postal</label>
            <input type="text" name="postcode" maxlength="12" id="id_postcode" class="form-control" required>
          <div class="invalid-feedback">
              Zip code required.
          </div>
       </div>
      <div style="margin-left:3.8%" class="col-md-3 mb-3">
            <label for="id_id_country">País</label>
            <select class="custom-select d-block w-100" name="id_country" required id="id_id_country">
              <option value="">Choose...</option>
              {%for i in paises %}
              <option value={{i.id_country}}>{{i.name}}</option>
              {% endfor %}
            </select>
         <div class="invalid-feedback">
              Please select a valid country.
         </div> 
	   </div>
	   <div style="margin-left:3.8%" class="col-md-3 mb-3">
            <label for="id_id_state">Estado</label>
            <select class="custom-select d-block w-100" name="id_state" required id="id_id_state" required>
              <option value="">Choose...</option>
              {%for j in estados %}
              <option value={{j.id_state}}>{{j.name}}</option>
              {% endfor %}
            </select>
          <div class="invalid-feedback">
              Please provide a valid state.
          </div>
       </div>
       <div style="margin-left:3.8%" class="col-md-3 mb-3">
           <label for="id_city">City</label>
           <input type="text" name="city" required maxlength="64" id="id_city" class="form-control">
       </div>	

		<div style="margin-left:3.8%" class="col-md-3 mb-3">
            <label  for="id_company">Compañía</label>
            <input type="text" name="company" maxlength="64" id="id_company" class="form-control">
		</div>	
	       
       <div style="margin-left:3.8%" class="col-md-3 mb-3">
            <label for="id_firstname">Nombre</label>
            <input  type="text" name="firstname" required maxlength="32" id="id_firstname" class="form-control">
          <div class="invalid-feedback">
              Valid first name is required.
          </div>
       </div>			
	   <div style="margin-left:3.8%" class="col-md-3 mb-3">
            <label for="id_lastname">Apellido</label>
            <input type="text" name="lastname" required maxlength="32" id="id_lastname" class="form-control">
          <div class="invalid-feedback">
              Valid last name is required.
          </div>
       </div>
	   <div style="margin-left:3.8%" class="col-md-3 mb-3">
            <label  for="id_phone">Teléfono</label>
            <input type="text" name="phone" maxlength="32" id="id_phone" class="form-control bfh-phone">
	   </div>
	   <div style="margin-left:3.8%" class="col-md-3 mb-3">
            <label for="id_phone_mobile">Celular</label>
            <input type="text" name="phone_mobile" maxlength="32" id="id_phone_mobile" class="form-control bfh-phone">
     </div>
     <div style="margin-left:3.8%" class="col-md-5 mb-3">
        <label  for="id_predeterminado" style="width: 280px;"> Asignar como dirección predeterminada</label>
        <input  type="checkbox" name="predeterminado" id="id_predeterminado">
 </div>
		<br>
		<div style="margin-left:3.8%" class="col-md-3 mb-3">
		<button type="submit" class="btn btn-outline-primary">Guardar</button>
		</div>
			
		</form>
    </main>
  </div>
</div>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
      
        <script>
          $(document).ready(function(){
            $("#micuenta-short").click(function(){
              $("#navlarga").show();
              $("#navlarga").addClass("d-md-block");
              $("#navshort").removeClass("mostrar");
            });
            $("#micuenta-2").click(function(){
              $("#navshort").show();
              $("#navlarga").removeClass("d-md-block");
              $("#navshort").addClass("mostrar");
            });
            $("#compra-subir").click(function(){
              $("#compra-li1").hide();
              $("#compra-li2").hide();
              $("#compra-li3").hide();
              $("#compra-subir").hide();
              $("#compra-bajar").show();
            });
            $("#compra-bajar").click(function(){
              $("#compra-li1").show();
              $("#compra-li2").show();
              $("#compra-li3").show();
              $("#compra-subir").show();
              $("#compra-bajar").hide(); 
            });
            $("#ventas-subir").click(function(){
              $("#ventas-li1").hide();
              $("#ventas-li2").hide();
              $("#ventas-li3").hide();
              $("#ventas-subir").hide();
              $("#ventas-bajar").show();
            });
            $("#ventas-bajar").click(function(){
              $("#ventas-li1").show();
              $("#ventas-li2").show();
              $("#ventas-li3").show();
              $("#ventas-subir").show();
              $("#ventas-bajar").hide();
            });
            $("#config-subir").click(function(){
              $("#config-li1").hide();
              $("#config-li2").hide();
              $("#config-li3").hide();
              $("#config-li4").hide();
              $("#config-subir").hide();
              $("#config-bajar").show();
            });
            $("#config-bajar").click(function(){
              $("#config-li1").show();
              $("#config-li2").show();
              $("#config-li3").show();
              $("#config-li4").show();
              $("#config-subir").show();
              $("#config-bajar").hide();
            });
          });
          </script>
      
      </body>
</html>
