{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">

<style>
  a.section:hover {
      color: #fff !important;
      text-decoration: none;
  }
  .dashboard #content {
    width: 100% !important;
  }
  #content-main{
    width: 50% !important;
    padding-left: 40px !important;
    padding-top: 20px !important;
  }
  #content-related{
    width: calc(50% - 60px) !important;
    margin-right: 0px !important;
    margin-top: 20px;
  }
  #content{
    padding: 0px 0px !important;
  }
</style>
{% endblock %}

{% block extrahead %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
<script>
    var randomColorGenerator = function () {
        return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
    };
    var options = {
        responsive: true,
        maintainAspectRatio: true,
        legend: {
            position: 'right'
        },
        title: {
            display: true
        },
        animation: {
            animateScale: true,
            animateRotate: true
        }
    };
</script>

{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; Estadisticas
</div>
{% endblock %}




{% block content %}
<div id="content-main">
  <h1 style="">Estadisticas Generales</h1>
  <div class="module">
    <table style="width: 100%;">
      <caption>
          <a class="section">Alertas de Productos Nuevos Ingresados por la Competencia.</a>
      </caption>
      <tbody>
        <tr>
          <td>
            <div>
                <p><img src="https://img.icons8.com/color/40/000000/box-important.png">En estos momentos no tiene alertas.</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <table style="width: 100%;">
      <caption>
          <a class="section">Alertas de Cambios de Precios de Productos.</a>
      </caption>
      <tbody>
        <tr>
          <td>
            <div>
                <p><img src="https://img.icons8.com/color/40/000000/box-important.png">En estos momentos no tiene alertas.</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <table style="width: 100%;">
      <caption>
          <a class="section">Listado de las Tiendas de la Competencia con sus URL.</a>
      </caption>
      {% if shop_competition %}
      <tbody>
        {% for i in shop_competition %}
        <tr>
          <td>
            <a>{{ i.shop__name }}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% else %}
      <tbody>
        <tr>
          <td>
            <div>
                <p><img src="https://img.icons8.com/color/40/000000/box-important.png">En estos momentos no tiene alertas.</p>
            </div>
          </td>
        </tr>
      </tbody>
      {% endif %}
    </table>

    <table style="width: 100%;">
      <caption>
          <a class="section">% Usuarios provenientes de Dispositivos Móviles vs Escritorio.</a>
      </caption>
      <tbody>
        <tr>
          <td>
            <div>
                <p><img src="https://img.icons8.com/color/40/000000/box-important.png">En estos momentos no tiene alertas.</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <table style="width: 100%;">
      <caption>
          <a class="section">% Usuarios de cada región.</a>
      </caption>
      <tbody>
        <tr>
          <td>
            <div>
                {% if register_region_name %}
                <canvas id="country_name-chart" style="width:700px;height:500px;"></canvas>
                {% else %}
                <p><img src="https://img.icons8.com/color/40/000000/box-important.png">En estos momentos no tiene alertas.</p>
                {% endif %}
            </div>
            {% if register_region_name %}
            <script>
            var ctx2 = document.getElementById('country_name-chart').getContext('2d');;
            var lineChart2 = new Chart(ctx2, {
                type: 'pie',
                data: {
                    labels: [{% for item in register_region_name %}'{{ item.region_name }}',{% endfor %}],
                    datasets: [{
                        data: [{% for item in register_region_name %}'{{ item.dcount }}',{% endfor %}],
                        backgroundColor: [{% for item in register_region_name %}randomColorGenerator(),{% endfor %}]
                    }]
                },
                options: options
            });
            </script>
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

{% block sidebar %}
<div id="content-related">
  <div class="module">
    <h2 style="">Estadisticas Espeficicas</h2>
    <h3 style="">Productos más visitados de la Tienda.</h3>
    <div>
        <p><img src="https://img.icons8.com/color/40/000000/box-important.png">En estos momentos no tiene alertas.</p>
    </div>
    <h3 style="">Listado y número total de redireccionamientos.</h3>
    <div>
        <p><img src="https://img.icons8.com/color/40/000000/box-important.png">En estos momentos no tiene alertas.</p>
    </div>
    <h3 style="">Clics realizados en Publicidad contratada.</h3>
    <div>
        <p><img src="https://img.icons8.com/color/40/000000/box-important.png">En estos momentos no tiene alertas.</p>
    </div>
  </div>
</div>
{% endblock %}
