{% extends 'Cuenta/Tienda/base_tiendas.html' %}
{% load static %}

{% block content %}
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">


            <h2 style="margin-left:5%" >Cuenta</h2>
         <br>
         <form method="POST" enctype="multipart/form-data" >
          {% csrf_token %}
          <div style="margin-left:3.8%" class="col-md-5 mb-3">
              <label for="id_name">Nombre de la cuenta *</label>
              <input type="text" name="name" maxlength="30" id="id_name"class="form-control" required>
            <div class="invalid-feedback">
                Nombre required.
            </div>
         </div>
         <div style="margin-left:3.8%" class="col-md-3 mb-3">
            <label for="id_tipo"> Tipo de cuenta *</label>
            <select class="custom-select d-block w-100" name="tipo" id="id_tipo" required>
                <option value="" selected>Seleccione...</option>

                <option value="Ahorro">Cuenta de Ahorro</option>
              
                <option value="Corriente">Cuenta Corriente</option>
              
                <option value="Wallet">Wallet</option>
            </select>
          <div class="invalid-feedback">
              Please provide a valid tipo.
          </div>
       </div>
         <div style="margin-left:3.8%" class="col-md-5 mb-3">
            <label for="id_number">Número de cuenta o wallet</label>
            <input  type="text" name="number" maxlength="30" id="id_number" class="form-control" >
          <div class="invalid-feedback">
              Number required.
          </div>
       </div>
       <div style="margin-left:3.8%" class="col-md-5 mb-3">
          <label for="id_persona" >Datos adicionales</label>
          <textarea class="form-control" name="persona" id="id_persona" rows="5" cols="40"></textarea>
        <div class="invalid-feedback">
            Dueño required.
        </div>
     </div>

          <div style="margin-left:3.8%" class="col-md-3 mb-3">
          <button type="submit" class="btn btn-outline-primary">Guardar</button>
          </div>
            
          </form>
          </main>
          {% endblock %}
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
      
        <script>
          $(document).ready(function(){
            $("#micuenta-short").click(function(){
              $("#navlarga").show();
              $("#navlarga").addClass("d-md-block");
              $("#navshort").removeClass("mostrar");
            });
            $("#micuenta-2").click(function(){
              $("#navshort").show();
              $("#navlarga").removeClass("d-md-block");
              $("#navshort").addClass("mostrar");
            });
            $("#compra-subir").click(function(){
              $("#compra-li1").hide();
              $("#compra-li2").hide();
              $("#compra-li3").hide();
              $("#compra-subir").hide();
              $("#compra-bajar").show();
            });
            $("#compra-bajar").click(function(){
              $("#compra-li1").show();
              $("#compra-li2").show();
              $("#compra-li3").show();
              $("#compra-subir").show();
              $("#compra-bajar").hide(); 
            });
            $("#ventas-subir").click(function(){
              $("#ventas-li1").hide();
              $("#ventas-li2").hide();
              $("#ventas-li3").hide();
              $("#ventas-subir").hide();
              $("#ventas-bajar").show();
            });
            $("#ventas-bajar").click(function(){
              $("#ventas-li1").show();
              $("#ventas-li2").show();
              $("#ventas-li3").show();
              $("#ventas-subir").show();
              $("#ventas-bajar").hide();
            });
            $("#config-subir").click(function(){
              $("#config-li1").hide();
              $("#config-li2").hide();
              $("#config-li3").hide();
              $("#config-li4").hide();
              $("#config-subir").hide();
              $("#config-bajar").show();
            });
            $("#config-bajar").click(function(){
              $("#config-li1").show();
              $("#config-li2").show();
              $("#config-li3").show();
              $("#config-li4").show();
              $("#config-subir").show();
              $("#config-bajar").hide();
            });
          });
          </script>
      
      </body>
</html>
