{% extends 'Cuenta/Tienda/base_tiendas.html' %}
{% load static %}

{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">


      <h2 style="margin-left:5%" ><img src="{{tienda.logo.url}}" style="width: 200px; height: auto" > Detalles de la Tienda {{tienda.name}}        
  </h2>
   <br>
   {% ifequal ref None %}
   <h4 style="margin-left:5%" >Selecciona la moneda de referencia:        
  </h4>
  			<div style="margin-left:5%" >
	<div class="row">
    {% for i in monedas %}
    	<div style="margin-left:1%; flex-grow: 0 !important;" class="col-sm">
	  		<div class="card" style="width: 200px; height: 200px">
         		<div class="card-body">
                 
                 <a data-toggle="modal" data-target="#exampleModal{{i.id_currency}}"><img src="{{i.icono.url}}" style="width: 160px; height: auto"></a>

                 <div class="modal fade" id="exampleModal{{i.id_currency}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Esta seguro que desea seleccionar esta moneda como referente?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Después de seleccionarla no podrá realizar cambios.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <a href="{% url 'tiendas_mref' tienda.id_shop i.id_currency %}"><button type="submit" class="btn btn-primary">Guardar</button></a>
                      </div>
                    </div>
                  </div>
                </div>
             <br>
			 	</div>
      		 </div>
     </div>
     {% endfor %}
     </div>
    {%else %}
   <h4 style="margin-left:5%;"> Moneda referente</h4>
  			<div style="margin-left:5%" >
	<div class="row">
    	<div style="margin-left:1%; flex-grow: 0 !important;" class="col-sm">
	  		<div class="card" style="width: 120px;  height: 120px">
         		<div class="card-body">
                 <img src="{{ref.id_currency.icono.url}}" style="width: 80px; height: auto">
             <br>
			 	</div>
      		 </div>
          </div>
      {% ifequal ref.pregunta False %}
      <div style="margin-left:1%; flex-grow: 0 !important;" class="col-sm">
            <div class="card" style="width: 500px;  height: 120px">
                 <div class="card-body">
                   <h5 > Necesitamos que respondas la siguiente pregunta: </h5>
                  <h6> 
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                          Pregunta
                        </button> </h6> 
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">¿Deseas publicar en esta moneda?</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              Si respondes de manera afirmativa, los productos se publicaran con el precio según la moneda referente.
                            </div>
                            <div class="modal-footer">
                              <a href="{% url 'tiendas_mref_nopublish' tienda.id_shop %}"><button type="submit" class="btn btn-primary" >No</button></a>
                              <a href="{% url 'tiendas_mref_publish' tienda.id_shop %}"><button type="submit" class="btn btn-primary">sí</button></a>
                            </div>
                          </div>
                        </div>
                      </div>
                 <br>
             </div>
               </div>
              </div>
      {% endifequal %}
   </div> <!-- row  -->
   {% endifequal %}
   {% ifequal ref.pregunta True %}
   <br>
   <h4> Monedas <a href="{% url 'currencyshop_add' tienda.id_shop %}">
    <img  src="{% static 'img/icono_add.png' %}" style="width: 30px; height: 30px">
 </a></h4>
     <br>
     {% if money %}
     <div class="table-responsive">
      <table class="table table-striped table-sm">
      <thead>
          <tr>
              <th>Nombre</th>
              <th>Rate</th>
              <th>Editar</th>
              <th>Eliminar</th>
              <th>Cuentas</th>
              <th>Añadir cuenta</th>
          </tr>
      </thead>
      <tbody>
        {% for j in money %}
          <tr>
              <td>{{ j.id_currency.name }}</td>
              <td>{{ j.rate_moneda}} {{j.id_currency.sign}}= {{j.rate_referencia}} {{ref.id_currency.sign}}</td>
              <td><a href="{% url 'currencyshop_edit' tienda.id_shop j.id_currency.id_currency %}">edit</a></td>
              <td><a href="{% url 'currencyshop_eliminar' tienda.id_shop j.id_currency.id_currency %}">Eliminar</a></td>
              <td> {% for c in cuenta %}
                    {% ifequal c.id_account.id_currency j.id_currency %}
                    {{c.id_account.name}}. {{c.id_account.persona}}
                    <br>
                    {{c.id_account.tipo}}. 
                    {{c.id_account.number}}
                    <a href="{% url 'accountshop_edit' tienda.id_shop c.id_account.id_account %}">editar</a>
                    <a href="{% url 'accountshop_eliminar' tienda.id_shop c.id_account.id_account %}">eliminar</a>
                    <br>
                    {% endifequal %}
                    {% endfor %}
              </td>
              <td> <a href="{%url 'accountshop_add' tienda.id_shop j.id_currency %}"> Add</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
      {% endif %}
     <br>
     <h4> Transportistas 
       {% if carrito %}
        <a href="{% url 'transportista_add' tienda.id_shop %}"><img  src="{% static 'img/icono_add.png' %}" style="width: 30px; height: 30px"></a>
      {% endif %}
      </h4>
      <br>
    {% if transp %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Logo</th>
                <th>Url</th>
                <th>Máximo ancho</th>
                <th>Máxima altura</th>
                <th>Máxima profundidad</th>
                <th>Máximo peso</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
          {% for j in transp %}
            <tr>
                <td>{{ j.id_carrier.name }}</td>
                <td> <img src="{{j.id_carrier.logo.url}}" style="width:100px"></td>
                <td><a href="{{ j.id_carrier.url}}">{{ j.id_carrier.url}}</a></td>
                <td>
                  {% if j.id_carrier.max_width %}
                  {{ j.id_carrier.max_width}}
                  {% else %}
                    No tiene
                  {% endif %}  
                </td>
                <td>
                    {% if j.id_carrier.max_height %}
                    {{ j.id_carrier.max_height}}
                    {% else %}
                    No tiene
                    {% endif %} 
                </td>
                <td>
                    {% if j.id_carrier.max_depth %}
                    {{ j.id_carrier.max_depth}}
                    {% else %}
                    No tiene
                    {% endif %}  
                </td>
                <td>
                    {% if j.id_carrier.max_weight %}
                    {{ j.id_carrier.max_weight}}
                    {% else %}
                    No tiene
                    {% endif %} 
                </td>
                <td><a href="{% url 'transportista_eliminar' tienda.id_shop j.id_carrier.id_carrier %}">Eliminar</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    {% endif %}

    <br>
   <h4> Atributos
     {% if grupos %}
    <a href="{% url 'grupo_attr_add' tienda.id_shop %}">
    <img  src="{% static 'img/icono_add.png' %}" style="width: 30px; height: 30px">
 </a>
    {% endif %}
</h4>
     <br>
     {% if grupoattr %}
     <div class="table-responsive">
        <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Grupo de atributo</th>
                <th>Eliminar</th>
                <th>Atributos</th>
                <th>Añadir atributo</th>
            </tr>
        </thead>
        <tbody>
          {% for j in grupoattr %}
            <tr>
                <td>{{ j.id_attribute_group.name }}</td>
                <td> <a href="{% url 'grupo_attr_eliminar' tienda.id_shop j.id_attribute_group.id_attribute_group %}">Eliminar</a></td>
                <td>
                  {% for i in atributos %}
                    {% ifequal i.id_attribute.id_attribute_group j.id_attribute_group %}
                    {% ifequal  j.id_attribute_group.name "Color" %}
                    <div class="row">
                      <div class="col-sm" style="background-color: {{i.id_attribute.color}};flex-grow: 0;"></div>
                      <div class="col-sm" style="">{{i.id_attribute.name}} <a href="{% url 'attr_edit' tienda.id_shop i.id_attribute.id_attribute %}">Editar</a><a href="{% url 'attr_eliminar' tienda.id_shop i.id_attribute.id_attribute %}"> Eliminar</a></div>
                    </div>
                    {% else %}
                    {{i.id_attribute.name}}
                    <a href="{% url 'attr_edit' tienda.id_shop i.id_attribute.id_attribute %}">Editar</a>
                    <a href="{% url 'attr_eliminar' tienda.id_shop i.id_attribute.id_attribute %}"> Eliminar</a>
                    <br>
                    {% endifequal%}
                    {% endifequal%}
                  {% endfor %}
                </td>
                <td><a href="{% url 'attr_add' tienda.id_shop j.id_attribute_group.id_attribute_group %}">Añadir</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
     {% endif %}
  {% endifequal %}

  </div>

	

		
    </main>
    {% endblock %}	
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
      
        <script>
          $(document).ready(function(){
            $("#micuenta-short").click(function(){
              $("#navlarga").show();
              $("#navlarga").addClass("d-md-block");
              $("#navshort").removeClass("mostrar");
            });
            $("#micuenta-2").click(function(){
              $("#navshort").show();
              $("#navlarga").removeClass("d-md-block");
              $("#navshort").addClass("mostrar");
            });
            $("#compra-subir").click(function(){
              $("#compra-li1").hide();
              $("#compra-li2").hide();
              $("#compra-li3").hide();
              $("#compra-subir").hide();
              $("#compra-bajar").show();
            });
            $("#compra-bajar").click(function(){
              $("#compra-li1").show();
              $("#compra-li2").show();
              $("#compra-li3").show();
              $("#compra-subir").show();
              $("#compra-bajar").hide(); 
            });
            $("#ventas-subir").click(function(){
              $("#ventas-li1").hide();
              $("#ventas-li2").hide();
              $("#ventas-li3").hide();
              $("#ventas-subir").hide();
              $("#ventas-bajar").show();
            });
            $("#ventas-bajar").click(function(){
              $("#ventas-li1").show();
              $("#ventas-li2").show();
              $("#ventas-li3").show();
              $("#ventas-subir").show();
              $("#ventas-bajar").hide();
            });
            $("#config-subir").click(function(){
              $("#config-li1").hide();
              $("#config-li2").hide();
              $("#config-li3").hide();
              $("#config-li4").hide();
              $("#config-subir").hide();
              $("#config-bajar").show();
            });
            $("#config-bajar").click(function(){
              $("#config-li1").show();
              $("#config-li2").show();
              $("#config-li3").show();
              $("#config-li4").show();
              $("#config-subir").show();
              $("#config-bajar").hide();
            });
          });
          </script>
      
      </body>
</html>
