{% load static %}
{% load mptt_tags %}
{% load menu_categorias %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/static/img/lupa.png">



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/social/bootstrap-social.css' %}" >

    <title>comparagrow</title>
    <script type="text/javascript">
        function closetoast(name){
          //alert(1);
          $('.'+name).toast('hide');
        }
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <a href="/" style="text-decoration:none;">
            <img class="img-fluid" src="{% static 'theme/images/home/logo.png' %}">
          </a>
          <hr>
        </div>
      </div>
    </div>

    {% block content %}

    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- <script src="{% static 'js/waypoints/lib/jquery.waypoints.js' %}"></script>
    <script src="{% static 'js/waypoints/lib/shortcuts/infinite.min.js' %}"></script>-->
    <!-- <script src="http://cdn.intercoolerjs.org/intercooler-1.2.1.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    {% block scriptb %}

    {% endblock %}

  </body>
</html>
<script>
function enviar(){
  window.open('{% url "social:begin" "facebook" %}','_self');
}
</script>
{% if user.is_authenticated %}
		{% include 'comparagrow/component/modal_register.html' %}
		{% if request.GET.error == 'not_access' %}
		<script>
				$( document ).ready(function() {
						$('#modal_login').modal('show');
				});
		</script>
		{% endif %}
{% else %}
		{% include 'comparagrow/component/modal_register.html' %}
		{% if request.GET.error == 'not_access' %}
		<script>
				$( document ).ready(function() {
				    $('#modal_login').modal('show');
				});
		</script>
		{% endif %}
{% endif %}
