{% load static %}
{% load mptt_tags %}
{% load menu_categorias %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/static/img/lupa.png">



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/social/bootstrap-social.css' %}" >

    <title>comparagrow</title>
    <script type="text/javascript">
        function closetoast(name){
          //alert(1);
          $('.'+name).toast('hide');
        }
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <a href="/" style="text-decoration:none;">
            <img class="img-fluid" src="{% static 'theme/images/home/logo.png' %}">
          </a>
          <hr>
        </div>
      </div>
    </div>

    {% block content %}

    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- <script src="{% static 'js/waypoints/lib/jquery.waypoints.js' %}"></script>
    <script src="{% static 'js/waypoints/lib/shortcuts/infinite.min.js' %}"></script>-->
    <!-- <script src="http://cdn.intercoolerjs.org/intercooler-1.2.1.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    {% block scriptb %}

    {% endblock %}

  </body>
</html>

<div class="modal fade" id="modal_login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        Registro
      </div> -->
      <div class="modal-body">
        <div class="row justify-content-md-center" style="margin-top: 30px;color:#672d93">
          <h2 class="">Iniciar sesión</h2>
        </div>
        <div class="row justify-content-md-center" >
          <p></p>
        </div>

        <form action="/login" method="post" class="needs-validation" novalidate style="margin-left:20px; margin-right:20px;">
          {% csrf_token %}
          <div class="form-row">
            <div class="col">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend2"><i class="fa fa-user"></i></span>
                </div>
                <input name="username" type="email" class="form-control" id="validationDefaultUsername2" placeholder="Email" aria-describedby="inputGroupPrepend2" required>
              </div>
            </div>
          </div>

          <div class="form-row" style="margin-top:10px;">
            <div class="col">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend2"><i class="fa fa-lock"></i></span>
                </div>
                <input type="password" name="password" class="form-control" id="validationDefaultPassword2" placeholder="Contraseña" aria-describedby="inputGroupPrepend2" required>
              </div>
            </div>
          </div>
          <br>
          <button class="btn btn-primary" type="submit" style="width: 100%;background-color: #01b22c;border-color: #01b22c;">Iniciar sesión</button>
        </form>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
function ocultar(modal){
  $(modal).modal('hide')
}
</script>
    <div class="row justify-content-md-center" style="margin-top: 5px;margin-left:20px; margin-right:20px;">
      <span>ó iniciar sesión con:</span>
    </div>
    <div class="row justify-content-md-center" style="margin-top: 5px;margin-left:20px; margin-right:20px;">
      <a href="{% url "social:begin" "google-oauth2" %}" class="btn btn-block btn-social btn-google" style="color:#fff;">
        <span class="fab fa-google" style="color:#fff;"></span> Google
      </a>
    </div>
    <div class="row justify-content-md-center" style="margin-top: 5px;margin-left:20px; margin-right:20px;">
      <a class="btn btn-block btn-social btn-facebook" style="color:#fff;">
        <span class="fab fa-facebook-f" style="color:#fff;"></span> Facebook
      </a>
    </div>


      <div class="row justify-content-md-center" style="margin-top: 20px;margin-left:20px; margin-right:20px;">
        <p class=""><small>¿No tienes una cuenta?
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_register" onclick="ocultar('#modal_login')" style="
              text-decoration: none;
              border: none;
              background: transparent;
              color: #007bff;
              font-size: 12px;
          ">
            Regístrate
          </button>
        </small></p>
      </div>
      <div class="row justify-content-md-center" style="margin-left:20px; margin-right:20px;">
        <p class="justify-content-md-center text-center"><small><a href="/terminos-politicas">¿Se te olvidó tu contraseña?</a></small></p>
      </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div> -->
    </div>
