{% extends 'comparagrow/base.html' %}
{% load static %}


{% block content %}
			<style media="screen">
				.card:hover{
					box-shadow: 5px 5px 5px grey;
					cursor:pointer;
				}

			</style>

			<script>
				function enviarFiltros(filtro,valor){
					document.getElementById(filtro).value = valor;
					$('#formulario_filtro').submit();
				}
			</script>

			<div class="container-fluid">
				<div class="row">
					<div class="col" style="background:#f6f6f6;">
						<h4 style="margin-top:15px;font-weight: 200;">FILTRAR POR</h4>
						<h6 style="margin-top:15px;color:#01b22c;font-weight: 300;">PRECIO</h6>


							<input type="hidden" name="tienda" id="tienda_form_id" value="{{ tienda }}">
							<input type="hidden" name="categoria" id="categoria_form_id" value="{{ categoria }}">
							<input type="hidden" name="texto" id="texto_form_id" value="{{ texto }}">
							<input type="hidden" name="marca" id="marca_form_id" value="{{ marca }}">
							<input type="hidden" name="order_by" id="order_by_id" value="min">
						  <input type="text" name="min_price" value="{{ min_price }}" style="font-size:12px; width:72px;" class="form-control mb-2 mr-sm-2" id="inlineFormInputPriceMin" placeholder="Min">
							 <input type="text" name="max_price" value="{{ max_price }}" style="font-size:12px; width:72px;" class="form-control mb-2 mr-sm-2" id="inlineFormInputPriceMax" placeholder="Max">
						  <button type="submit" style="font-size:12px;background:#672d93;border-color:#672d93;" class="btn btn-primary mb-2">Ir</button>
						<h6 style="margin-top:15px;color:#01b22c;font-weight: 300;">TIENDAS</h6>
						<form id="formulario_filtro" method="get" action="{{ pagina }}{{ pagina_shop }}">

						{% for shop in tiendas %}
						{% if shop.shop__pk in tienda %}
						<h6 style="margin-left:10px;"><input type="checkbox" name="checkbox_shop[]" value="{{ shop.shop__pk }}" checked> <a style="text-decoration: none;cursor: pointer;color: #000;font-weight: 100;" onclick="enviarFiltros('tienda_form_id','{{ shop.shop__pk }}')">{{ shop.shop__name }}</a></h6>
						{% else %}
						<h6 style="margin-left:10px;"><input type="checkbox" name="checkbox_shop[]" value="{{ shop.shop__pk }}"> <a style="text-decoration: none;cursor: pointer;color: #000;font-weight: 100;" onclick="enviarFiltros('tienda_form_id','{{ shop.shop__pk }}')">{{ shop.shop__name }}</a></h6>
						{% endif %}
						{% endfor %}

						<h6 style="margin-top:15px;color:#01b22c;font-weight: 300;">CATEGORIAS</h6>
						{% for category in categorias %}
						{% if category.category__pk in categoria %}
						<h6 style="margin-left:10px;"><input type="checkbox" name="checkbox_categoria[]" value="{{ category.category__pk }}" checked> <a style="margin-left:3px;text-decoration: none;cursor: pointer;color: #000;font-weight: 100;" onclick="enviarFiltros('categoria_form_id','{{ category.category__pk }}')">{{ category.category__name }}</a></h6>
						{% else %}
						<h6 style="margin-left:10px;"><input type="checkbox" name="checkbox_categoria[]" value="{{ category.category__pk }}"> <a style="text-decoration: none;cursor: pointer;color: #000;font-weight: 100;" onclick="enviarFiltros('categoria_form_id','{{ category.category__pk }}')">{{ category.category__name }}</a></h6>
						{% endif %}
						{% endfor %}


						<h6 style="margin-top:15px;color:#01b22c;font-weight: 300;">MARCAS</h6>

						{% for marc in marcas %}
						{% if marc.brand|stringformat:"s" == marca|stringformat:"s" %}
						<!-- <h6 style="margin-left:10px;"><i class="fas fa-check-circle"></i><a class="btn btn-primary" style="text-decoration: none;cursor: pointer;color: #fff;font-weight: 100;background: #01b22c;border: #01b22c;" onclick="enviarFiltros('tienda_form_id','{{ shop.shop__pk }}')">{{ shop.shop__name }}</a></h6> -->
						<h6 style="margin-left:10px;"><i class="fas fa-check-circle" style="color:#01b22c;"></i> <a style="margin-left:3px;text-decoration: none;cursor: pointer;color: #000;font-weight: 100;" onclick="enviarFiltros('marca_form_id','{{ marc.brand }}')">{{ marc.brand }}</a></h6>
						{% else %}
						<h6 style="margin-left:10px;"><a style="text-decoration: none;cursor: pointer;color: #000;font-weight: 100;" onclick="enviarFiltros('marca_form_id','{{ marc.brand }}')">{{ marc.brand }}</a></h6>

						{% endif %}
						{% endfor %}




						</form>

					</div> <!-- col.// -->
					<div class="col-10">
						<div class="row">
							<div class="col-8">
								<h4 style="margin-top:15px; font-weight: 200;">ESTAS BUSCANDO: {{ texto }} </h4>
							</div>
							<div class="col-4 text-right">
								<div class="btn-group" role="group" style="
    margin-right: 30px;
    margin-top: 10px;
">
<label for="" style="
margin-top: 6px;
margin-right: 9px;
font-weight: 100;
">Ordenar por: </label>
							    <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="
    border-top-left-radius: 0;
		background-color: #01b22c;
		border:#01b22c;
		color:#fff;
		font-weight: 100;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
">
							      {% if order_by == "min" %}Menor precio de primero{% endif %}
										{% if order_by == "max" %}Mayor precio de primero{% endif %}
										{% if order_by == "dest" %}Destacados de primero{% endif %}
							    </button>
							    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
										<a class="dropdown-item" onclick="enviarFiltros('order_by_id','min')">Menor precio de primero</a>
							      <a class="dropdown-item" onclick="enviarFiltros('order_by_id','max')">Mayor precio de primero</a>
										<a class="dropdown-item" onclick="enviarFiltros('order_by_id','dest')">Destacados de primero</a>
							    </div>
							  </div>
							</div>
						</div>
						<div class="row">
							<h4 style="margin-top:5px;margin-left:15px;font-size:12px; font-weight: 200;">Mostrando {{ productos.paginator.count }} Productos </h4>
						</div>
						<div class="row">
							<div class="col article-feed">
									{% include 'comparagrow/component/items_buscador.html' %}
							</div>
						</div>
					</div> <!-- col.// -->
				</div>

			</div> <!-- container .//  -->

	<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}


{% block js %}
<script src="/static/js/notify.js"></script>
<script src="/static/js/infinite-scroll.pkgd.min.js"></script>
<script type="text/javascript">
  $('.article-feed').infiniteScroll({
    path: '.pagination__next',
    append: '.article',
    status: '.scroller-status',
    hideNav: '.pagination',
  });
</script>
<script>
	function FavoriteProduct(id){
		$.ajax({
      method: "GET",
      url: "/productos/favorito/"+id,
    })
      .done(function( msg ) {
          $.notify(msg.text, msg.status);
    });

	}
</script>
{% endblock %}
