{% extends 'comparagrow/porto/base.html' %}
{% load static %}


{% block content %}
<style media="screen">
	.card:hover{
		border:1px solid #01b22c !important;
		border-radius: inherit !important;
		/* box-shadow: 0.1px 0.1px 0.1px #7777 !important; */
		cursor:pointer;
	}
</style>

			<script>
				function enviarFiltros(filtro,valor){
					document.getElementById(filtro).value = valor;
					$('#formulario_filtro').submit();
				}
			</script>

			{% include 'comparagrow/component/script_barra_lateral.html' %}

			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 col-md-2" style="border-right: 0.5px solid #f6f6f6;margin-right: 0px;">
						<h4 style="margin-top:15px;font-weight: 200;">FILTRAR POR</h4>
						<h6 style="margin-top:15px;color:#01b22c;font-weight: 300;">PRECIO</h6>
						<!-- <form id="formulario_filtro" method="get" action="{{ pagina }}{{ pagina_shop }}"> -->
							<form id="formulario_filtro" method="post" action="">

							{% csrf_token %}
							<input type="hidden" name="tienda" id="tienda_form_id" value="{{ tienda }}">
							<input type="hidden" name="categoria" id="categoria_form_id" value="{{ categoria }}">
							<input type="hidden" name="texto" id="texto_form_id" value="{{ texto }}">
							<input type="hidden" name="marca" id="marca_form_id" value="{{ marca }}">
							<input type="hidden" name="page" id="page_id" value="{{ productos.number }}">
							<input type="hidden" name="order_by" id="order_by_id" value="min">
							<div class="form-check mb-2" style="display: flex;margin-left: -5px">
						  <input type="text" name="min_price" value="{{ min_price }}" style="font-size:12px; width:72px;" class="form-control mb-2 mr-sm-2" id="inlineFormInputPriceMin" placeholder="Min">
							 <input type="text" name="max_price" value="{{ max_price }}" style="font-size:12px; width:72px;" class="form-control mb-2 mr-sm-2" id="inlineFormInputPriceMax" placeholder="Max">
							</div>
							<button type="submit" style="font-size:12px;background:#672d93;border-color:#672d93;margin-left: 15px;width: calc(100% - 15px);" class="btn btn-primary mb-2">
								<i class="fas fa-cannabis"></i> Filtrar</button>

							<h6 style="margin-top:15px;color:#01b22c;font-weight: 300;">CATEGORIAS</h6>
							{% if categorias.count > 5 %}
								<ul style="
								overflow: auto;
								height: 139px;
								font-size: 14px;
					font-family: sans-serif;
					font-weight: 100;
					list-style: none;
					margin-left: -25px;
	">
							{% else %}
							<ul style="
							font-size: 14px;
				font-family: sans-serif;
				font-weight: 100;
				list-style: none;
				margin-left: -25px;
">
							{% endif %}
							{% for category in categorias %}


								<li class="p-b-6">
								{% if category.category__pk in categoria %}
								<a class="filter-link stext-106 trans-04 filter-link-active" style="display:flex;width: max-content;"><input onclick="enviarFiltros('categoria_form_id','{{ category.category__pk }}')" type="checkbox" name="checkbox_categoria[]" value="{{ category.category__pk }}" checked style="margin-right: 5px;margin-top: 5px;">
									{{ category.category__name }} ({{ category.dcount }})</a>
								{% else %}
								<a class="filter-link stext-106 trans-04" style="display:flex;width: max-content;"><input onclick="enviarFiltros('categoria_form_id','{{ category.category__pk }}')" type="checkbox" name="checkbox_categoria[]" value="{{ category.category__pk }}" style="margin-right: 5px;margin-top: 5px;">
									{{ category.category__name }} ({{ category.dcount }})</a>
								{% endif %}
								</li>
								{% endfor %}
							</ul>

							{% include 'comparagrow/component/barra_lateral.html' %}

							</form>

					</div> <!-- col.// -->
					<div class="col-sm-12 col-md-10">
						<div class="row">
							<div class="col-sm-12 col-md-6">

								<h4 style="margin-top:15px; font-weight: 200;">
								{{ texto }}
								</h4>
							</div>
							<div class="col-sm-12 col-md-6 text-right">
								<div class="btn-group" role="group" style="
    margin-right: 30px;
    margin-top: 10px;
">
<label for="" style="
margin-top: 6px;
margin-right: 9px;
font-weight: 100;
">Ordenar por: </label>
							    <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="
    border-top-left-radius: 0;
		background-color: #01b22c;
		border:#01b22c;
		color:#fff;
		font-weight: 100;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
">
							      {% if order_by == "min" %}Menor precio de primero{% endif %}
										{% if order_by == "max" %}Mayor precio de primero{% endif %}
										{% if order_by == "dest" %}Destacados de primero{% endif %}
							    </button>
							    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
										<a class="dropdown-item" onclick="enviarFiltros('order_by_id','min')">Menor precio de primero</a>
							      <a class="dropdown-item" onclick="enviarFiltros('order_by_id','max')">Mayor precio de primero</a>
										<a class="dropdown-item" onclick="enviarFiltros('order_by_id','dest')">Destacados de primero</a>
							    </div>
							  </div>
							</div>
						</div>
						<div class="row">
							<h4 style="margin-top:5px;margin-left:15px;font-size:12px; font-weight: 200;">Mostrando {{ productos.paginator.count }} Productos </h4>
						</div>
						<div class="row">
							<div class="col article-feed">
									{% include 'comparagrow/component/items_buscador.html' %}
							</div>
						</div>
					</div> <!-- col.// -->
				</div>

			</div> <!-- container .//  -->

	<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}


{% block js %}
<script src="/static/js/notify.js"></script>

<script>
	function FavoriteProduct(id){
		$.ajax({
      method: "GET",
      url: "/productos/favorito/"+id,
    })
      .done(function( msg ) {
          $.notify(msg.text, msg.status);
					console.log(msg.type)
					if(msg.type=="add"){
						console.log('add');
						console.log('#favorite_'+id);
						$('#favorite_'+id).removeClass("fas fa-heart");
						$('#favorite_'+id).addClass("far fa-heart");
					}
					if(msg.type=="del"){
						console.log('del');
						console.log('#favorite_'+id);
						$('#favorite_'+id).removeClass("far fa-heart");
						$('#favorite_'+id).addClass("fas fa-heart");
					}
					if(msg.type=="not"){
						console.log('not');
						console.log('#favorite_'+id);
					}
    });

	}
</script>
{% endblock %}
