{% extends 'comparagrow/porto/base.html' %}
{% load static %}


{% block content %}
<style>
	.card-header {
		border-radius: 0 0 0 0;
	border-bottom: 1px solid #672d93 !important;
	}
	.card-header {
		border-radius: 0 0 0 0;
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	color: inherit;
	background-color: #672d93 !important;
	border-bottom: 1px solid #672d93 !important;
	}
	.card-header > a {
		color:#fff;
	}
	.card-header:hover > a {
		color:#fff;
	}

	.card-header:first-child{
		border-radius: 0 0 0 0 !important;

	}

	.card-header:hover {
		border-radius: 0 0 0 0;
		color:#fff;
		border-bottom: 1px solid #01b22c !important;
		background-color: #01b22c !important;
		border-bottom: 1px solid #01b22c !important;
	}

	.card:hover > .card-header{
		color:#fff;
		border-bottom: 1px solid #01b22c !important;
		background-color: #01b22c !important;
		border-bottom: 1px solid #01b22c !important;
	}

	.card:hover{
		/* color:#fff; */
		border: 1px solid #01b22c !important;
		border-radius: 0 0 0 0;
		/* background-color: #01b22c !important; */
		/* border-bottom: 1px solid #01b22c !important; */
	}
</style>

			<script>
				function enviarFiltros(filtro,valor){
					document.getElementById(filtro).value = valor;
					$('#formulario_filtro').submit();
				}
			</script>
			{% include 'comparagrow/component/script_barra_lateral.html' %}

			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 col-md-2" style="border-right: 0.5px solid #f6f6f6;margin-right: 0px;">
						<h4 style="margin-top:15px;font-weight: 200;">FILTRAR POR</h4>
						<h6 style="margin-top:15px;color:#01b22c;font-weight: 300;"><strong>PRECIO</strong></h6>
						<form id="formulario_filtro" method="post" action="">
							{% csrf_token %}
							<input type="hidden" name="tienda" id="tienda_form_id" value="{{ tienda }}">
							<input type="hidden" name="categoria" id="categoria_form_id" value="{{ categoria }}">
							<input type="hidden" name="texto" id="texto_form_id" value="{{ texto }}">
							<input type="hidden" name="marca" id="marca_form_id" value="{{ marca }}">
							<input type="hidden" name="page" id="page_id" value="{{ productos.number }}">

							<input type="hidden" name="order_by" id="order_by_id" value="min">
							<div class="form-inline" style="margin-left:15px;">
						  <input type="text" name="min_price" value="{{ min_price }}" style="font-size:12px; width:72px;" class="form-control mb-2 mr-sm-2" id="inlineFormInputPriceMin" placeholder="Min">
							 <input type="text" name="max_price" value="{{ max_price }}" style="font-size:12px; width:72px;" class="form-control mb-2 mr-sm-2" id="inlineFormInputPriceMax" placeholder="Max">
							</div>
							<button type="submit" style="font-size:12px;background: #01b22c;border-color: #01b22c;margin-left: 15px;width: 100px;" class="btn btn-primary mb-2">
								<i class="fas fa-cannabis"></i> Filtrar</button>

							<h6 style="margin-top:15px;color:#01b22c;font-weight: 300;"><strong>CATEGORIAS</strong></h6>
							{% if categorias2.count > 5 %}
							<ul style="
							font-size: 14px;

				font-weight: 100;
				list-style: none;
				margin-left: -25px;
">
							{% else %}
								<ul style="
								font-size: 14px;

					font-weight: 100;
					list-style: none;
					margin-left: -25px;
	">
							{% endif %}
							{% for category in categorias2 %}

								{% if forloop.counter < 6 %}
								<li class="p-b-6">
								{% if category.category__pk in categoria_filtro %}
								<a class="filter-link stext-106 trans-04 filter-link-active" style="display:flex;width: max-content;">
									<input class="css_category" onclick="checkboxFilter('#checkbox_categoria_{{ forloop.counter }}')" type="checkbox"  value="{{ category.category__pk }}" checked style="margin-right: 5px;margin-top: 5px;">
									{{ category.category__name }} ({{ category.dcount }})
								</a>
								{% else %}
								<a class="filter-link stext-106 trans-04" style="display:flex;width: max-content;">
									<input class="css_category" onclick="checkboxFilter('#checkbox_categoria_{{ forloop.counter }}')" type="checkbox"  value="{{ category.category__pk }}" style="margin-right: 5px;margin-top: 5px;">
									{{ category.category__name }}  ({{ category.dcount }})
								</a>
								{% endif %}
								</li>
								{% endif %}
								{% endfor %}
								<li>
							    <button type="button" data-toggle="modal" data-target="#categorylistmodal" style="font-size:12px;background: #01b22c;border-color: #01b22c;width: 100px;" class="btn btn-primary mb-2"><i class="fas fa-cannabis"></i> Ver todas</button></li>

							</ul>
							<div class="modal fade" id="categorylistmodal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
							  <div class="modal-dialog modal-lg">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h4 class="modal-title" id="largeModalLabel">Lista de Categorias</h4>
							        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							      </div>
							      <div class="modal-body">
							        <div class="row">
							          <div class="col-sm-3">
							            <a class="filter-link stext-106 trans-04 filter-link-active" style="width: max-content;">
							              <input class="seleccionar_category_all" onclick="seleccionar('css_category','seleccionar_category_all')" type="checkbox" style="margin-right: 5px;margin-top: 5px;">
							              Seleccionar todos
							            </a>
							          </div>


							        </div>
							        <div class="row">
							          {% for category in categorias2 %}

							          {% if category.category__pk in categoria_filtro %}
							          <div class="col-sm-4">

							          <a class="filter-link stext-106 trans-04 filter-link-active" style="width: max-content;">
							            <input class="css_category" type="checkbox" id="checkbox_categoria_{{ forloop.counter }}" name="checkbox_categoria[]" value="{{ category.category__pk }}" checked style="margin-right: 5px;margin-top: 5px;">
							           {{ category.category__name }} ({{ category.dcount }})
							          </a>
							        </div>

							          {% else %}
							          <div class="col-sm-4">

							          <a class="filter-link stext-106 trans-04" style="width: max-content;">
							            <input class="css_category" type="checkbox" id="checkbox_categoria_{{ forloop.counter }}" name="checkbox_categoria[]" value="{{ category.category__pk }}" style="margin-right: 5px;margin-top: 5px;">
							            {{ category.category__name }} ({{ category.dcount }})
							          </a>
							        </div>

							          {% endif %}
							          {% endfor %}
							      </div>
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-light" data-dismiss="modal"
							        style="    background-color: #01b22c;
							border: #01b22c;
							color: #fff;">Cerrar</button>
							        <button type="button" onclick="limpiar('css_brand')" class="btn btn-light" >Limpiar</button>
							        <button type="submit" class="btn btn-light"
							        style="    background-color: #672d93;
							border: #672d93;
							color: #fff;">Filtrar</button>
							      </div>
							    </div>
							  </div>
							</div>

						{% include 'comparagrow/component/barra_lateral.html' %}
						</form>

					</div> <!-- col.// -->
					<div class="col-sm-12 col-md-10">
						<div class="row">
							<div class="col-sm-12 col-md-6">
								{% for item in categorias.get_ancestors %}
								<a href="/productos/categorias/{{ item.slug }}" style="font-weight: 100;color: #01b22c;">
									{{ item.name }}
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</a>
								{% endfor %}
								<h4 style="margin-top:15px;font-weight: 200;font-size: 37px;">
								{{ categorias.name }} 
								</h4>
							</div>
							<div class="col-sm-12 col-md-6 text-right">
								<div class="btn-group" role="group" style="
    margin-right: 30px;
    margin-top: 10px;
">
<label for="" style="
margin-top: 6px;
margin-right: 9px;
font-weight: 100;
">Ordenar por: </label>
							    <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="
    border-top-left-radius: 0;
		background-color: #01b22c;
		border:#01b22c;
		color:#fff;
		font-weight: 100;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
">
							      {% if order_by == "min" %}Menor precio primero{% endif %}
										{% if order_by == "max" %}Mayor precio primero{% endif %}
										{% if order_by == "dest" %}Mejor resultado{% endif %}
							    </button>
							    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
										<a class="dropdown-item" style="cursor:pointer;" onclick="enviarFiltros('order_by_id','min')">Menor precio primero</a>
							      <a class="dropdown-item" style="cursor:pointer;" onclick="enviarFiltros('order_by_id','max')">Mayor precio primero</a>
										<a class="dropdown-item" style="cursor:pointer;" onclick="enviarFiltros('order_by_id','dest')">Mejor resultado</a>
							    </div>
							  </div>
							</div>
						</div>
						<div class="row">
							<h4 style="margin-top:5px;margin-left:15px;font-size:12px; font-weight: 200;">Mostrando {{ productos.paginator.count }} Productos </h4>
						</div>
						<div class="row">
							<div class="col article-feed">
									{% include 'comparagrow/component/items_buscador.html' %}
							</div>
						</div>
					</div> <!-- col.// -->
				</div>

			</div> <!-- container .//  -->

	<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}


{% block js %}
<script src="/static/js/notify.js"></script>
<!-- <script src="/static/js/infinite-scroll.pkgd.min.js"></script>
<script type="text/javascript">
  $('.article-feed').infiniteScroll({
    path: '.pagination__next',
    append: '.article',
    status: '.scroller-status',
    hideNav: '.pagination',
  });
</script> -->
<script>
	function FavoriteProduct(id){
		$.ajax({
      method: "GET",
      url: "/productos/favorito/"+id,
    })
      .done(function( msg ) {
          $.notify(msg.text, msg.status);
					console.log(msg.type)
					if(msg.type=="add"){
						console.log('add');
						console.log('#favorite_'+id);
						$('#favorite_'+id).removeClass("fas fa-heart");
						$('#favorite_'+id).addClass("far fa-heart");
					}
					if(msg.type=="del"){
						console.log('del');
						console.log('#favorite_'+id);
						$('#favorite_'+id).removeClass("far fa-heart");
						$('#favorite_'+id).addClass("fas fa-heart");
					}
					if(msg.type=="not"){
						console.log('not');
						console.log('#favorite_'+id);
					}
    });

	}

	(function ($) {
		$.fn.serializeFormJSON = function () {

				var o = {};
				var a = this.serializeArray();
				$.each(a, function () {
						if (o[this.name]) {
								if (!o[this.name].push) {
										o[this.name] = [o[this.name]];
								}
								o[this.name].push(this.value || '');
						} else {
								o[this.name] = this.value || '';
						}
				});
				return o;
		};
})(jQuery);

function AddFavoriteSearch () {
		var data = $('#formulario_filtro').serializeFormJSON();
		datas = JSON.stringify(data)
		$.ajax({
			method: "GET",
			data:{'data':datas,'url':'{{ request.build_absolute_uri }}','count':'{{ products.paginator.count }}','product_front':'{{ products.0.id }}'},
			url: "/productos/favorito/search/add"
		}).done(function( msg ) {
			$.notify(msg.text, msg.status);
			if(msg.type=="add"){
				$('#search_favorite').removeClass("fas fa-heart");
				$('#search_favorite').addClass("far fa-heart");
			}
			if(msg.type=="del"){
				$('#search_favorite').removeClass("far fa-heart");
				$('#search_favorite').addClass("fas fa-heart");
			}
	});;
}
</script>
{% endblock %}
