{% extends 'comparagrow/porto/base.html' %}
{% load static %}
{% load menu_categorias %}
{% block content %}
<style>
	p.mb-0 {
    color: #756c6c;
    font-size: 16px;
}
</style>
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
		<div class="container">
			<div class="row">

				<div class="col-md-12 align-self-center p-static order-2 text-center">

					<h1 class="text-dark text-dark text-10">Suscríbete en ComparaGrow</h1>
					<!-- <span class="sub-title text-dark">Ofrecemos Planes de suscripción para que tus productos sean encontrados en nuestro sitio web.</span> -->
				</div>
			</div>
		</div>
</section>


				<section class="section section-default border-0 my-0" style="background:#fff;padding: 0px;">
									<div class="container">
										<div class="row">
											<div class="col">

												<div class="row process">
													<div class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
														<div class="process-step-circle">
															<strong class="process-step-circle-content"><img src="https://img.icons8.com/ultraviolet/40/000000/audience.png"></strong>
														</div>
														<div class="process-step-content px-4">
															<p class="mb-0">Tus productos se <b>mostrarán</b> en nuestro sitio web</p>
														</div>
													</div>
													<div class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
														<div class="process-step-circle">
															<strong class="process-step-circle-content"><img src="https://img.icons8.com/ultraviolet/40/000000/commercial.png"></strong>
														</div>
														<div class="process-step-content px-4">
															<p class="mb-0">Podrás hacer <b>Publicidad</b></p>
														</div>
													</div>
													<div class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" style="animation-delay: 600ms;">
														<div class="process-step-circle">
															<strong class="process-step-circle-content"><img src="https://img.icons8.com/ultraviolet/40/000000/positive-dynamic.png"></strong>
														</div>
														<div class="process-step-content px-4">
															<p class="mb-0">Recibirás <b>Reporte Estadístico</b> que beneficiará tus Ventas</p>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>
								</section>

<div class="container">

  <div class="row mb-4">
    <div class="col">
      <h4 class="mb-2">PLANES <strong>COMPARAGROW</strong></h4>
    </div>
  </div>

  <div class="pricing-table pricing-table-no-gap mb-4">
		<div class="col-md-6 col-lg-3">
      <div class="plan">
        <div class="plan-header" style="background: #672d93;">
          <h3>Plan FULL</h3>
        </div>
        <div class="plan-price" style="
    height: 144px;
">
          <span class="price"><span class="price-unit">$</span>20.000</span>
          <label class="price-label">POR MES</label>
					<span class=""></span>
        </div>
        <div class="plan-features">
						<ul class="list list-icons list-primary mb-0">
							<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-screen-desktop text-color-primary"></i> Te permite incorporar <b>TODOS</b> los productos de tu Tienda, mientras
apliquen a las categorías establecidas en ComparaGrow.cl</li>
							<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-support text-color-primary"></i> La vigencia del Plan es de 1 mes, desde que tus productos se han cargado
en nuestro sitio.</li>
							<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-layers text-color-primary"></i>Incluye <b>Reporte Estadístico</b> mensual para que mejores tu Estrategia de
Ventas.</li>
						</ul>
        </div>
        <div class="plan-footer">
          {% if user.is_authenticated %}
          <a href="/suscribir?action=plan&code=CGPF" class="btn btn-dark btn-modern btn-outline py-2 px-4">Me interesa</a>
          {% else %}
					<a href="/suscribir?action=plan&code=CGPF" class="btn btn-dark btn-modern btn-outline py-2 px-4">Me interesa</a>
          <!-- <a class="btn btn-dark btn-modern btn-outline py-2 px-4" data-toggle="modal" data-target="#modal_login">Me interesa</a> -->
          {% endif %}
        </div>
      </div>
    </div>
		<div class="col-md-6 col-lg-3">
      <div class="plan">
        <div class="plan-header">
          <h3>Plan Cobro Por Click</h3>
        </div>
        <div class="plan-price" style="
    height: 144px;
">
          <span class="price"><span class="price-unit">$</span>300</span>
          <label class="price-label">POR CLICK</label>
					<span class=""></span>
        </div>
        <div class="plan-features">
					<ul class="list list-icons list-primary mb-0">
						<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-screen-desktop text-color-primary"></i> Plan Cobro Por Click (CPC), es un cobro por redireccionamiento a tu sitio
desde ComparaGrow.cl, que tiene un valor de $500 pesos.</li>
						<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-support text-color-primary"></i> La vigencia del Plan es de 1 mes, desde que tus productos se han cargado
en nuestro sitio.</li>
						<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-doc text-color-primary"></i> CPC se respalda en base a Google Analytics.</li>
						<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-layers text-color-primary"></i> Incluye <b>Reporte Estadístico</b> mensual para que mejores tu Estrategia de
Ventas.</li>
					</ul>
        </div>
        <div class="plan-footer">
          {% if user.is_authenticated %}
          <a href="/suscribir?action=plan&code=CGCPC" class="btn btn-dark btn-modern btn-outline py-2 px-4">Me interesa</a>
          {% else %}
					<a href="/suscribir?action=plan&code=CGCPC" class="btn btn-dark btn-modern btn-outline py-2 px-4">Me interesa</a>

          <!-- <a class="btn btn-dark btn-modern btn-outline py-2 px-4" data-toggle="modal" data-target="#modal_login">Me interesa</a> -->
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="plan">
        <div class="plan-header">
          <h3>Plan Mix</h3>
        </div>
        <div class="plan-price">
          <span class="price"><span class="price-unit">$</span>13.000</span>
          <label class="price-label">POR MES</label>
					<span class="">+ $100 por click</span>
        </div>
        <div class="plan-features">
					<ul class="list list-icons list-primary mb-0">
						<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-screen-desktop text-color-primary"></i> Este Plan, mezcla al Plan Full y CPC ya que debes pagar un precio base de
$40.000 pesos y $300 pesos por cada redireccionamiento.</li>
						<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-support text-color-primary"></i> La vigencia del Plan es de 1 mes, desde que tus productos se han cargado
en nuestro sitio.</li>
						<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-layers text-color-primary"></i> Incluye <b>Reporte Estadístico</b> mensual para que mejores tu Estrategia de
Ventas.</li>
					</ul>
        </div>
        <div class="plan-footer">
          {% if user.is_authenticated %}
          <a href="/suscribir?action=plan&code=CGPM" class="btn btn-dark btn-modern btn-outline py-2 px-4">Me interesa</a>
          {% else %}
					<a href="/suscribir?action=plan&code=CGPM" class="btn btn-dark btn-modern btn-outline py-2 px-4">Me interesa</a>

          <!-- <a class="btn btn-dark btn-modern btn-outline py-2 px-4" data-toggle="modal" data-target="#modal_login">Me interesa</a> -->
          {% endif %}
        </div>
      </div>
    </div>


    <div class="col-md-6 col-lg-3">
      <div class="plan">
        <div class="plan-header">
          <h3>Plan Producto</h3>
        </div>
        <div class="plan-price" style="
    height: 144px;
">
          <span class="price"><span class="price-unit">$</span>6.000</span>
          <label class="price-label">POR MES</label>
					<span class=""></span>
        </div>
        <div class="plan-features">
					<ul class="list list-icons list-primary mb-0">
						<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-screen-desktop text-color-primary"></i> Este Plan te permite incorporar solo 1 (un) producto y tiene una duración de
1 mes.</li>
						<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-support text-color-primary"></i> La vigencia del Plan es de 1 mes, desde que tu producto se ha cargado en
nuestro sitio.</li>
						<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-layers text-color-primary"></i> Incluye <b>Reporte Estadístico</b> mensual para que mejores tu Estrategia de
Ventas.</li>
					</ul>

        </div>
        <div class="plan-footer">
          {% if user.is_authenticated %}
          <a class="btn btn-dark btn-modern btn-outline py-2 px-4" href="/suscribir?action=plan&code=CGPP">Me interesa</a>

          {% else %}
					<a class="btn btn-dark btn-modern btn-outline py-2 px-4" href="/suscribir?action=plan&code=CGPP">Me interesa</a>

          <!-- <a class="btn btn-dark btn-modern btn-outline py-2 px-4" data-toggle="modal" data-target="#modal_login">Me interesa</a> -->
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>


<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
					<div class="container">
						<div class="row">

							<div class="col-md-12 align-self-center p-static order-2 text-center">

								<h1 class="text-dark text-dark text-10">Incrementa más tus ventas al contratar alguno de
estos Planes Publicitarios</h1>
								<!-- <span class="sub-title text-dark">Publicitarios para estar mejor posicionado en nuestro sitio web.</span> -->
							</div>
						</div>
					</div>
				</section>

<div class="container-fluid">


  <div class="pricing-table pricing-table-no-gap mb-4">
		<div class="col-md-6 col-lg-1">
		</div>
    <div class="col-md-6 col-lg-2">
      <div class="plan">
        <div class="plan-header">
          <h3>CARRUSEL INICIO</h3>
        </div>
        <div class="plan-price">
					<span><span style="text-decoration: line-through;">$120.000</span><b style="
    color: red;
    font-size: 18px;
">-50%</b></span>
          <span class="price" >
						<span class="price-unit">$</span>60.000
					</span>
          <label class="price-label">POR MES</label>
        </div>
        <div class="plan-features">
					<ul class="list list-icons list-primary mb-0">
						<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-screen-desktop text-color-primary"></i> Es el lugar de mayor exposición para tu marca, permitiéndote mostrar 1
anuncio de medidas 1400px *180px (versión escritorio) y 300px * 150px
(dispositivos móviles).</li>
						<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-wallet text-color-primary"></i> El valor del espacio publicitario es de $60.000 y tiene una duración de 1
mes, una vez subido tu anuncio a nuestro sitio.</li>

					</ul>
        </div>
        <div class="plan-footer">
          {% if user.is_authenticated %}
          <a href="/suscribir?action=publicidad&code=CGCI" class="btn btn-dark btn-modern btn-outline py-2 px-4">Me interesa</a>
          {% else %}
					<a href="/suscribir?action=publicidad&code=CGCI" class="btn btn-dark btn-modern btn-outline py-2 px-4">Me interesa</a>

          <!-- <a class="btn btn-dark btn-modern btn-outline py-2 px-4" data-toggle="modal" data-target="#modal_login">Me interesa</a> -->
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-2">
			<div class="plan">
        <div class="plan-header" style="background: #672d93;">
          <h3>CARRUSEL DESTACADOS</h3>
        </div>
        <div class="plan-price">
					<span><span style="text-decoration: line-through;">$90.000</span><b style="
					    color: red;
					    font-size: 18px;
					">-50%</b></span>
          <span class="price"><span class="price-unit">$</span>45.000</span>
          <label class="price-label">POR MES</label>
        </div>
				<div class="plan-features">
					<ul class="list list-icons list-primary mb-0">
						<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-screen-desktop text-color-primary"></i> Permite mostrar 1 producto en el carrusel de destacados.</li>
						<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-wallet text-color-primary"></i> El valor del espacio publicitario es de $45.000 y tiene una duración de 1
mes, una vez subido tu anuncio a nuestro sitio.</li>

					</ul>
        </div>
        <div class="plan-footer">
          {% if user.is_authenticated %}
          <a href="/suscribir?action=publicidad&code=CGCD" class="btn btn-dark btn-modern btn-outline py-2 px-4">Me interesa</a>
          {% else %}
					<a href="/suscribir?action=publicidad&code=CGCD" class="btn btn-dark btn-modern btn-outline py-2 px-4">Me interesa</a>

          <!-- <a class="btn btn-dark btn-modern btn-outline py-2 px-4" data-toggle="modal" data-target="#modal_login">Me interesa</a> -->
          {% endif %}
        </div>
      </div>
    </div>
		<div class="col-md-6 col-lg-2">
      <div class="plan">
        <div class="plan-header">
          <h3>CARRUSEL ULTIMAS REBAJAS</h3>
        </div>
        <div class="plan-price">
					<span><span style="text-decoration: line-through;">$60.000</span><b style="
					    color: red;
					    font-size: 18px;
					">-50%</b></span>
          <span class="price"><span class="price-unit">$</span>30.000</span>
          <label class="price-label">POR MES</label>
        </div>
				<div class="plan-features">
					<ul class="list list-icons list-primary mb-0">
						<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-screen-desktop text-color-primary"></i> Permite mostrar 1 producto en carrusel últimas rebajas.</li>
						<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-wallet text-color-primary"></i> El valor del espacio publicitario es de $30.000 y tiene una duración de 1
mes, una vez subido tu anuncio a nuestro sitio.</li>

					</ul>
        </div>
        <div class="plan-footer">
          {% if user.is_authenticated %}
          <a class="btn btn-dark btn-modern btn-outline py-2 px-4" href="/suscribir?action=publicidad&code=CGCUR">Me interesa</a>

          {% else %}
					<a class="btn btn-dark btn-modern btn-outline py-2 px-4" href="/suscribir?action=publicidad&code=CGCUR">Me interesa</a>

          <!-- <a class="btn btn-dark btn-modern btn-outline py-2 px-4" data-toggle="modal" data-target="#modal_login">Me interesa</a> -->
          {% endif %}

        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-2">
      <div class="plan">
        <div class="plan-header" style="background: #672d93;">
          <h3>CARRUSEL ARMA TU GROW</h3>
        </div>
        <div class="plan-price">
					<span><span style="text-decoration: line-through;">$30.000</span><b style="
					    color: red;
					    font-size: 18px;
					">-50%</b></span>
          <span class="price"><span class="price-unit">$</span>15.000</span>
          <label class="price-label">POR MES</label>
        </div>
				<div class="plan-features">
					<ul class="list list-icons list-primary mb-0">
						<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-screen-desktop text-color-primary"></i> Permite mostrar 1 producto en carrusel arma tu grow.</li>
						<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-wallet text-color-primary"></i> El valor del espacio publicitario es de $15.000 y tiene una duración de 1
mes, una vez subido tu anuncio a nuestro sitio.</li>

					</ul>
        </div>
        <div class="plan-footer">
          {% if user.is_authenticated %}
          <a href="/suscribir?action=publicidad&code=CGCATG" class="btn btn-dark btn-modern btn-outline py-2 px-4">Me interesa</a>
          {% else %}
					<a href="/suscribir?action=publicidad&code=CGCATG" class="btn btn-dark btn-modern btn-outline py-2 px-4">Me interesa</a>

          <!-- <a class="btn btn-dark btn-modern btn-outline py-2 px-4" data-toggle="modal" data-target="#modal_login">Me interesa</a> -->
          {% endif %}
        </div>
      </div>
    </div>

		<div class="col-md-6 col-lg-2">
      <div class="plan">
        <div class="plan-header">
          <h3>CINTA PROMOCIONES</h3>
        </div>
        <div class="plan-price">
					<span><span style="text-decoration: line-through;">$100.000</span><b style="
					    color: red;
					    font-size: 18px;
					">-50%</b></span>
          <span class="price"><span class="price-unit">$</span>50.000</span>
          <label class="price-label">POR MES</label>
        </div>
				<div class="plan-features">
					<ul class="list list-icons list-primary mb-0">
						<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-screen-desktop text-color-primary"></i> Permite mostrar 1 anuncio en cinta promociones (cinta negra ubicado en la
parte superior de la página).</li>
						<li style="line-height: 19px;text-align: left;font-size: 13px;color: #756c6c;"><i class="icons icon-wallet text-color-primary"></i> El valor del espacio publicitario es de $50.000 y tiene una duración de 1
mes, una vez subido tu anuncio a nuestro sitio.</li>

					</ul>
        </div>
        <div class="plan-footer">
          {% if user.is_authenticated %}
          <a class="btn btn-dark btn-modern btn-outline py-2 px-4" href="/suscribir?action=publicidad&code=CGCIP">Me interesa</a>

          {% else %}
					<a class="btn btn-dark btn-modern btn-outline py-2 px-4" href="/suscribir?action=publicidad&code=CGCIP">Me interesa</a>

          <!-- <a class="btn btn-dark btn-modern btn-outline py-2 px-4" data-toggle="modal" data-target="#modal_login">Me interesa</a> -->
          {% endif %}

        </div>
      </div>
    </div>
  </div>
	<div class="row mb-4" style="">
		<div class="col-md-6 col-lg-1">
		</div>
    <div class="col-md-12 col-lg-11">
      <!-- <h4 class="mb-2">CARRUSEL</h4> -->
			<small style="font-size: 13px;"><strong>Importante:</strong> Los Planes Publicitarios se pueden contratar solo si ya se está suscrito en alguno de los
Planes ComparaGrow.</small>
    </div>
  </div>
</div>
<div class="container">
	<div class="row" style="margin-top:60px;">

		<p class="text-center">
			<b class="text-center">¡Gracias por tu interés en ser parte Comparagrow! </b><br>
			Constantemente estamos buscando nuevas Tiendas/Clientes para incrementar nuestro creciente
			catálogo de productos y así ofrecer una mejor experiencia de búsqueda a nuestros Usuarios.
			Si tienes dudas, llámanos al Cel/Whatsapp : +56 9 79670520 o envíanos un email a
			contacto@comparagrow.cl, nos pondremos en contacto contigo a la brevedad. <br>
			Si estás decidido, y quieres que tus productos aparezcan en nuestro sitio web, elije uno de los Planes
			que se indican y te contactaremos para gestionar el proceso de carga de tus productos a

			nuestro sitio web.
			 
			<br><br>
			<b>¡GRACIAS POR TU INTERÉS!</b>
		</p>
  </div>
</div>


<!-- <nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand" href="#">Fixed bottom</a>
</nav> -->



{% endblock %}

{% block js %}
<script>
	$( function() {
		$( "#ul_pcpc_btn" ).on( "click", function() {
	      $('#ul_pcpc').show();
				$('#ul_pcpc_btn').hide();
	  });
		$( "#ul_fp_btn" ).on( "click", function() {
	      $('#ul_fp').show();
				$('#ul_fp_btn').hide();
	  });
		$( "#ul_pm_btn" ).on( "click", function() {
	      $('#ul_pm').show();
				$('#ul_pm_btn').hide();
	  });
		$( "#ul_pp_btn" ).on( "click", function() {
	      $('#ul_pp').show();
				$('#ul_pp_btn').hide();
	  });
		$( "#ul_ci_btn" ).on( "click", function() {
	      $('#ul_ci').show();
				$('#ul_ci_btn').hide();
	  });
		$( "#ul_cd_btn" ).on( "click", function() {
	      $('#ul_cd').show();
				$('#ul_cd_btn').hide();
	  });
		$( "#ul_cur_btn" ).on( "click", function() {
	      $('#ul_cur').show();
				$('#ul_cur_btn').hide();
	  });
		$( "#ul_catg_btn" ).on( "click", function() {
	      $('#ul_catg').show();
				$('#ul_catg_btn').hide();
	  });
		$( "#ul_cp_btn" ).on( "click", function() {
	      $('#ul_cp').show();
				$('#ul_cp_btn').hide();
	  });

	});
</script>
{% endblock %}
