{% extends 'comparagrow/porto/base.html' %}
{% load static %}
{% load menu_categorias %}
{% block content %}
<div class="container">
  <div class="row py-4">
    <div class="col-lg-6">

      <div class="overflow-hidden mb-1">
        <h2 class="font-weight-normal text-7 mt-2 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
          <strong class="font-weight-extra-bold">
            Contacta</strong>nos</h2>
      </div>
      <div class="overflow-hidden mb-4 pb-3">
        <p class="mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="400">
          Si requieres alguna información llena el siguiente formulario y contactanos.</p>
      </div>

      <form id="contactForm" class="contact-form" method="POST">
        {% if rsp == "exito" %}
        <div class="contact-form-success alert alert-success mt-4" id="contactSuccess">
          <strong>Enviado!</strong> Su mensaje se envio con exito.
        </div>
        {% endif %}
        {% if rsp == "error" %}
        <div class="contact-form-error alert alert-danger mt-4" id="contactError">
          <strong>No enviado!</strong> No pudimos recibir tu mensaje.
          <span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
        </div>
        {% endif %}
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-lg-6">
            <label class="required font-weight-bold text-dark text-2">Tu nombre</label>
            <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
          </div>
          <div class="form-group col-lg-6">
            <label class="required font-weight-bold text-dark text-2">Tu correo electrónico</label>
            <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100"
            class="form-control" name="email" id="email" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label class="font-weight-bold text-dark text-2">Asunto</label>
            <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" id="subject" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label class="required font-weight-bold text-dark text-2">Mensaje</label>
            <textarea maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" name="message" id="message" required></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <input type="submit" style="background-color:#01b22c;border-color: #01b22c;" value="Send Message" class="btn btn-primary btn-modern" data-loading-text="Loading...">
          </div>
        </div>
      </form>

    </div>
    <div class="col-lg-6">

      <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="800">
        <h4 class="mt-2 mb-1">Nuestras <strong>Oficinas</strong></h4>
        <ul class="list list-icons list-icons-style-2 mt-2">
          <li><i class="fas fa-map-marker-alt top-6" style="color: #01b22c;border-color: #01b22c;"></i> <strong class="text-dark">Address:</strong> 1234 Street Name, City Name, United States</li>
          <li><i class="fas fa-phone top-6" style="color: #01b22c;border-color: #01b22c;"></i> <strong class="text-dark">Fono:</strong> +56 9 79670520</li>
          <li><i class="fab fa-whatsapp top-6" style="color: #01b22c;border-color: #01b22c;"></i> <strong class="text-dark">Fono:</strong> +56 9 79670520</li>
          <li><i class="fas fa-envelope top-6" style="color: #01b22c;border-color: #01b22c;"></i> <strong class="text-dark">Email:</strong> <a href="mailto:contacto@comparagrow.cl">contacto@comparagrow.cl</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>
<!-- <nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand" href="#">Fixed bottom</a>
</nav> -->

{% endblock %}
{% block scriptb %}

{% endblock %}
