{% extends 'comparagrow/base.html' %}
{% load static %}


{% block content %}

			<div class="container-fluid">
				<div class="row">
          <div class="col-2">

          </div>
          <div class="col-4">
            <div class="row justify-content-md-center" style="    margin-top: 10px;">
              <img id="img_big" src="/media/{{ producto_image.0.image }}" alt="" style="max-width: 450px;height: 400px;">
            </div>
            <div class="row" style="margin-bottom:40px;    margin-top: 10px;">
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="card-deck">
											{% for item in producto_image %}
											{% if forloop.first %}

											{% else %}
                      <div class="card">
                        <img src="/media/{{ item.image }}" style="height: 200px;width:200px;" alt="">
                      </div>
											{% endif %}
											{% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6" style="">
              <div class="row" style="margin-left:20px;margin-top: 30px;color:#777; font-weight:100;">
                {% for item in producto.category.get_ancestors %}
                  {% if forloop.first %}
                      <a style="text-transform: uppercase;margin-right:2px;color:#777;font-weight:100;cursor:pointer;text-decoration:none;" href="/productos/categorias/{{ item.slug }}"> {{ item.name }} <a/>
                  {% else %}
                      /  <a style="text-transform: uppercase;margin-left:2px;color:#777;margin-right:2px;font-weight:100;cursor:pointer;text-decoration:none;" href="/productos/categorias/{{ item.slug }}">  {{ item.name }} <a/>
                  {% endif %}
                {% endfor %}
                  /  <a style="text-transform: uppercase;margin-left:2px;color:#777;font-weight:100;cursor:pointer;text-decoration:none;" href="/productos/categorias/{{ producto.category.slug }}"> {{ producto.category.name }}  <a/>
              </div>
              <br>
              <div class="row" style="margin-left:20px;">
                <h3 style="font-weight:100;">{{ producto.name }}</h3>
              </div>
              <div class="row" style="margin-left:20px;">
                <p style="font-weight:200; font-size:16px;color:#672d93;">CPL {{ producto.total }}</p>
              </div>
              <div class="row" style="margin-left:20px;">
                <a href="/productos/redirect/{{ producto.id }}" target="_blank" class="btn btn-primary"  style="background-color: #672d93;color:#fff;border: #672d93;padding-left: 20px;padding-right: 20px;border-radius: 8px;width:265px;padding-top: 9px;height: 42px;">
                  COMPRAR AHORA EN TIENDA
                </a>
              </div>
              <br>
              <div class="row" style="margin-left:20px;">
                {% if user.is_authenticated %}
                <a onclick="FavoriteProduct('{{ producto.id }}')" class="btn btn-primary"  style="background-color: #01b22c;color:#fff;border: #01b22c;padding-left: 20px;padding-right: 20px;border-radius: 8px;width:265px;padding-top: 9px;height: 42px;">
                  RECIBIR OFERTAS
                </a>
                {% else %}
                <a data-toggle="modal" data-target="#modal_login"  class="btn btn-primary"  style="background-color: #01b22c;color:#fff;border: #01b22c;padding-left: 20px;padding-right: 20px;border-radius: 8px;width:265px;padding-top: 9px;height: 42px;">
                  RECIBIR OFERTAS
                </a>
                {% endif %}
              </div>
              <div class="row" style="margin-left:20px;margin-top:30px;">
                <h3 style="font-weight:100;">Detalle</h3>
              </div>
              <div class="row" style="margin-left:20px;margin-top:10px; padding-right:20px;">
                <p style="font-weight:100;">{{ producto.description }}</p>
              </div>
          </div>
				</div>
				<div class="row justify-content-md-center">
						<div class="col-6">
							<table class="table">
							  <thead class="thead-dark">
							    <tr>
							      <th scope="col">#</th>
							      <th scope="col">Caracteristica</th>
							      <th scope="col">Valor</th>
							    </tr>
							  </thead>
							  <tbody>
									{% for t in producto_attr %}
									<tr>
							      <th scope="row">#</th>
							      <td>{{ t.attributes.name }}</td>
							      <td>{{ t.values }}</td>
							    </tr>
									{% endfor %}
							  </tbody>
							</table>

						</div>
				</div>
				<div class="row justify-content-md-center">
						<div class="col-6">
							<canvas id="myChart" width="400" height="400"></canvas>
						</div>
				</div>

			</div> <!-- container .//  -->

	<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}


{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# Historico de Precio',
            data: [12, 19, 3, 5, 2, 3],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
<script src="/static/js/notify.js"></script>
<script src="/static/js/infinite-scroll.pkgd.min.js"></script>
<script>
	function FavoriteProduct(id){
		$.ajax({
      method: "GET",
      url: "/productos/favorito/"+id,
    })
      .done(function( msg ) {
          $.notify(msg.text, msg.status);
    });

	}
</script>
{% endblock %}
