{% extends 'comparagrow/base_blank.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
<div class="row justify-content-md-center" style="margin-top: 100px;color:#672d93">
  <i style="font-size:120px;" class="fas fa-exclamation-circle"></i>
</div>
<div class="row justify-content-md-center" style="margin-top: 30px;color:#672d93">
  <h5 style="font-size:44px;">RECURSO NO ENCONTRADO</h5>
</div>
<div class="row justify-content-md-center" >
  <p>Disculpe las molestias causadas</p>
</div>
</div>

{% endblock %}
