{% extends 'comparagrow/porto/base.html' %}
{% load static %}
{% load l10n %}
{% load humanize %}

{% block content %}
<style media="screen">
	.card:hover{
		border-radius: inherit;
		box-shadow: 0.1px 0.1px 0.1px #7777;
		cursor:pointer;
	}
</style>
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md" style="
    padding-bottom: 13px;
    padding-top: 20px;
">
					<div class="container">
						<div class="row">

							<div class="col-md-12 align-self-center p-static order-2 text-center">

								<h1 class="text-dark text-dark text-10"><strong>Favoritos</strong></h1>
							</div>
						</div>
					</div>
				</section>
			<div class="container">
				<div class="row">
          <div class="col-1">

          </div>
					<div class="col-10">
            <!-- <div class="row justify-content-md-center" style="margin-top:40px;" >
              <h1 style="font-weight:200;">FAVORITOS</h1>
              <br>
              <br>
            </div> -->
						{% if productos %}
						<div class="row">
							<div class="col article-feed">
									{% include 'comparagrow/component/favorite_item.html' %}
							</div>
						</div>
						{% else %}
						<div class="row justify-content-md-center" style="margin-top:40px;" >
					  <p>No tienes aún productos guardados en tus Favoritos.<br>
					  Agrégalos y serás notificado cuando estén en oferta.</p>
					  </div>
						{% endif %}

					</div> <!-- col.// -->
				</div>

			</div> <!-- container .//  -->

	<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}


{% block js %}
<script src="/static/js/notify.js"></script>
<script>
	function FavoriteProduct(id){
		$.ajax({
      method: "GET",
      url: "/productos/favorito/"+id,
    })
      .done(function( msg ) {
          $.notify(msg.text, msg.status);
					console.log(msg.type)
					if(msg.type=="add"){
						$('#favorite_'+id).removeClass("fas fa-heart");
						$('#favorite_'+id).addClass("far fa-heart");
						$('.product-'+id).fadeOut("normal", function() {
				        $(this).remove();
				    });
						// $('.product-'+id).remove();
					}
					if(msg.type=="del"){
						console.log('del');
						console.log('#favorite_'+id);
						$('#favorite_'+id).removeClass("far fa-heart");
						$('#favorite_'+id).addClass("fas fa-heart");
						console.log('del');
					}
					if(msg.type=="not"){
						console.log('not');
						console.log('#favorite_'+id);
					}
    });

	}
</script>
{% endblock %}
