{% extends 'comparagrow/porto/base.html' %}
{% load static %}
{% load l10n %}
{% load humanize %}

{% block content %}
<style media="screen">
	.card:hover{
		border-radius: inherit;
		box-shadow: 0.1px 0.1px 0.1px #7777;
		cursor:pointer;
	}
</style>

			<div class="container-fluid">
				<div class="row">
          <div class="col-1">

          </div>
					<div class="col-10">
            <div class="row justify-content-md-center" style="margin-top:40px;" >
              <h5 style="font-weight:200;">FAVORITOS</h5>
              <br>
              <br>
            </div>
						<div class="row">
							<div class="col article-feed">
									{% include 'comparagrow/component/favorite_item.html' %}
							</div>
						</div>
					</div> <!-- col.// -->
				</div>

			</div> <!-- container .//  -->

	<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}


{% block js %}
<script src="/static/js/notify.js"></script>
<script src="/static/js/infinite-scroll.pkgd.min.js"></script>
<script type="text/javascript">
  $('.article-feed').infiniteScroll({
    path: '.pagination__next',
    append: '.article',
    status: '.scroller-status',
    hideNav: '.pagination',
  });
</script>
<script>
	function FavoriteProduct(id){
		$.ajax({
      method: "GET",
      url: "/productos/favorito/"+id,
    })
      .done(function( msg ) {
          $.notify(msg.text, msg.status);
    });

	}
</script>
{% endblock %}
