{% extends 'comparagrow/base.html' %}
{% load static %}
{% load mptt_tags %}

{% block content %}


<section class="section-name bg-white padding-y">
  <div class="container text-center text-muted">
    <header class="section-heading">
      <h2 class="title-section">ULTIMAS BUSQUEDAS</h2>
    </header><!-- sect-heading -->
  </div><!-- container // -->
</section>

<!--carrusel productos-->
<section class="section-content padding-y bg padding-items">
  <div class="container">
    <div class="owl-carousel owl-init slide-items owl-loaded owl-drag" data-items="4" data-margin="20" data-dots="true" data-nav="true">

      <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2004px, 0px, 0px); transition: all 0.25s ease 0s; width: 4010px;">

        {% for item in productos %}
      <div class="owl-item cloned" style="width: 230.6px; margin-right: 20px;">
        <div class="item-slide">
          <div class="card">
            <div class="info-wrap text-center">
              <img src="/media/{{ item.image }}">
            </div>
            <div class="info-wrap text-center">
                <span class="desc text18">{{ item.product.name }}</span>
                <div class="price-wrap h5">
                  <span class="price-new text-morado">{{ item.product.total }}</span>
                </div> <!-- price-wrap.// -->
            </div>
            <div id="code_list_img">
              <ul class="list-icon row">
                <li class="col-md-6"><a href="#">
                  <!-- <img src="{% static 'theme/images/items/favorito.png' %}" class="items-icon"></a> -->
                </li>
                <li class="col-md-6 text-r"><a href="#">
                  <!-- <img src="{% static 'theme/images/items/buscar.png' %}" class="items-icon"></a> -->
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

  </div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="fa fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
    </div> <!-- container .//  -->
</section>


<section class="section-name bg-white padding-y">
  <div class="container text-center text-muted">
    <header class="section-heading">
      <h2 class="title-section">ULTIMAS BUSQUEDAS</h2>
    </header><!-- sect-heading -->
  </div><!-- container // -->
</section>

<!--carrusel productos-->
<section class="section-content padding-y bg padding-items">
  <div class="container">
    <div class="owl-carousel owl-init slide-items owl-loaded owl-drag" data-items="4" data-margin="20" data-dots="true" data-nav="true">

      <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2004px, 0px, 0px); transition: all 0.25s ease 0s; width: 4010px;">

        {% for item in productos %}
      <div class="owl-item cloned" style="width: 230.6px; margin-right: 20px;">
        <div class="item-slide">
          <div class="card">
            <div class="info-wrap text-center">
              <img src="/media/{{ item.image }}">
            </div>
            <div class="info-wrap text-center">
                <span class="desc text18">{{ item.product.name }}</span>
                <div class="price-wrap h5">
                  <span class="price-new text-morado">{{ item.product.total }}</span>
                </div> <!-- price-wrap.// -->
            </div>
            <div id="code_list_img">
              <ul class="list-icon row">
                <li class="col-md-6"><a href="#">
                  <!-- <img src="{% static 'theme/images/items/favorito.png' %}" class="items-icon"></a> -->
                </li>
                <li class="col-md-6 text-r"><a href="#">
                  <!-- <img src="{% static 'theme/images/items/buscar.png' %}" class="items-icon"></a> -->
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

  </div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="fa fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
    </div> <!-- container .//  -->
</section>

<!--Rebajas-->
<section class="section-name bg-white padding-y">
  <div class="container text-center text-muted">
    <header class="section-heading">
      <h2 class="title-section">ÚLTIMAS REBAJAS</h2>
    </header><!-- sect-heading -->
  </div><!-- container // -->
</section>

<!--carrusel productos-->
<section class="section-content padding-y bg padding-items">
  <div class="container">
    <div class="owl-carousel owl-init slide-items owl-loaded owl-drag" data-items="4" data-margin="20" data-dots="true" data-nav="true">

      <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2004px, 0px, 0px); transition: all 0.25s ease 0s; width: 4010px;">

        {% for item in productos %}
      <div class="owl-item cloned" style="width: 230.6px; margin-right: 20px;">
        <div class="item-slide">
          <div class="card">
            <div class="info-wrap text-center">
              <img src="/media/{{ item.image }}">
            </div>
            <div class="info-wrap text-center">
                <span class="desc text18">{{ item.product.name }}</span>
                <div class="price-wrap h5">
                  <span class="price-new text-morado">{{ item.product.total }}</span>
                </div> <!-- price-wrap.// -->
            </div>
            <div id="code_list_img">
              <ul class="list-icon row">
                <li class="col-md-6"><a href="#">
                  <!-- <img src="{% static 'theme/images/items/favorito.png' %}" class="items-icon"></a> -->
                </li>
                <li class="col-md-6 text-r"><a href="#">
                  <!-- <img src="{% static 'theme/images/items/buscar.png' %}" class="items-icon"></a> -->
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

  </div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="fa fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
    </div> <!-- container .//  -->
</section>

<section class="section-name bg-white padding-y">
  <div class="container text-center text-muted">
    <header class="section-heading">
      <h2 class="title-section">ARMA TU GROW</h2>
    </header><!-- sect-heading -->
  </div><!-- container // -->
</section>

<!--carrusel productos-->
<section class="section-content padding-y bg padding-items">
  <div class="container">
    <div class="owl-carousel owl-init slide-items owl-loaded owl-drag" data-items="4" data-margin="20" data-dots="true" data-nav="true">

      <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2004px, 0px, 0px); transition: all 0.25s ease 0s; width: 4010px;">

        {% for item in productos %}
      <div class="owl-item cloned" style="width: 230.6px; margin-right: 20px;">
        <div class="item-slide">
          <div class="card">
            <div class="info-wrap text-center">
              <img src="/media/{{ item.image }}">
            </div>
            <div class="info-wrap text-center">
                <span class="desc text18">{{ item.product.name }}</span>
                <div class="price-wrap h5">
                  <span class="price-new text-morado">{{ item.product.total }}</span>
                </div> <!-- price-wrap.// -->
            </div>
            <div id="code_list_img">
              <ul class="list-icon row">
                <li class="col-md-6"><a href="#">
                  <!-- <img src="{% static 'theme/images/items/favorito.png' %}" class="items-icon"></a> -->
                </li>
                <li class="col-md-6 text-r"><a href="#">
                  <!-- <img src="{% static 'theme/images/items/buscar.png' %}" class="items-icon"></a> -->
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

  </div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="fa fa-chevron-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fa fa-chevron-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
    </div> <!-- container .//  -->
</section>



{% endblock %}


{% block cabecera %}
<!-- Modal -->
<div class="modal fade" id="modal_login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Ingreso
      </div>
      <div class="modal-body">
        <form action="/login" method="post">
          {% csrf_token %}
        	<div class="form-group">
        	<div class="input-group">
        		<div class="input-group-prepend">
        		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        		 </div>
        		<input name="username" class="form-control" placeholder="Email" type="email" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
        	</div> <!-- input-group.// -->
        	</div> <!-- form-group// -->
        	<div class="form-group">
        	<div class="input-group">
        		<div class="input-group-prepend">
        		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        		 </div>
        	    <input name="password" class="form-control" placeholder="Contraseña" type="password" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
        	</div> <!-- input-group.// -->
        	</div> <!-- form-group// -->
        	<div class="form-group">
        	<button type="submit" class="btn btn-primary btn-block"> Iniciar Sesión  </button>
        	</div> <!-- form-group// -->
        	<p class="text-center"><a href="#" class="btn">Olvido su contraseña?</a></p>
	       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal_register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Registro
      </div>
      <div class="modal-body">
        <form action="/register" method="post">
          {% csrf_token %}
        	<div class="form-group">
        	<div class="input-group">
        		<div class="input-group-prepend">
        		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        		 </div>
        		<input name="username" class="form-control" placeholder="Email" type="email" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
        	</div> <!-- input-group.// -->
        	</div> <!-- form-group// -->
        	<div class="form-group">
        	<div class="input-group">
        		<div class="input-group-prepend">
        		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        		 </div>
        	    <input name="password" class="form-control" placeholder="Contraseña" type="password" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
        	</div> <!-- input-group.// -->
        	</div> <!-- form-group// -->
        	<div class="form-group">
        	<button type="submit" class="btn btn-primary btn-block"> Registrar  </button>
        	</div> <!-- form-group// -->
	       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
