{% extends 'comparagrow/base_blank.html' %}
{% load static %}

{% block content %}
<div class="container">

<div class="row justify-content-md-center" style="margin-top:40px;" >
  <h5 style="font-weight:200;">Quienes Somos</h5>
  <br>
  <br>
</div>
<div class="row justify-content-md-center" >
  <p class="text-justify" style="font-weight:100;">Somos el único comparador de Growshops de Chile, que a través de nuestro servicio gratuito, te ayudamos a ahorrar tiempo y dinero al permitirte buscar entre cientos de sitios webs el producto exacto que buscas en un mismo lugar.
Nuestra tecnología de punta permite tener una experiencia de búsqueda sin igual.<br><br>
En Comparagrow, puedes buscar miles de productos de manera rápida y simple, permitiéndote seleccionar tus productos favoritos y alertar cuando ellos han bajado su precio, entre otros servicios que podrás disponer en nuestro sitio. <br><br>
Creemos en la libre y sana competencia, ya que creememos que es uno de los pilares fundamentales para que las empresas mejoren sus productos y servicios, dandole la importancia que merece a nuestros usuarios. <br><br>
Nos interesa además, contribuir en dar la oportunidad a que pequeñas empresas emerjan y puedan lograr posicionarse en el mercado así como las grandes empresas que ya se encuentran en el rubro. Algunas de las tantas ventajas de pertenecer a Comparagrow, es el ahorro de costos por infraestructura web, posicionamiento (seo), publicidad online, sinergías con productos de otros vendedores, etc. Pero, lo más importante es que nuestros Clientes (empresas), puedan ser encontrados en las búsquedas que realizan nuestros usuarios en nuestra sitio web.
</p>
</div>
</div>
<div class="row justify-content-md-center fixed-bottom" style="margin-left:20px; margin-right:20px;">
  <p class="justify-content-md-center text-center"><small>Al ingresar a esta url, usted acepta nuestros <a href="/terminos-politicas">Términos de servicio y Política de privacidad</a>. Derechos reservados ComparaGrow.cl</small></p>
</div>
<!-- <nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand" href="#">Fixed bottom</a>
</nav> -->

{% endblock %}
{% block scriptb %}

{% endblock %}
