{% extends 'comparagrow/base_blank.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
<div class="row justify-content-md-center" style="margin-top: 100px;color:#01b22c">
  <i style="font-size:120px;" class="fas fa-check-circle"></i>
</div>
<div class="row justify-content-md-center" style="margin-top: 30px;color:#01b22c">
  <h5 style="font-size:44px;">CUENTA VERIFICADA</h5>
</div>
<div class="row justify-content-md-center" >
  <p>Ahora vamos a <a href="/">compara</a>. ;)</p>
</div>
</div>

{% endblock %}
{% block scriptb %}

{% endblock %}
