{% load static %}
<!doctype html>
<html lang="en">
   <head>
      <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/dashboard/">
      <!-- Bootstrap core CSS -->
      <link href="{% static 'css/css/bootstrap.min.css' %}" rel="stylesheet" >
      <link href="{% static 'css/css/bootstrap-override.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'css/css/bootstrap-table.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'css/css/bootstrap-table-filter.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'css/css/bootstrap-table.min.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'css/css/select2.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'css/css/jquery-ui-1.10.3.css' %}" rel="stylesheet" type="text/css">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
      <link href="{% static 'css/css/bootstrap-table-filter-control.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'css/css/materialdesignicons.min.css' %}" rel="stylesheet" >
      <link href="{% static 'css/css/style2.css' %}" rel="stylesheet" >	  
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"> 
      <style>
         body {
         font-size: .875rem;
         }
         .feather {
         width: 16px;
         height: 16px;
         vertical-align: text-bottom;
         }
         /*
         * Sidebar
         */
         .sidebar {
         left: 0;
         z-index: 100; /* Behind the navbar */
         padding: 48px 0 0; /* Height of navbar */
         box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
         margin-top: -22px;
         }
         .sidebar-sticky {
         position: relative;
         top: 0;
         height: calc(100vh - 48px);
         padding-top: .5rem;
         overflow-x: hidden;
         overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
         }
         @supports ((position: -webkit-sticky) or (position: sticky)) {
         .sidebar-sticky {
         position: -webkit-sticky;
         position: sticky;
         }
         }
         .sidebar .nav-link {
         font-weight: 500;
         color: #333;
         }
         .sidebar .nav-link .feather {
         margin-right: 4px;
         color: #999;
         }
         .sidebar .nav-link.active {
         color: #007bff;
         }
         .sidebar .nav-link:hover .feather,
         .sidebar .nav-link.active .feather {
         color: inherit;
         }
         .sidebar-heading {
         font-size: .75rem;
         text-transform: uppercase;
         }
         /*
         * Content
         */
         [role="main"] {
         padding-top: 133px; /* Space for fixed navbar */
         }
         @media (min-width: 768px) {
         [role="main"] {
         padding-top: 48px; /* Space for fixed navbar */
         }
         }
         /*
         * Navbar
         */
         .navbar-brand {
         padding-top: .75rem;
         padding-bottom: .75rem;
         font-size: 1rem;
         }
         .navbar .form-control {
         padding: .75rem 1rem;
         border-width: 0;
         border-radius: 0;
         }
         .form-control-dark {
         color: #fff;
         background-color: rgba(255, 255, 255, .1);
         border-color: rgba(255, 255, 255, .1);
         }
         .form-control-dark:focus {
         border-color: transparent;
         box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
         }
         .bd-placeholder-img {
         font-size: 1.125rem;
         text-anchor: middle;
         -webkit-user-select: none;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: none;
         }
         @media (min-width: 768px) {
         .bd-placeholder-img-lg {
         font-size: 3.5rem;
         }
         }
      </style>
      <!-- Custom styles for this template -->
      <link href="{% static 'css/comun/color.css' %}" rel="stylesheet">
    </head>
    <body>
  
          <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 color" >
                  <a class="navbar-brand" href="#" style="width: 35%; font-size: 17px">Logo</a>
        
                  <form class="form-inline mt-2 mt-md-0" action="{% url 'busqueda' %}" method="get" >
                      <input class="form-control mr-sm-2" name="q" aria-label="Search"  style="width: 450px" type="text">
                      <button type="submit" style="margin-left: -98px;
                      height: 30px;
                      width: 90px;
                      background-color: white; 
                      color: gray;
                      border: 0;
                      -webkit-appearance: none;font-size: 15px"> <img style="width: 15px; height: 15px" src="{% static 'img/menu/search(1).png' %}">Search</button>
                    </form>
                              <div  style="width: 30%"> </div>
                  <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto" >
                      <li class="nav-item active">
                        <a class="nav-link" href="#" style="width: 116px;font-size: 17px"> Usuario  <img style="width: 20px; height: 20px" src="{% static 'img/menu/Mi-cuenta.png' %}"></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#" style="font-size: 17px"> <img style="width: 20px; height: 20px" src="{% static 'img/menu/notification.png' %}"></a>
                        </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#" style="font-size: 17px"> <img style="width: 20px; height: 20px" src="{% static 'img/menu/heart.png' %}"></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#" style="font-size: 17px" > <img style="width: 20px; height: 20px" src="{% static 'img/menu/shopping-cart2.png' %}"></a>
                      </li>
                    </ul>
                    
                  </div>
                </nav>
  
  <div class="container-fluid">
    <div class="row">
      <nav id="navlarga" class="col-md-2 d-none d-md-block bg-light sidebar">
        <div id="navlarga1" class="sidebar-sticky">
          <ul class="nav flex-column ">
              <li class="nav-item textomenucuenta">
                    <span data-feather="home"></span>
                    <img id="micuenta-2" src="{% static 'img/cuenta/icono_perfil1.png' %}"> <b> Mi cuenta</b> <br> <div style="margin-left: 20px" > {{user.username}} </div>
                </li>
            <li class="nav-item ">
                <a class="nav-link textomenucuenta" href="{% url 'cuenta' %}">
                <span data-feather="home"></span>
                <img src="{% static 'img/cuenta/icono_resumen1.png' %}"> Resumen <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item textomenucuenta">
              <div class="nav-link" id="compra">
                <span data-feather="file"></span>
                <img src="{% static 'img/cuenta/icono_compras1.png' %}"> Compras <img id="compra-subir" style="width: 10px; height: 10px" src="{% static 'img/menu/subir.png' %}"> <img id="compra-bajar" style="width: 10px; height: 10px" src="{% static 'img/menu/down-arrow.png' %}"> 
              </div>
              <ul>
                  <li class="nav-item textomenucuenta" id="compra-li1" style="list-style: none">
                      <a class="nav-link" href="{% url 'pedidos_compras' %}">
                        <span data-feather="home"></span>
                        Pedidos
                      </a>
                    </li>
                    <li class="nav-item textomenucuenta" id="compra-li2" style="list-style: none">
                        <a class="nav-link" href="{% url 'compras_preguntas' %}">
                          <span data-feather="home"></span>
                          Preguntas 
                        </a>
                      </li>
                      <li class="nav-item textomenucuenta" id="compra-li3" style="list-style: none">
                        <a class="nav-link" href="{% url 'favoritos_list' %}">
                          <span data-feather="home"></span>
                          Favoritos 
                        </a>
                      </li>
              </ul>
            </li>
            <li class="nav-item textomenucuenta" >
              <a class="nav-link menucuentauso" href="#">
                <span data-feather="shopping-cart"></span>
                <img src="{% static 'img/cuenta/icono_ventas2.png' %}"> Ventas  <img id="ventas-subir" style="width: 10px; height: 10px" src="{% static 'img/menu/subir.png' %}"> <img id="ventas-bajar" style="width: 10px; height: 10px" src="{% static 'img/menu/down-arrow.png' %}"> 
              </a>
              <ul>
                  <li class="nav-item textomenucuenta" id="ventas-li1" style="list-style: none" >
                      <a class="nav-link" href="{% url 'pedidos_ventas' %}">
                        <span data-feather="file"></span>
                        Pedidos
                      </a>
                    </li>
                    <li class="nav-item textomenucuenta" id="ventas-li2" style="list-style: none">
                      <a class="nav-link" href="{% url 'ventas_preguntas' %}">
                        <span data-feather="file"></span>
                        Preguntas 
                      </a>
                    </li>
                <li class="nav-item textomenucuenta" id="ventas-li3" style="list-style: none">
                  <a class="nav-link menucuentauso" href="{% url 'productos_list' %}">
                    <span data-feather="file"></span>
                    Productos 
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item textomenucuenta">
              <a class="nav-link" href="#">
                <span data-feather="users"></span>
                <img src="{% static 'img/cuenta/icono_conf1.png' %}"> Configuración  <img id="config-subir" style="width: 10px; height: 10px" src="{% static 'img/menu/subir.png' %}"> <img id="config-bajar" style="width: 10px; height: 10px" src="{% static 'img/menu/down-arrow.png' %}"> 
              </a>
              <ul>
                <li class="nav-item textomenucuenta" id="config-li1" style="list-style: none">
                  <a class="nav-link" href="{% url 'misdatos' %}">
                    <span data-feather="file"></span>
                    Mis datos
                  </a>
                </li>
                <li class="nav-item textomenucuenta" id="config-li2" style="list-style: none">
                  <a class="nav-link" href="{% url 'direcciones' %}">
                    <span data-feather="file"></span>
                    Direcciones
                  </a>
                </li>
                {% ifequal user.validar "Validado" %}
                          <li class="nav-item textomenucuenta" id="config-li2" style="list-style: none">
                            <a class="nav-link " href="{% url 'tiendas' %}">
                              <span data-feather="file"></span>
                              Tiendas
                            </a>
                          </li>
                          {% endifequal %}
              </ul>
            </li>
          </ul>
  
        </div>
      </nav>
  
  
      <nav id="navshort" class="d-none mostrar bg-light sidebar" style="display: none !important"  >
          <div id="navshort1" class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                      <span data-feather="home"></span>
                      <img id="micuenta-short" src="{% static 'img/cuenta/icono_perfil1.png' %}"> 
                  </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  <img src="{% static 'img/cuenta/icono_resumen2.png' %}"> 
                </a>
              </li>
              <li class="nav-item">
                <div class="nav-link" id="compra">
                  <span data-feather="file"></span>
                  <img src="{% static 'img/cuenta/icono_compras1.png' %}">
                </div>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  <img src="{% static 'img/cuenta/icono_ventas1.png' %}"> 
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  <img src="{% static 'img/cuenta/icono_conf1.png' %}"> 
                </a>
              </li>
            </ul>
    
          </div>
        </nav>
  
  
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <h2 style="margin-left:6%" >Detalles del producto {{producto.name}}<a href="#"> 
            </h2>
            <br>
          <div class="col-md-12 grid-margin stretch-card">
              <div class="card" >
                <div class="card-body dashboard-tabs p-0">
                  <ul class="nav nav-tabs px-4 border-left-0 border-top-0 border-right-0" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'productos_detalles1' producto.id_product %}">Ajustes básicos</a>
                    </li>
                    {% ifequal producto.combination True %}
                    <li class="nav-item">
                      <a class="nav-link active" id="sales-tab" href="{% url 'productos_combinaciones' producto.id_product %}">Combinaciones</a>
                    </li>
                    {% endifequal %}
                  
                  </ul>
                  <br>
                  <br>
                  <h2 style="margin-left:3%; font-size: 17px" >
                      {% if comb %}
                      Agrega más combinaciones
                      <a href="{% url 'productos_comb_add' producto.id_product %}"> 
                        <img  src="{% static 'img/icono_add.png' %}" style="width: 40px; height: 40px">
                        </a> 
                        {% endif %}
                     </h2>
               <div style="padding-bottom: 10px;"></div>

               {% if comb %}
               
               <div class="container" >
                  <table id="itemsTable" class="table" 
                     data-toggle="table"
                     data-url="data.json"
                     data-filter="true"
                     data-icons-prefix="fa">
                     <thead>
                        <tr>
                           <th class="bs-checkbox " style="width: 36px; align-content: center" data-field="state">
                              <div class="th-inner "><label><input name="btSelectAll" type="checkbox"><span></span></label></div>
                              <div class="fht-cell" style="width: 37px;"></div>
                           </th>
                           <th data-field="name" data-align="center" data-sortable="true" data-filter-type="input">Combinaciones</th>
                           <th data-field="imagen" data-align="center" data-sortable="true">Imagen</th>
                           <th data-field="impacto" data-align="center" data-sortable="true" data-filter-type="input">Impacto en precio</th>
                           <th data-field="referencia" data-align="center" data-sortable="true" data-filter-type="input">Precio total</th>
                           <th data-field="tienda" data-align="center" data-sortable="true" data-filter-type="input">Cantidad</th>
                           <th data-field="opciones" data-align="center" data-sortable="true">Opciones</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for i in comb %}
                        <tr>
                           <td class="bs-checkbox " style="width: 36px; ">
                              <label><input data-index="0" name="btSelectItem" type="checkbox"><span></span>
                              </label>
                           </td>
                           <td>
                             {% for j in attr %}
                                {% ifequal j.id_product_attribute i %}
                                {{j.id_attribute.name}}
                                {% endifequal %}
                             {% endfor %}
                           </td>
                           <td>{% for f in fotos %}
                             {% ifequal f.id_product_attribute i %}
                                <img src="{{f.id_image.image.url}}" style="width: 50px; height: 50px;">
                             {% endifequal %}
                             {% endfor %}
                           </td>
                           <td>{{i.unit_price_impact}}</td>
                           <td>{{i.price_number}}</td>
                           <td>{{i.quantity}} </td>
                           <td> 
                              <a href="{% url 'combinacion_editar' producto.id_product i.id_product_attribute %}" title="Editar"><i class="fa fa-pencil-square-o" style="font-size: 16px"> </i></a>
                              {% if i.default_on %}
                              <a href="javascript:void(0)" title="Predeterminado"><i class="fa fa-circle" style="font-size: 16px"> </i></a>
                              {% else %}
                              <a href="{% url 'combinacion_predeterminada' producto.id_product i.id_product_attribute %}" title="Predeterminado"><i class="fa fa-circle-o" style="font-size: 16px"> </i></a>
                              {% endif %}
                              <a  class="remove" data-toggle="modal" data-target="#exampleModal{{i.id_product_attribute}}" title="Eliminar"><i class="fa fa-trash" style="font-size: 16px"></i></a>                   
                              <!-- Modal -->
                              <div class="modal fade" id="exampleModal{{i.id_product_attribute}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">¿Estás seguro que deseas eliminar esta combinación?</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      Si lo elimina será de forma permanente.
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                      <a class="remove" href="{% url 'combinacion_eliminar' producto.id_product i.id_product_attribute %}"><button type="submit" class="btn btn-primary">Eliminar</button></a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                           </td>
                        </tr>
                        {% endfor %}
                        
                     </tbody>
                  </table>

               
                </div>
                <br>
              {% else %}
              {% if img %}
              <div class="bd-callout bd-callout-info" 
                  style=" padding: 1.25rem;
                  margin-top: 1.25rem;
                  margin-bottom: 1.25rem;
                  margin-left: 3%;
                  margin-right: 10%;">
                  <h6>No tienes ninguna combinación. <a href="{% url 'productos_comb_add' producto.id_product %}">Genera tu combinación.</a></h6>
               </div>
               {% else %}
               <div class="bd-callout bd-callout-info" 
                  style=" padding: 1.25rem;
                  margin-top: 1.25rem;
                  margin-bottom: 1.25rem;
                  margin-left: 3%;
                  margin-right: 10%;">
                  <h6>Antes de añadir combinaciones es necesario que cargues las imágenes del producto. <a href="{% url 'imagenes_add' producto.id_product %}">Agrégalas.</a></h6>
               </div>
               {% endif %}
               {% endif %}
              </div>
            </div>
          </div>

            </main>
         </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
      <script src="{% static 'js/js/jquery-1.11.3.js' %}"></script>
      <script src="{% static 'js/js/bootstrap.js' %}"></script>
      <script src="{% static 'js/js/bootstrap-table.js' %}"></script>
      <script src="{% static 'js/js/bootstrap-table-en-US.js' %}"></script>
      <script src="{% static 'js/js/select2.js' %}"></script>
      <script src="{% static 'js/js/jquery-ui-1.10.3.min.js' %}"></script>
      <script src="{% static 'js/js/bootstrap-table-filter.js' %}"></script>
      <script src="{% static 'js/js/jquery-3.3.1.min.js' %}"></script>
      <script src="{% static 'js/js/bootstrap-table-filter-control.js' %}"></script>
      <script type="text/javascript">
         var item = [{ id: 1, text: 'i' }, { id: 2, text: 'j' }];
         $('#itemsTable').on('column-search.bs.table', function () {
         console.log('hello event');
         });
      </script>
      <script>
         $(document).ready(function(){
           $("#micuenta-short").click(function(){
             $("#navlarga").show();
             $("#navlarga").addClass("d-md-block");
             $("#navshort").removeClass("mostrar");
           });
           $("#micuenta-2").click(function(){
             $("#navshort").show();
             $("#navlarga").removeClass("d-md-block");
             $("#navshort").addClass("mostrar");
           });
           $("#compra-subir").click(function(){
             $("#compra-li1").hide();
             $("#compra-li2").hide();
             $("#compra-li3").hide();
             $("#compra-subir").hide();
             $("#compra-bajar").show();
           });
           $("#compra-bajar").click(function(){
             $("#compra-li1").show();
             $("#compra-li2").show();
             $("#compra-li3").show();
             $("#compra-subir").show();
             $("#compra-bajar").hide(); 
           });
           $("#ventas-subir").click(function(){
             $("#ventas-li1").hide();
             $("#ventas-li2").hide();
             $("#ventas-li3").hide();
             $("#ventas-subir").hide();
             $("#ventas-bajar").show();
           });
           $("#ventas-bajar").click(function(){
             $("#ventas-li1").show();
             $("#ventas-li2").show();
             $("#ventas-li3").show();
             $("#ventas-subir").show();
             $("#ventas-bajar").hide();
           });
           $("#config-subir").click(function(){
             $("#config-li1").hide();
             $("#config-li2").hide();
             $("#config-li3").hide();
             $("#config-li4").hide();
             $("#config-subir").hide();
             $("#config-bajar").show();
           });
           $("#config-bajar").click(function(){
             $("#config-li1").show();
             $("#config-li2").show();
             $("#config-li3").show();
             $("#config-li4").show();
             $("#config-subir").show();
             $("#config-bajar").hide();
           });
         });
      </script>
   </body>
</html>

