{% load categorias %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/css/bootstrap.min.css' %}" rel="stylesheet" >
    <link href="{% static 'css/css/all.css' %}" rel="stylesheet" position="1">
    <link href="{% static 'css/css/fileinput.min.css' %}" rel="stylesheet" >
    <link href="{% static 'css/css/dropdown.min.css' %}" rel="stylesheet" >
    <script src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" async></script>

    <style>
        body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.dropdown-menu {
  font-size: 14px;
}
.custom-select {
  font-size: 14px;
}
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/comun/color.css' %}" rel="stylesheet">

   

  </head>
  <body>

        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 color" >
                <a class="navbar-brand" href="#" style="width: 35%; font-size: 17px"">Logo</a>
      
                <form class="form-inline mt-2 mt-md-0" action="{% url 'busqueda' %}" method="get" >
                              <input class="form-control mr-sm-2" name="q" aria-label="Search"  style="width: 450px" type="text">
                              <button type="submit" style="margin-left: -98px;
                              height: 30px;
                              width: 90px;
                              background-color: white; 
                              color: gray;
                              border: 0;
                              -webkit-appearance: none;font-size: 15px"> <img style="width: 15px; height: 15px" src="{% static 'img/menu/search(1).png' %}">Search</button>
                            </form>
                            <div  style="width: 30%"> </div>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="navbar-nav mr-auto" >
                    <li class="nav-item active">
                      <a class="nav-link" href="#" style="width: 116px;font-size: 17px""> Usuario  <img style="width: 20px; height: 20px" src="{% static 'img/menu/Mi-cuenta.png' %}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="font-size: 17px"> <img style="width: 20px; height: 20px" src="{% static 'img/menu/notification.png' %}"></a>
                      </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" style="font-size: 17px"> <img style="width: 20px; height: 20px" src="{% static 'img/menu/heart.png' %}"></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'carritos'%}" style="font-size: 17px" > <img style="width: 20px; height: 20px" src="{% static 'img/menu/shopping-cart2.png' %}"></a>
                    </li>
                  </ul>
                  
                </div>
              </nav>

<div class="container-fluid">
  <div class="row">
      <nav id="navlarga" class="col-md-2 d-none d-md-block bg-light sidebar">
          <div id="navlarga1" class="sidebar-sticky">
            <ul class="nav flex-column ">
                <li class="nav-item textomenucuenta">
                      <span data-feather="home"></span>
                      <img id="micuenta-2" src="{% static 'img/cuenta/icono_perfil1.png' %}"> <b> Mi cuenta</b> <br> <div style="margin-left: 20px" > {{user.username}} </div>
                  </li>
              <li class="nav-item ">
                  <a class="nav-link textomenucuenta" href="{% url 'cuenta' %}">
                  <span data-feather="home"></span>
                  <img src="{% static 'img/cuenta/icono_resumen2.png' %}"> Resumen 
                </a>
              </li>
              <li class="nav-item textomenucuenta">
                <div class="nav-link" id="compra">
                  <span data-feather="file"></span>
                  <img src="{% static 'img/cuenta/icono_compras1.png' %}"> Compras <img id="compra-subir" style="width: 10px; height: 10px" src="{% static 'img/menu/subir.png' %}"> <img id="compra-bajar" style="width: 10px; height: 10px" src="{% static 'img/menu/down-arrow.png' %}"> 
                </div>
                <ul>
                    <li class="nav-item textomenucuenta" id="compra-li1" style="list-style: none">
                        <a class="nav-link" href="{% url 'pedidos_compras' %}">
                          <span data-feather="home"></span>
                          Pedidos
                        </a>
                      </li>
                      <li class="nav-item textomenucuenta" id="compra-li2" style="list-style: none">
                          <a class="nav-link" href="{% url 'compras_preguntas' %}">
                            <span data-feather="home"></span>
                            Preguntas 
                          </a>
                        </li>
                        <li class="nav-item textomenucuenta" id="compra-li3" style="list-style: none">
                          <a class="nav-link" href="{% url 'favoritos_list' %}">
                            <span data-feather="home"></span>
                            Favoritos 
                          </a>
                        </li>
                </ul>
              </li>
              <li class="nav-item textomenucuenta" >
                  <a class="nav-link menucuentauso" href="#">
                      <span data-feather="shopping-cart"></span>
                      <img src="{% static 'img/cuenta/icono_ventas2.png' %}"> Ventas  <img id="ventas-subir" style="width: 10px; height: 10px" src="{% static 'img/menu/subir.png' %}"> <img id="ventas-bajar" style="width: 10px; height: 10px" src="{% static 'img/menu/down-arrow.png' %}"> 
                    </a>
                <ul>
                    <li class="nav-item textomenucuenta" id="ventas-li1" style="list-style: none" >
                        <a class="nav-link" href="{% url 'pedidos_ventas' %}">
                          <span data-feather="file"></span>
                          Pedidos
                        </a>
                      </li>
                      <li class="nav-item textomenucuenta" id="ventas-li2" style="list-style: none">
                        <a class="nav-link" href="{% url 'ventas_preguntas' %}">
                          <span data-feather="file"></span>
                          Preguntas 
                        </a>
                      </li>
                  <li class="nav-item textomenucuenta" id="ventas-li3" style="list-style: none">
                      <a class="nav-link menucuentauso" href="{% url 'productos_list' %}">
                        <span data-feather="file"></span>
                        Productos 
                      </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item textomenucuenta">
                  <a class="nav-link" href="#">
                      <span data-feather="users"></span>
                      <img src="{% static 'img/cuenta/icono_conf1.png' %}"> Configuración  <img id="config-subir" style="width: 10px; height: 10px" src="{% static 'img/menu/subir.png' %}"> <img id="config-bajar" style="width: 10px; height: 10px" src="{% static 'img/menu/down-arrow.png' %}"> 
                    </a>
                    <ul>
                      <li class="nav-item textomenucuenta" id="config-li1" style="list-style: none">
                        <a class="nav-link" href="{% url 'misdatos' %}">
                          <span data-feather="file"></span>
                          Mis datos
                        </a>
                      </li>
                      <li class="nav-item textomenucuenta" id="config-li2" style="list-style: none">
                        <a class="nav-link" href="{% url 'direcciones' %}">
                          <span data-feather="file"></span>
                          Direcciones
                        </a>
                      </li>
                        {% ifequal user.validar "Validado" %}
                        <li class="nav-item textomenucuenta" id="config-li2" style="list-style: none">
                          <a class="nav-link" href="{% url 'tiendas' %}">
                            <span data-feather="file"></span>
                            Tiendas
                          </a>
                        </li>
                        {% endifequal %}
                  </ul>
                </li>
            </ul>
    
          </div>
        </nav>
    
    
        <nav id="navshort" class="d-none mostrar bg-light sidebar" style="display: none !important"  >
            <div id="navshort1" class="sidebar-sticky">
              <ul class="nav flex-column">
                  <li class="nav-item">
                        <span data-feather="home"></span>
                        <img id="micuenta-short" src="{% static 'img/cuenta/icono_perfil1.png' %}"> 
                    </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">
                    <span data-feather="home"></span>
                    <img src="{% static 'img/cuenta/icono_resumen2.png' %}"> 
                  </a>
                </li>
                <li class="nav-item">
                  <div class="nav-link" id="compra">
                    <span data-feather="file"></span>
                    <img src="{% static 'img/cuenta/icono_compras1.png' %}">
                  </div>
                </li>
                <li class="nav-item" >
                  <a class="nav-link" href="#">
                    <span data-feather="shopping-cart"></span>
                    <img src="{% static 'img/cuenta/icono_ventas1.png' %}"> 
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="users"></span>
                    <img src="{% static 'img/cuenta/icono_conf1.png' %}"> 
                  </a>
                </li>
              </ul>
      
            </div>
          </nav>



    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <h2 style="margin-left:5%" >Agregar imágenes del producto</h2>
        <br>
        <br>
        <div class="container">
           <form  method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
              <div class="form-group">
                 <input id="file-1" type="file" class="file" name="image" multiple multiple=true data-preview-file-type="any">
              </div>
           </form>
        </div>
    </main>
  </div>
</div>
<script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><!--<script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>-->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
   <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>      
   <script src="{% static 'js/js/bootstrap-input-spinner.js' %}"></script>
   <script src="{% static 'js/js/compiled.0.min.js' %}"></script>
   <script src="{% static 'js/js/bootstrap.min.js' %}"></script>
   <script src="{% static 'js/js/buttons.js' %}"></script>
   <script id="dsq-count-scr"  src="{% static 'js/js/count.js' %}" async></script>
   <script src="{% static 'js/js/purify.min.js' %}"></script>				
   <script src="{% static 'js/js/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>
   <script src="{% static 'js/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
   <script src="{% static 'js/js/all-krajee.min.js' %}"></script>	
   <script src="{% static 'js/js/sortable.min.js' %}"></script>	
   <script src="{% static 'js/js/piexif.min.js' %}"></script>	
   <script src="{% static 'js/js/fileinput.min.js' %}"></script>
   <script src="{% static 'js/js/dropdown.min.js' %}"></script>
   <script>
     $(document).ready(function(){
      $("#file-1").fileinput({
      	uploadAsync: false,
      	minFileCount: 1,
      	maxFileCount: 3,
      	showUpload: false,
      	showRemove: false,
      
      });
    });
   </script>
        <script>
          $(document).ready(function(){
            $("#micuenta-short").click(function(){
              $("#navlarga").show();
              $("#navlarga").addClass("d-md-block");
              $("#navshort").removeClass("mostrar");
            });
            $("#micuenta-2").click(function(){
              $("#navshort").show();
              $("#navlarga").removeClass("d-md-block");
              $("#navshort").addClass("mostrar");
            });
            $("#compra-subir").click(function(){
              $("#compra-li1").hide();
              $("#compra-li2").hide();
              $("#compra-li3").hide();
              $("#compra-subir").hide();
              $("#compra-bajar").show();
            });
            $("#compra-bajar").click(function(){
              $("#compra-li1").show();
              $("#compra-li2").show();
              $("#compra-li3").show();
              $("#compra-subir").show();
              $("#compra-bajar").hide(); 
            });
            $("#ventas-subir").click(function(){
              $("#ventas-li1").hide();
              $("#ventas-li2").hide();
              $("#ventas-li3").hide();
              $("#ventas-subir").hide();
              $("#ventas-bajar").show();
            });
            $("#ventas-bajar").click(function(){
              $("#ventas-li1").show();
              $("#ventas-li2").show();
              $("#ventas-li3").show();
              $("#ventas-subir").show();
              $("#ventas-bajar").hide();
            });
            $("#config-subir").click(function(){
              $("#config-li1").hide();
              $("#config-li2").hide();
              $("#config-li3").hide();
              $("#config-li4").hide();
              $("#config-subir").hide();
              $("#config-bajar").show();
            });
            $("#config-bajar").click(function(){
              $("#config-li1").show();
              $("#config-li2").show();
              $("#config-li3").show();
              $("#config-li4").show();
              $("#config-subir").show();
              $("#config-bajar").hide();
            });
          });
          </script>
      
      </body>
</html>
