{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/dashboard/">

    <!-- Bootstrap core CSS -->
<link href="{% static 'css/css/bootstrap.min.css' %}" rel="stylesheet" >
<link href="{% static 'css/css/style2.css' %}" rel="stylesheet" >	 
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">   


<style>
    body {
    font-size: .875rem;
    }
    .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    }
    /*
    * Sidebar
    */
    .sidebar {
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    margin-top: -22px;
    }
    .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }
    @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    }
    }
    .sidebar .nav-link {
    font-weight: 500;
    color: #333;
    }
    .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
    }
    .sidebar .nav-link.active {
    color: #007bff;
    }
    .sidebar .nav-link:hover .feather,
    .sidebar .nav-link.active .feather {
    color: inherit;
    }
    .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
    }
    /*
    * Content
    */
    [role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
    }
    @media (min-width: 768px) {
    [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
    }
    }
    /*
    * Navbar
    */
    .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    }
    .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
    }
    .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
    }
    .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
 </style>
 <!-- Custom styles for this template -->
 <link href="{% static 'css/comun/color.css' %}" rel="stylesheet">
</head>
<body>

     <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 color" >
             <a class="navbar-brand" href="#" style="width: 35%; font-size: 17px">Logo</a>
   
             <form class="form-inline mt-2 mt-md-0" action="{% url 'busqueda' %}" method="get" >
                 <input class="form-control mr-sm-2" name="q" aria-label="Search"  style="width: 450px" type="text">
                 <button type="submit" style="margin-left: -98px;
                 height: 30px;
                 width: 90px;
                 background-color: white; 
                 color: gray;
                 border: 0;
                 -webkit-appearance: none;font-size: 15px"> <img style="width: 15px; height: 15px" src="{% static 'img/menu/search(1).png' %}">Search</button>
               </form>
                         <div  style="width: 30%"> </div>
             <div class="collapse navbar-collapse" id="navbarCollapse">
               <ul class="navbar-nav mr-auto" >
                 <li class="nav-item active">
                   <a class="nav-link" href="#" style="width: 116px;font-size: 17px"> Usuario  <img style="width: 20px; height: 20px" src="{% static 'img/menu/Mi-cuenta.png' %}"></a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="#" style="font-size: 17px"> <img style="width: 20px; height: 20px" src="{% static 'img/menu/notification.png' %}"></a>
                   </li>
                 <li class="nav-item">
                   <a class="nav-link" href="#" style="font-size: 17px"> <img style="width: 20px; height: 20px" src="{% static 'img/menu/heart.png' %}"></a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href="#" style="font-size: 17px" > <img style="width: 20px; height: 20px" src="{% static 'img/menu/shopping-cart2.png' %}"></a>
                 </li>
               </ul>
               
             </div>
           </nav>

<div class="container-fluid">
<div class="row">
 <nav id="navlarga" class="col-md-2 d-none d-md-block bg-light sidebar">
   <div id="navlarga1" class="sidebar-sticky">
     <ul class="nav flex-column ">
         <li class="nav-item textomenucuenta">
               <span data-feather="home"></span>
               <img id="micuenta-2" src="{% static 'img/cuenta/icono_perfil1.png' %}"> <b> Mi cuenta</b> <br> <div style="margin-left: 20px" > {{user.username}} </div>
           </li>
       <li class="nav-item ">
         <a class="nav-link textomenucuenta" href="{% url 'cuenta' %}">
           <span data-feather="home"></span>
           <img src="{% static 'img/cuenta/icono_resumen1.png' %}"> Resumen <span class="sr-only">(current)</span>
         </a>
       </li>
       <li class="nav-item textomenucuenta">
         <div class="nav-link" id="compra">
           <span data-feather="file"></span>
           <img src="{% static 'img/cuenta/icono_compras1.png' %}"> Compras <img id="compra-subir" style="width: 10px; height: 10px" src="{% static 'img/menu/subir.png' %}"> <img id="compra-bajar" style="width: 10px; height: 10px" src="{% static 'img/menu/down-arrow.png' %}"> 
         </div>
         <ul>
           <li class="nav-item textomenucuenta" id="compra-li1" style="list-style: none">
             <a class="nav-link" href="{% url 'pedidos_compras' %}">
               <span data-feather="home"></span>
               Pedidos
             </a>
           </li>
           <li class="nav-item textomenucuenta" id="compra-li2" style="list-style: none">
              <a class="nav-link" href="{% url 'compras_preguntas' %}">
                <span data-feather="home"></span>
                Preguntas 
              </a>
            </li>
            <li class="nav-item textomenucuenta" id="compra-li3" style="list-style: none">
              <a class="nav-link" href="{% url 'favoritos_list' %}">
                <span data-feather="home"></span>
                Favoritos 
              </a>
            </li>
         </ul>
       </li>
       <li class="nav-item textomenucuenta" >
         <a class="nav-link menucuentauso" href="#">
           <span data-feather="shopping-cart"></span>
           <img src="{% static 'img/cuenta/icono_ventas2.png' %}"> Ventas  <img id="ventas-subir" style="width: 10px; height: 10px" src="{% static 'img/menu/subir.png' %}"> <img id="ventas-bajar" style="width: 10px; height: 10px" src="{% static 'img/menu/down-arrow.png' %}"> 
         </a>
         <ul>
           <li class="nav-item textomenucuenta" id="ventas-li1" style="list-style: none" >
             <a class="nav-link  menucuentauso" href="{% url 'pedidos_ventas' %}">
               <span data-feather="file"></span>
               Pedidos
             </a>
           </li>
           <li class="nav-item textomenucuenta" id="ventas-li2" style="list-style: none">
              <a class="nav-link" href="{% url 'ventas_preguntas' %}">
                <span data-feather="file"></span>
                Preguntas 
              </a>
            </li>
           <li class="nav-item textomenucuenta" id="ventas-li3" style="list-style: none">
             <a class="nav-link" href="{% url 'productos_list' %}">
               <span data-feather="file"></span>
               Productos 
             </a>
           </li>
         </ul>
       </li>
       <li class="nav-item textomenucuenta">
         <a class="nav-link" href="#">
           <span data-feather="users"></span>
           <img src="{% static 'img/cuenta/icono_conf1.png' %}"> Configuración  <img id="config-subir" style="width: 10px; height: 10px" src="{% static 'img/menu/subir.png' %}"> <img id="config-bajar" style="width: 10px; height: 10px" src="{% static 'img/menu/down-arrow.png' %}"> 
         </a>
         <ul>
           <li class="nav-item textomenucuenta" id="config-li1" style="list-style: none">
             <a class="nav-link" href="{% url 'misdatos' %}">
               <span data-feather="file"></span>
               Mis datos
             </a>
           </li>
           <li class="nav-item textomenucuenta" id="config-li2" style="list-style: none">
             <a class="nav-link" href="{% url 'direcciones' %}">
               <span data-feather="file"></span>
               Direcciones
             </a>
           </li>
           {% ifequal user.validar "Validado" %}
                     <li class="nav-item textomenucuenta" id="config-li2" style="list-style: none">
                       <a class="nav-link " href="{% url 'tiendas' %}">
                         <span data-feather="file"></span>
                         Tiendas
                       </a>
                     </li>
                     {% endifequal %}
         </ul>
       </li>
     </ul>

   </div>
 </nav>


 <nav id="navshort" class="d-none mostrar bg-light sidebar" style="display: none !important"  >
     <div id="navshort1" class="sidebar-sticky">
       <ul class="nav flex-column">
           <li class="nav-item">
                 <span data-feather="home"></span>
                 <img id="micuenta-short" src="{% static 'img/cuenta/icono_perfil1.png' %}"> 
             </li>
         <li class="nav-item">
           <a class="nav-link active" href="#">
             <span data-feather="home"></span>
             <img src="{% static 'img/cuenta/icono_resumen2.png' %}"> 
           </a>
         </li>
         <li class="nav-item">
           <div class="nav-link" id="compra">
             <span data-feather="file"></span>
             <img src="{% static 'img/cuenta/icono_compras1.png' %}">
           </div>
         </li>
         <li class="nav-item" >
           <a class="nav-link" href="#">
             <span data-feather="shopping-cart"></span>
             <img src="{% static 'img/cuenta/icono_ventas1.png' %}"> 
           </a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">
             <span data-feather="users"></span>
             <img src="{% static 'img/cuenta/icono_conf1.png' %}"> 
           </a>
         </li>
       </ul>

     </div>
   </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
               <h2 style="margin-left:5%" >Detalles de la orden</h2>
               <br>

               <div class="card" style="margin-left:3%;">
                 <div class="card-body">
                  <div>
                   <h6> Fecha de la orden: {{i.date_add}} </h6>
                   <p> Número de pedido: {{i.id_order}}. Estado: {{estado.id_order_state.name}} </p>
                   <h6 class="card-subtitle mb-2 text-muted"> {{i.id_shop.name}}</h6>
                 </div>
                 <div style="padding-top: 0px" class="row" >
                   <div class="col-8" ><!-- Class Primera card sin borde -->	
                     <div class="card" style="border: 0px"><!--  Primera card sin borde -->	
                       <div class="card-body"><!--  Primera card-body sin borde -->	
                         {% for d in detalles %}
                         {% ifequal d.id_order i %}
                         <div class="row"><!--  Row de producto 1 -->
                           {% for f in fotos %}
                           {% ifequal f.id_product d.product_id %}
                           <div class="col-sm-3"> <!-- col imagen.// -->
                             <div style="width: 150px"><img class="img-thumbnail"  src="{{f.image.url}}">
                             </div>
                            </div> <!-- col imagen.// -->
                            {% endifequal %}
                            {% endfor %}
                           <div class="col-sm-8" > <!-- col info.// -->
                             <h5 class="card-title"> {{d.product_name}}  </h5>
                             <p>Cantidad: {{d.product_quantity}} <br>
                               {% if d.product_attribute_id %}
                               <strong>{{d.product_attribute_id}}</strong></p>
                               {% endif %}
                             <p style="color: red">{{d.product_price}} </p>
             
                             
                           </div> <!-- col info.// -->
                         </div> <!--  Row de producto 1 -->
                         <br>
                         {% endifequal %}
                         {% endfor %}
             
                        </div> <!-- Final Primera card-body sin borde -->
                         </div><!-- Final Primera card sin borde -->
                   </div><!-- Final de class Primera card sin borde -->
                   
                   <div class="col-4">		
                     
                       <div class="action-wrap">
                         <div style="padding-top: 20px" class="price-wrap  h4">
                           {% ifequal i.id_carrier.is_free True %}
                           <span class="price"> Total: {{i.total_paid}}{{i.id_currency.sign}} </span>	
                           <br>
                           <p class="text-success">Envio gratis</p>
                           {% else %}
                           <span class="price"> Total: {{i.total_paid}}{{i.id_currency.sign}} </span>	
                           <br>
                           {% endifequal %}
                         </div> <!-- info-price-detail // -->
                         
                           <p>
                              {%ifequal estado.id_order_state.name  "Espera de pago" %} 
                              {% if sinaprob %}
                              <br>
                              <a href="#aprobar" class="btn btn-success" style="margin-top:5%"> Aprobar Pago </a>
                              {% endif %}
                              <div class="btn-group">
                                  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Más acciones
                                  </button>
                                  <div class="dropdown-menu">
                                      <a class="dropdown-item" data-toggle="modal" data-target="#pagado{{i.id_order}}">Marcar como pagado</a>
                                      <a class="dropdown-item" data-toggle="modal" data-target="#entregado{{i.id_order}}">Marcar como entregado</a>
                                      <a class="dropdown-item" href="{% url 'registrar_envio' i.id_order %}">Registrar tracking o envio</a>
                                      <a class="dropdown-item" data-toggle="modal" data-target="#disputa{{i.id_order}}">Disputa</a>
                                      <a class="dropdown-item" href="{% url 'ventas_chat' i.id_order %}">Contactar con el comprador</a>
                                </div>
                              </div>
                              {% endifequal %} 
                              {%ifequal estado.id_order_state.name "Pago aceptado" %} 
                              <br>
                              <a href="{% url 'registrar_envio' i.id_order %}" class="btn btn-success" style="margin-top:5%">Registrar tracking o envio </a>
                              <div class="btn-group">
                                  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Más acciones
                                  </button>
                                  <div class="dropdown-menu">
                                  <a class="dropdown-item" data-toggle="modal" data-target="#entregado{{i.id_order}}">Marcar como entregado</a>
                                  <a class="dropdown-item" data-toggle="modal" data-target="#disputa{{i.id_order}}">Disputa</a>
                                  <a class="dropdown-item" href="{% url 'ventas_chat' i.id_order %}">Contactar con el comprador</a>
                                </div>
                              </div>
                              {% endifequal %} 
                              {%ifequal estado.id_order_state.name "Enviado" %} 
                              {% if i.valid %}
                              <div class="btn-group">
                                  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Más acciones
                                  </button>
                                  <div class="dropdown-menu">
                                  <a class="dropdown-item" data-toggle="modal" data-target="#disputa{{i.id_order}}">Disputa</a>
                                  <a class="dropdown-item" href="{% url 'ventas_chat' i.id_order %}">Contactar con el comprador</a>
                                </div>
                              </div>
                              {% else %}
                              <br>
                              <a ata-toggle="modal" data-target="#pagado{{i.id_order}}" class="btn btn-success" style="margin-top:5%"> Marcar como pagado</a>
                              <div class="btn-group">
                                  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Más acciones
                                  </button>
                                  <div class="dropdown-menu">
                                  {% if sinaprob %}
                                  <a class="dropdown-item" href="#aprobar">Aprobar Pago</a>
                                  {% endif %}
                                  <a class="dropdown-item" data-toggle="modal" data-target="#disputa{{i.id_order}}">Disputa</a>
                                  <a class="dropdown-item" href="{% url 'ventas_chat' i.id_order %}">Contactar con el comprador</a>
                                </div>
                              </div>
                              {% endif %}
                              {% endifequal %}
                              {%ifequal estado.id_order_state.name "Finalizado" %} 
                              <div class="btn-group">
                                  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Más acciones
                                  </button>
                                  <div class="dropdown-menu">
                                  <a class="dropdown-item" data-toggle="modal" data-target="#disputa{{i.id_order}}">Disputa</a>
                                  <a class="dropdown-item" href="{% url 'ventas_chat' i.id_order %}">Contactar con el comprador</a>
                                </div>
                              </div>
                              {% endifequal %} 
                          

                              <div class="modal fade" id="pagado{{i.id_order}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">¿Estás seguro de que ya te pagaron el monto total del pedido?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        Si lo confirma será de forma permanente.
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        <a class="remove" href="{% url 'marcar_pagado' i.id_order %}"><button type="submit" class="btn btn-primary">Estoy seguro</button></a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                
                                <div class="modal fade" id="entregado{{i.id_order}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">¿Ya realizó la entrega de los productos?</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                            Si lo confirma será de forma permanente.
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                          <a class="remove" href="{% url 'marcar_entregado' i.id_order %}"><button type="submit" class="btn btn-primary">Estoy seguro</button></a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                
                                  <div class="modal fade" id="disputa{{i.id_order}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">¿Estás seguro que deseas iniciar una disputa por esta orden?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            Al iniciarla se creara un chat para mediar los casos.
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                            <a class="remove" href="{% url 'disputa_comprador' i.id_order %}"><button type="submit" class="btn btn-primary">Estoy seguro</button></a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                       <!--<a href="#" class="btn btn-secondary"> Details  </a>-->
                           </p>
                       </div> <!-- action-wrap.// -->
                     
                 </div> <!-- Class 2 -->
                 </div> <!-- row.// card completa -->
                 </div> <!-- card-body-completa .// -->
               </div> <!-- card completa .// -->
               <br><br>
               <div style="padding-top: 0px" >
                  <div class="col-xl">
                     <h2 style="margin-left:5%" >Historial de la orden</h2>
                     <br>	       
                     <br>
                     <div style="margin-left:2%" class="col-sm">
                        <div class="card" >
                           <div class="card-body">
                              <div class="table-responsive">
                                  <table class="table table-striped table-sm">
                                  <thead>
                                      <tr>
                                          <th class="card-title">Estado</th>
                                          <th class="card-title">Fecha</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    {% for h in historial %}
                                      <tr>
                                          <td>{{h.id_order_state.name}}</td>
                                          <td>{{h.date_add}}</td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                                </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <br>
               <br>

               <div style="padding-top: 0px" >
                  <div class="col-xl">
                     <h2 style="margin-left:5%" >Información de seguimiento
                        {% ifequal i.enviado False %}
                        <a href="{% url 'registrar_envio' i.id_order %}" class="btn btn-success" > Registrar tracking o envio</a>
                        {% endifequal %}
                    </h2>
                     <br>	       
                     <br>
                     <div style="margin-left:2%" class="col-sm">
                        <div class="card" >
                           <div class="card-body">
                              <h5 class="card-title">Empresa de transporte: {{i.id_carrier}}</h5>
                              {% if i.shipping_number %}
                              <h6 class="card-subtitle mb-2 text-muted">Tracking number: {{i.shipping_number}}</h6>
                              {%endif %}
                              {% ifequal i.id_carrier.is_free True %}
                              <p class="h6">Envio: Gratis</p>
                              {% else %}
                              <p class="h6">Envio: Pago</p>
                              {% endifequal %}
                              {%if i.shipping_date %}
                              <p class="h6">Fecha de salida: {{i.shipping_date}} </p>
                              {% endif %}
                              <br>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <br>
              
               <div style="padding-top: 0px" >
                  <div class="col-xl">
                     <h2 style="margin-left:5%" >Información de contacto</h2>
                     <br>	       
                     <br>
                     <div style="margin-left:2%" class="col-sm">
                        <div class="card" >
                           <div class="card-body">
                              <h5 class="card-title">Usuario: {{i.id_customer.username}}</h5>
                              <p class="h6">Teléfono: {{i.id_customer.phone}}</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <br>
               <br>
               <h2 style="margin-left:5%" >Direcciones</h2>
               <div style="margin-left:0%" class="row">
                  <div class="card" style="border: 0px; ">
                     <div class="card-body" >
                        <div style="padding-top: 0px" >
                           <div class="col-xl">
                              <br>	       
                              <br>
                              <div style="margin-left:0%" class="col-sm">
                                 <div class="card">
                                    <div class="card-body" style="width: 400px">
                                       <h5 class="card-title">Dirección de envio</h5>
                                       <h5 class="card-title">{{i.id_address_delivery.firstname}} {{i.id_address_delivery.lastname}}</h5>
                                       <h6 class="card-subtitle mb-2 text-muted">{{i.id_address_delivery.company}}</h6>
                                       <p class="h6">{{i.id_address_delivery.address1}} {{i.id_address_delivery.address2}}</p>
                                       <p class="h6">{{i.id_address_delivery.city}}, {{i.id_address_delivery.id_state}}, {{i.id_address_delivery.postcode}}</p>
                                       <p class="h6">{{i.id_address_delivery.id_country}}</p>
                                       <p class="h6">{{i.id_address_delivery.phone}}</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <br>
                  <div class="card" style="border: 0px; margin-left: 0%">
                     <div class="card-body">
                        <div style="padding-top: 0px" >
                           <div class="col-xl">
                              <br>	       
                              <br>
                              <div class="col-sm">
                                 <div class="card" >
                                    <div class="card-body"  style="width: 400px">
                                       <h5 class="card-title">Dirección de facturación</h5>
                                       <h5 class="card-title">{{i.id_address_invoice.firstname}} {{i.id_address_invoice.lastname}}</h5>
                                       <h6 class="card-subtitle mb-2 text-muted">{{i.id_address_invoice.company}}</h6>
                                       <p class="h6">{{i.id_address_invoice.address1}} {{i.id_address_invoice.address2}}</p>
                                       <p class="h6">{{i.id_address_invoice.city}}, {{i.id_address_invoice.id_state}}, {{i.id_address_invoice.postcode}}</p>
                                       <p class="h6">{{i.id_address_invoice.id_country}}</p>
                                       <p class="h6">{{i.id_address_invoice.phone}}</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <br><br>
               <div id="aprobar" style="padding-top: 0px" >
                  <div class="col-xl">
                     <h2 style="margin-left:5%" >Información de pago  {% if i.valid %}
                          {%else%}
                          {% if sinaprob %}
                          {% else %}
                          <a data-toggle="modal" data-target="#pagado{{i.id_order}}" class="btn btn-success" > Marcar como pagado </a>
                          {% endif %}
                          {% endif %}</h2>
                     <br>	       
                     <br>
                     <div  style="margin-left:2%" class="col-sm">
                        <div class="card" >
                           <div class="card-body">
                              {% if i.valid %}
                              <div class="alert alert-success" role="alert">
                                  Pedido pagado totalmente.
                                </div>
                                {% endif %}
                                {%if trans %}
                                <div class="table-responsive">
                                    <table class="table table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="card-title">Id transacción</th>
                                            <th class="card-title">Fecha</th>
                                            <th class="card-title">Monto</th>
                                            <th class="card-title">Cuenta</th>
                                            <th class="card-title">Status</th>
                                            <th class="card-title">Opción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      {% for t in trans %}
                                        <tr>
                                            <td>{{ t.id_transaction}}</td>
                                            <td>{{t.date_add}}</td>
                                            <td>{{t.amount}}</td>
                                            <td>{{t.id_acount.name}}</td>
                                            <td>
                                              {% if t.aprobado %}
                                              Aprobado
                                              {% else %}
                                              En espera.
                                              {%endif%}
                                            </td>
                                            <td>
                                                {% if t.aprobado %}
                                                <a href="javascript:void(0)" title="Predeterminado"><i class="fa fa-circle" style="font-size: 16px"> </i></a>
                                                {% else %}
                                                <a data-toggle="modal" data-target="#aprobado{{t.id_transaction}}"title="Predeterminado"><i class="fa fa-circle-o" style="font-size: 16px"> </i></a>
                                                {% endif %}
                                              </td>
                                        </tr>
                                      
                                        <div class="modal fade" id="aprobado{{t.id_transaction}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title" id="exampleModalLabel">¿Estás seguro que deseas aprobar esta transacción?</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                    Si la aprueba será de forma permanente.
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                  <a class="remove" href="{% url 'aprobar_pago' i.id_order t.id_transaction %}"><button type="submit" class="btn btn-primary">Estoy seguro</button></a>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                      {% endfor %}
                                    </tbody>
                                  </table>
                                  </div>
                                {%else %}
                                No se ha realizado ninguna transacción.
                                {%endif%}
                              <br>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <br>
               <br>
               <br>
               
            </main>
         </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      <style type="text/css">
         .h-divider{
         margin-top:5px;
         margin-bottom:5px;
         height:1px;
         width:10%;
         border-top:1px solid gray;
         }
      </style>
      <script>
         $(document).ready(function(){
           $("#micuenta-short").click(function(){
             $("#navlarga").show();
             $("#navlarga").addClass("d-md-block");
             $("#navshort").removeClass("mostrar");
           });
           $("#micuenta-2").click(function(){
             $("#navshort").show();
             $("#navlarga").removeClass("d-md-block");
             $("#navshort").addClass("mostrar");
           });
           $("#compra-subir").click(function(){
             $("#compra-li1").hide();
             $("#compra-li2").hide();
             $("#compra-li3").hide();
             $("#compra-subir").hide();
             $("#compra-bajar").show();
           });
           $("#compra-bajar").click(function(){
             $("#compra-li1").show();
             $("#compra-li2").show();
             $("#compra-li3").show();
             $("#compra-subir").show();
             $("#compra-bajar").hide(); 
           });
           $("#ventas-subir").click(function(){
             $("#ventas-li1").hide();
             $("#ventas-li2").hide();
             $("#ventas-li3").hide();
             $("#ventas-subir").hide();
             $("#ventas-bajar").show();
           });
           $("#ventas-bajar").click(function(){
             $("#ventas-li1").show();
             $("#ventas-li2").show();
             $("#ventas-li3").show();
             $("#ventas-subir").show();
             $("#ventas-bajar").hide();
           });
           $("#config-subir").click(function(){
             $("#config-li1").hide();
             $("#config-li2").hide();
             $("#config-li3").hide();
             $("#config-li4").hide();
             $("#config-subir").hide();
             $("#config-bajar").show();
           });
           $("#config-bajar").click(function(){
             $("#config-li1").show();
             $("#config-li2").show();
             $("#config-li3").show();
             $("#config-li4").show();
             $("#config-subir").show();
             $("#config-bajar").hide();
           });
         });
      </script>
   </body>
</html>