{% load static %}
{% load menu_categorias %}
{% load l10n %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">
		<meta name="theme-color" content="#f44336">
		<meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:">
		<title>ComparaGrow.cl</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'mobile/css/framework7.ios.css' %}">
		<link rel="stylesheet" href="{% static 'mobile/css/icons.css' %}"">
		<link rel="stylesheet" href="{% static 'mobile/css/app.css' %}"">
		<link rel="apple-touch-icon" href="{% static 'mobile/img/f7-icon-square.png' %}"">
		<!-- <link rel="icon" href="{% static 'mobile/img/f7-icon.png' %}""> -->
		<link rel="icon" type="image/png" href="/static/img/lupa.png">
	</head>
	<body class="color-theme-pink">
		<div id="app">
			<!-- <div class="statusbar"></div>
			<div class="panel panel-left panel-cover">
				<div class="page">
					<div class="page-content">
					</div>
				</div>
			</div> -->

			<!-- probando donde inicio -->
			<div class="view view-main view-init ios-edges" data-url="/">
				<!-- probando donde inicia -->
				<div class="page">
					<div class="navbar" style="background:#fff !important;">
						 <div class="navbar-inner" style="background:#fff !important;">
							 <div class="title-page" style="width:100%;margin-top: 12px;">
							   <div class="title-page-with-link">
							     <h1 class="" style="display: flex;color: #672d93;">
										 <a href="/" >
										 		<img src="/static/img/logo.png" style="height: 50px;">
										 </a>
									 </h1>
							     {% if user.is_authenticated %}
							     <a href="/profile/" class="tab-link text-align-right">
							       <i class="material-icons" style="font-size: 40px;color: #01b22c;">account_circle</i>
							       <!-- <span class="tabbar-label">Profile</span> -->
							     </a>
							     {% else %}
							     <a href="/login/" class="tab-link text-align-right">
							       <i class="material-icons" style="font-size: 40px;color: #01b22c;">account_circle</i>
							       <!-- <span class="tabbar-label">Profile</span> -->
							     </a>
							     {% endif %}
							   </div>
							 </div>
							 <div class="subnavbar" style="background:#fff !important;">
								 <!-- Searchbar with auto init -->
								 <form class="searchbar" id="form-search" style="background:#fff !important;">
							     <div class="searchbar-input-wrap" style="background:#fff !important;">
							       <input placeholder="Busca miles de productos al mejor precio" class="" type="search" style="border: 1px solid;
							 border-bottom:2px solid #01b22c; border-left:none; border-right:none; border-top:none; border-radius: inherit;" name="q">
							       <i class="searchbar-icon"></i>
							       <span class="input-clear-button"></span>
							     </div>
							   </form>
							 </div>
						 </div>
					 </div>
					{% if user.is_authenticated %}
						<!--  probando donde inicia-->
						{% include 'comparagrow/mobile/pages/com_header.html' %}
					{% endif %}


					<div class="sheet-modal sheet-modal-top brand-sheet">
				    <div class="toolbar">
				      <div class="toolbar-inner">
				        <div class="right"><a class="link sheet-close">Cerrar</a></div>
				        <!-- <div class="right"><a class="link sheet-close" href="#" style="color:#fff;" id="filter-product">Aplicar</a></div> -->
				      </div>
				    </div>
				    <div class="sheet-modal-inner" style="background:#fff;">
							<div class="page-content" style="background:#fff;">
								<!-- listado de tiendas -->
								<div class="list" style="margin:0 0;">
								  <ul>

								    {% for brand in "brand"|listado_brand %}
								    <li>
											<a href="#" style="color:#000;" id="btn-brand-index" id_brand="{{ brand.name }}">
											<div class="item-content">
							          <div class="item-inner">
							            <div class="item-title" style="color:#000;">{{ brand.name }}</div>
							          </div>
							        </div>
											</a>
								    </li>
										{% endfor %}

										</ul>
									</div>
								<!--  -->
				      </div>
				    </div>
				  </div>

					<div class="sheet-modal sheet-modal-top shop-sheet">
				    <div class="toolbar">
				      <div class="toolbar-inner">
				        <div class="right"><a class="link sheet-close">Cerrar</a></div>
				        <!-- <div class="right"><a class="link sheet-close" href="#" style="color:#fff;" id="filter-product">Aplicar</a></div> -->
				      </div>
				    </div>
				    <div class="sheet-modal-inner" style="background:#fff;">
				      <div class="page-content" style="background:#fff;">
								<!-- listado de tiendas -->
								<div class="list" style="margin:0 0;">
								  <ul>

								    {% for shop in "tiendas"|listado_shop %}
								    <li>
											<a href="#" style="color:#000;" id="btn-shop-index" id_shop="{{ shop.id }}">
											<div class="item-content">
							          <div class="item-inner">
							            <div class="item-title" style="color:#000;">{{ shop.name }}</div>
							          </div>
							        </div>
											</a>
								    </li>
										{% endfor %}

										</ul>
									</div>
								<!--  -->
				      </div>
				    </div>
				  </div>

					<div class="page-content">
							<div class="block block-no-padding" style="margin-top: 5px;height: 8px;">
								<!-- Search -->
								<!-- End Search -->
									{% include 'comparagrow/mobile/pages/com_navegation_two.html' %}
							</div>
							{% include 'comparagrow/mobile/pages/com_slider.html' %}
							<div class="block block-no-padding" style="margin-top:2px;">
								<!-- Seller Section -->
								{% include 'comparagrow/mobile/pages/com_slider_product.html' %}
							</div>
							<!-- brands Section -->
					</div>
					<!-- <div class="sheet-modal sheet-modal-top my-sheet-top">
				    <div class="toolbar toolbar-bottom">
				      <div class="toolbar-inner">
				        <div class="left"></div>
				        <div class="right"><a class="link sheet-close" href="#">Done</a></div>
				      </div>
				    </div>
				    <div class="sheet-modal-inner">
				      <div class="block">
				        <h4>Info</h4>
				        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc. Quisque sodales scelerisque est, at porta justo cursus ac.</p>
				      </div>
				    </div>
				  </div> -->
				</div>
			</div>
		</div>
		<script src="{% static 'mobile/js/framework7.min.js' %}"></script>
		<script src="{% static 'mobile/js/routes.js' %}"></script>
		<script src="{% static 'mobile/js/app.js' %}"></script>
	</body>
</html>
