{% load static %}
<!doctype html>
<html lang="en" class="h-100">
  <head>
      <meta charset="utf-8">
      <title> Megamercado</title>


    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/css/bootstrap.min.css' %}" rel="stylesheet" >
    <link href="{% static 'css/maxcdn/bootstrap.css' %}" rel="stylesheet" id="bootstrap-css">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/comun/color.css' %}" rel="stylesheet">

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->

  </head>
  <body class="d-flex flex-column h-100">

      {% if request.user.is_authenticated %}
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 color" >
          <a class="navbar-brand" href="#" style="width: 200px; font-size: 17px"">Logo</a>

          <form class="form-inline mt-2 mt-md-0" action="{% url 'busqueda' %}" method="get" >
                        <input class="form-control mr-sm-2" name="q" aria-label="Search"  style="width: 450px" type="text">
                        <button type="submit" style="margin-left: -98px;
                        height: 30px;
                        width: 90px;
                        background-color: white; 
                        color: gray;
                        border: 0;
                        -webkit-appearance: none;font-size: 15px"> <img style="width: 15px; height: 15px" src="{% static 'img/menu/search(1).png' %}">Search</button>
                      </form>
                      <div  style="width: 300px"> </div>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div  style="width: 300px"> </div>
            <ul class="navbar-nav mr-auto" >
              <li class="nav-item active">
                <a class="nav-link" href="#" style="width: 116px;font-size: 17px""> Usuario  <img style="width: 20px; height: 20px" src="{% static 'img/menu/Mi-cuenta.png' %}"></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#" style="font-size: 17px"> <img style="width: 20px; height: 20px" src="{% static 'img/menu/notification.png' %}"></a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="font-size: 17px"> <img style="width: 20px; height: 20px" src="{% static 'img/menu/heart.png' %}"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'carritos'%}" style="font-size: 17px" > <img style="width: 20px; height: 20px" src="{% static 'img/menu/shopping-cart2.png' %}"></a>
              </li>
            </ul>
            
          </div>
        </nav>
      {% else %}
      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 color" >
          <a class="navbar-brand" href="#" style="width: 200px; font-size: 17px"">Logo</a>

          <form class="form-inline mt-2 mt-md-0" action="{% url 'busqueda' %}" method="get" >
                        <input class="form-control mr-sm-2" name="q" aria-label="Search"  style="width: 450px" type="text">
                        <button type="submit" style="margin-left: -98px;
                        height: 30px;
                        width: 90px;
                        background-color: white; 
                        color: gray;
                        border: 0;
                        -webkit-appearance: none;font-size: 15px"> <img style="width: 15px; height: 15px" src="{% static 'img/menu/search(1).png' %}">Search</button>
                      </form>
                      <div  style="width: 300px"> </div>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div  style="width: 300px"> </div>
            <ul class="navbar-nav mr-auto" >
              <li class="nav-item active">
                <a class="nav-link" href="#" style="width: 116px;font-size: 17px""> Iniciar sesión </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#" style="font-size: 17px"> Regístrate</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="font-size: 17px" > <img style="width: 20px; height: 20px" src="{% static 'img/menu/shopping-cart2.png' %}"></a>
              </li>
            </ul>
            
          </div>
        </nav>
      {% endif %}

        <main role="main" class="container">
          <div class="row">
            <div class="col-md-7 blog-main">
              <h3 class="pb-4 mb-4 font-italic border-bottom">
                <a id="backToCateg" class="navigation-back" href="#" title="Volver al listado" class="nav-path-return">{{producto.id_category_default}}</a>
              </h3>
              
              {% if producto_image %}
              <div class="preview-pic tab-content">
                {% if u1 %}
                <div class="tab-pane active" id="pic-1"><img style="height: 500px; width: 500px" src="{{u1}}" /></div>
                {% endif %}
                {% if u2 %}
                <div class="tab-pane" id="pic-2"><img style="height: 500px; width: 500px" src="{{u2}}" /></div>
                {% endif %}
                {% if u3 %}
                <div class="tab-pane" id="pic-3"><img style="height: 500px; width: 500px" src="{{u3}}" /></div>
                {% endif %}
                {% if u4 %}
                <div class="tab-pane" id="pic-2"><img style="height: 500px; width: 500px" src="{{u4}}" /></div>
                {% endif %}
                {% if u5 %}
                <div class="tab-pane" id="pic-3"><img style="height: 500px; width: 500px" src="{{u5}}" /></div>
                {% endif %}
                {% if u6 %}
                <div class="tab-pane" id="pic-2"><img style="height: 500px; width: 500px" src="{{u6}}" /></div>
                {% endif %}
                {% if u7 %}
                <div class="tab-pane" id="pic-3"><img style="height: 500px; width: 500px" src="{{u7}}" /></div>
                {% endif %}
                {% if u8 %}
                <div class="tab-pane" id="pic-2"><img style="height: 500px; width: 500px" src="{{u8}}" /></div>
                {% endif %}
              </div>

              <ul class="preview-thumbnail nav nav-tabs">
                {% if u1 %}
                  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img style="height: 100px; width: 100px" src="{{u1}}" /></a></li>
                  {% endif %}
                {% if u2 %}
                  <li><a data-target="#pic-2" data-toggle="tab"><img style="height: 100px; width: 100px" src="{{u2}}" /></a></li>
                  {% endif %}
                {% if u3 %}
                  <li><a data-target="#pic-3" data-toggle="tab"><img style="height: 100px; width: 100px" src="{{u3}}" /></a></li>
                  {% endif %}
                {% if u4 %}
                  <li><a data-target="#pic-4" data-toggle="tab"><img style="height: 100px; width: 100px" src="{{u4}}" /></a></li>
                  {% endif %}
                {% if u5 %}
                <li><a data-target="#pic-5" data-toggle="tab"><img style="height: 100px; width: 100px" src="{{u5}}" /></a></li>
                {% endif %}
                {% if u6 %}
                  <li><a data-target="#pic-3" data-toggle="tab"><img style="height: 100px; width: 100px" src="{{u6}}" /></a></li>
                  {% endif %}
                {% if u7 %}
                  <li><a data-target="#pic-4" data-toggle="tab"><img style="height: 100px; width: 100px" src="{{u7}}" /></a></li>
                  {% endif %}
                {% if u8 %}
                <li><a data-target="#pic-5" data-toggle="tab"><img style="height: 100px; width: 100px" src="{{u8}}" /></a></li>
                {% endif %}
              </ul>
              {% endif %}

              {% if producto.description_short %}
              <div class="p-4 mb-3 bg-light rounded">
                  <br>
                  <br>
                  <h4 class="font-italic">Descripción</h4>
                  <p class="mb-0">{{producto.description_short}}</p>
                </div>
              {% endif %}
            </div><!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
              <div class="p-4 mb-3 bg-light rounded">
                <br>
                <br>
                <h1 class="font-italic">{{producto.name}}</h1>
                <br>
                <h4 class="font-italic"><br><b>Tienda:</b> {{producto.id_shop_default}}</h4>
              <div class="rating">
                  <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <span class="review-no">41 reviews</span>
                </div>
                <br>
                <h4 class="font-italic"><b>Precio:</b> {{producto.price}}
                </h4>
                <br>
                  {% if productcombination %}
                  <h4 class="font-italic"><b> Atributos</b></h4>
                  {% for i in productcombination %}
                  <p class="mb-0"><b> {{i.id_attribute.name}}</b></p>
                  <p class="mb-0">Precio: {{i.id_product_attribute.price}}</p>
                  <p class="mb-0">Cantidad: {{i.id_product_attribute.quantity}}</p>
                  <p class="mb-0">Peso: {{i.id_product_attribute.weight}}</p>
                  <br>
                  {% endfor %}
                  {% endif %}
                  <h4 class="font-italic"><b>Cantidad:</b> {{producto.quantity}}</h4>
                  <button style="width: 300px" class="btn btn-outline-success my-2 my-sm-0" type="submit" >Agregar a Carrito</button>
                  <br>
                  <br>
                  <button style="width: 300px" class="btn btn-outline-success my-2 my-sm-0" type="submit" >Comprar ahora</button>
                  <br>
                  <br>
                  <button style="width: 300px" class="btn btn-outline-success my-2 my-sm-0" type="submit" >Seleccionar tienda</button>
                  <br>
                  <br>
                  <h4 class="font-italic">Garantia</h4>
                  <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                  <br>
                  <h4 class="font-italic">Formas de pago</h4>
                  <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
              </div>

            </aside><!-- /.blog-sidebar -->

          </div><!-- /.row -->
        
        </main><!-- /.container -->
  
        <main role="main" class="container">
            <div class="row">
              <div class="col-md-7 blog-main">
          
                <div class="p-4 mb-3 bg-light rounded">
                    <br>
                    {% if producto.description %}
                    <br>
                    <h4 class="font-italic">Descripción larga</h4>
                    <p class="mb-0">{{producto.description}}</p>
                    {% endif %}
                    <br>
                    <h4 class="font-italic">¿Tienes una pregunta?</h4>
                    <form class="form-inline mt-2 mt-md-0" method="POST">
                        {% csrf_token %}
                        <textarea class="form-control" style="width: 450px" name="pregunta" id="id_pregunta" rows="3" required></textarea>
                        <button class="btn btn-outline-success my-2 my-sm-0" name="submit"  style="width: 100px" type="submit" value="form1" >Enviar</button>
                      </form>
                    <br>
                    <br>
                    <h4 class="font-italic">Últimas preguntas</h4>
                  
                  
                          {%for p in preg %}
                          <div class="row">
                        <div class="media">
                          <!-- first comment -->
                  
                          <div class="media-heading">
                            <button class="btn btn-default btn-xs" type="button" data-toggle="collapse" data-target="#collapseOne{{p.id_pregunta}}" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button> 
                          </div>
                          
                          <div class="panel-collapse collapse in" id="collapseOne{{p.id_pregunta}}">
                  
                            <div class="media-left">
                              <div class="vote-wrap">
                                <div class="vote up">
                                  <i class="glyphicon glyphicon-menu-up"></i>
                                </div>
                                <div class="vote inactive">
                                  <i class="glyphicon glyphicon-menu-down"></i>
                                </div>
                              </div>
                              <!-- vote-wrap -->
                            </div>
                            <!-- media-left -->
                  

                            <div class="media-body">
                              <p><b>{{p.owner.username}}:</b>{{p.pregunta}} - <cite>{{p.fecha_pregunta}}</cite></p>
                              <div class="comment-meta">
                                {%if p.respuesta %}
                                {%else%}
                                {% if dueño %}
                                <span>
                                          <a class="" role="button" data-toggle="collapse" href="#replyCommentT" aria-expanded="false" aria-controls="collapseExample">Responder</a>
                                        </span>
                                      {%endif%}
                                      {%endif%}
                                <div class="collapse" id="replyCommentT">
                                  <form method="POST">
                                      {% csrf_token %}
                                      <input type="hidden" name="pregunta" id="id_pregunta" value="{{p.id_pregunta}}">
                                    <div class="form-group">
                                      <label for="comment">Respuesta</label>
                                      <textarea name="respuesta"  style="width: 500px" id="id_respuesta" class="form-control" rows="3" required></textarea>
                                    </div>
                                    <button name="submit" type="submit" value="form2" class="btn btn-default">Enviar</button>
                                  </form>
                                </div>
                              </div>
                              <!-- comment-meta -->
                              {% if p.respuesta %}
                              <div class="media">
                                <!-- answer to the first comment -->
                  
                                <div class="media-heading">
                                  <button class="btn btn-default btn-collapse btn-xs" type="button" data-toggle="collapse" data-target="#collapseTwo{{p.id_pregunta}}" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button> 
                                </div>
                  
                                <div class="panel-collapse collapse in" id="collapseTwo{{p.id_pregunta}}">
                  
                                  <div class="media-left">
                                    <div class="vote-wrap">
                                      <div class="vote up">
                                        <i class="glyphicon glyphicon-menu-up"></i>
                                      </div>
                                      <div class="vote inactive">
                                        <i class="glyphicon glyphicon-menu-down"></i>
                                      </div>
                                    </div>
                                    <!-- vote-wrap -->
                                  </div>
                                  <!-- media-left -->
                  
                  
                                  <div class="media-body">
                                    <p><b>{{p.id_product.id_shop_default.name}}: </b>{{p.respuesta}} - <cite>{{p.fecha_respuesta}}</cite></p>
                                    <!-- comment-meta -->
                                  </div>
                                </div>
                                <!-- comments -->
                  
                              </div>
                              {% endif %}
                              <!-- answer to the first comment -->
                  
                            </div>
                            
                          </div>
                          <!-- comments -->
                  
                        </div>
                        <br>

                        <!-- first comment -->

                        <!-- first comment -->
                      </div>
                      {% endfor %}
                  
                  </div>
              </div><!-- /.blog-main -->
  
              <aside class="col-md-4 blog-sidebar">
                <div class="p-4 mb-3 bg-light rounded">
                  <br>
                  <br>
                  <h1 class="font-italic">Información de la Tienda</h1>
                  <p class="mb-0">{{producto.id_shop_default.name}}</p>
                  {% if producto.id_shop_default.virtual_url %}
                  <b>Url: </b> <a style="color: black"  href="{{producto.id_shop_default.virtual_url}}">{{producto.id_shop_default.virtual_url}} </a>
                  {% endif %}
                  <h4 class="font-italic"><br>Valoración del productos</h4>
                <div class="rating">
                    <div class="stars">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </div>
                    <span class="review-no">41 reviews</span>
                  </div>
                </div>
  
              </aside><!-- /.blog-sidebar -->
  
            </div><!-- /.row -->
          
          </main><!-- /.container -->
<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4" style="background-color: #00000000">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Footer Content</h5>
          <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
            consectetur
            adipisicing elit.</p>
  
        </div>

  
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <hr>
  
  
    <hr>
  
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
  
  
  </footer>
  <!-- Footer -->
          

      </body>