{% load static %}
{% load mptt_tags %}
{% load menu_categorias %}
<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>ComparaGrow</title>

		<meta name="keywords" content="HTML5 Template" />
		<meta name="description" content="Porto - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="/static/porto/vendor/bootstrap/css/bootstrap.min.css">
		<!-- <link rel="stylesheet" href="/static/porto/vendor/fontawesome-free/css/all.min.css"> -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css">

		<link rel="stylesheet" href="/static/porto/vendor/animate/animate.min.css">
		<link rel="stylesheet" href="/static/porto/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="/static/porto/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="/static/porto/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="/static/porto/vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="/static/porto/css/theme.css">
		<link rel="stylesheet" href="/static/porto/css/theme-elements.css">
		<link rel="stylesheet" href="/static/porto/css/theme-blog.css">
		<link rel="stylesheet" href="/static/porto/css/theme-shop.css">

		<!-- Current Page CSS -->
		<link rel="stylesheet" href="/static/porto/vendor/rs-plugin/css/settings.css">
		<link rel="stylesheet" href="/static/porto/vendor/rs-plugin/css/layers.css">
		<link rel="stylesheet" href="/static/porto/vendor/rs-plugin/css/navigation.css">

		<!-- Demo ICO -->



		<!-- Skin CSS -->
		<link rel="stylesheet" href="/static/porto/css/skins/default.css">
    <!-- <link rel="stylesheet" href="/static/porto/css/skins/skin-real-estate.css"> -->

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="/static/porto/css/custom.css">
    <!-- <link rel="stylesheet" href="/static/porto/css/demos/demo-real-estate.css"> -->

		<!-- Head Libs -->
		<script src="/static/porto/vendor/modernizr/modernizr.min.js"></script>

	</head>
	<body class="loading-overlay-showing" data-loading-overlay data-plugin-options="{'hideDelay': 500}">
		<div class="loading-overlay">
			<div class="bounce-loader">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
		</div>

		<div class="body">

			<header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 122, 'stickySetTop': '-122px', 'stickyChangeLogo': false}">
				<div class="header-body border-color-primary border-top-0 box-shadow-none">
          <div class="header-container  z-index-2" style="min-height: 22px; background:#000;">

          </div>
					<div class="header-container container z-index-2" style="min-height: 100px;">
						<div class="header-row">
							<div class="header-column">
								<div class="header-row">
									<h1 class="header-logo">
										<a href="/">
											<img style="height: 68px;" src="{% static 'theme/images/home/logo.png' %}">
											<span class="hide-text">ComparaGrow</span>
										</a>
									</h1>
								</div>
							</div>
							<div class="header-column justify-content-end">
								<div class="header-row">
									{% if user.is_authenticated %}
									<ul class="header-social-icons social-icons d-none d-sm-block social-icons-clean">
										<li class="" style="margin-right: 11px !important;">
											<span class="pl-0" style="font-size: 16px;">
												<i class="fas fa-cannabis text-4" style="top: 1px;margin-right: 5px;font-size: 20px !important;color: #01b22c;"></i>Perfil</span>
										</li>
										<li class="" style="margin-right: 11px !important;">
											<span class="pl-0" style="font-size: 16px;">
												<i class="fas fa-heart text-4" style="top: 1px;margin-right: 5px;font-size: 20px !important;color: #01b22c;"></i>Favoritos</span>
										</li>
										<li class="" style="margin-right: 11px !important;">
											<span class="pl-0" style="font-size: 16px;">
												<i class="fas fa-bell text-4" style="top: 1px;margin-right: 5px;font-size: 20px !important;color: #01b22c;"></i>Alertas</span>
										</li>
									</ul>


									<!-- <ul class="header-social-icons social-icons d-none d-sm-block social-icons-clean">
										<li class="social-icons-linkedin">
											<h2 class="word-rotator slide mb-2">
												<span class="word-rotator-words bg-primary">
													<b class="is-visible">PERFIL</b>
													<b>PERFIL</b>
													<b>PERFIL</b>
												</span>
											</h2>
										</li>
										<li class="social-icons-linkedin">
											<h2 class="word-rotator slide mb-2">
												<span class="word-rotator-words bg-primary">
													<b class="is-visible">FAVORITOS</b>
													<b>FAVORITOS</b>
													<b>FAVORITOS</b>
												</span>
											</h2>
										</li>
										<li class="social-icons-linkedin">
											<h2 class="word-rotator slide mb-2">
												<span class="word-rotator-words bg-primary">
													<b class="is-visible">ALERTAS</b>
													<b>ALERTAS</b>
													<b>ALERTAS</b>
												</span>
											</h2>
										</li>
									</ul> -->

				          {% else %}
									<h2 class="word-rotator clip is-full-width mb-2">
										<span><a href="/login" style="text-decoration:none;color: #000;">Inicia </a></span>
										<span class="word-rotator-words">

											<b class="is-visible" style="color:#01b22c;"><a href="/login" style="text-decoration:none;color:#01b22c;">sesion</a></b>
											<b class="" style="color:#672d93;"><a href="/login" style="text-decoration:none;color:#672d93">aqui</a></b>
											<!-- <b class="text-color-primary">extremely</b> -->

										</span>
										<span>
											<a href="/login" style="font-size: 28px;height: 40px;line-height: 40px;width: 40px;" target="_blank" title="Facebook">
												<!-- <img src="/static/img/lupa.png" style="height: 21px;"> -->
												<span class="fas fa-cannabis pl-0" style="font-size: 29px;color: #01b22c;"></span>
											</a></span>
									</h2>
				          {% endif %}

								</div>
							</div>

						</div>
					</div>
					<div class="header-nav-bar" style="background:#672d93;">
						<div class="container">
							<div class="header-row p-relative">
								<div class="header-column">
									<div class="header-row">
										<div class="header-colum order-2 order-lg-1">
											<div class="header-row">
												<div class="header-nav header-nav-stripe header-nav-divisor header-nav-force-light-text justify-content-start">
													<div class="header-nav-main header-nav-main-square header-nav-main-effect-1 header-nav-main-sub-effect-1">
														<nav class="collapse">
															<ul class="nav nav-pills" id="mainNav">
                                {% listado as listado_producto %}
                                  {% for genre,structure in listado_producto|tree_info %}
                                      {% if genre.level == 0 %}
                                      <li class="dropdown dropdown-full-color dropdown-light dropdown-mega">
                                        <a class="dropdown-item dropdown-toggle" href="/productos/categorias/{{ genre.slug }}" style="    font-weight: 500;
    letter-spacing: 1px;">
                                          {{ genre.name }}
                                        </a>
                                        {% for item1 in genre.slug|menulevelone:"1" %}
                                          {% if forloop.first %}
                                            <ul class="dropdown-menu">
                                              <li>
                                                <div class="dropdown-mega-content">
                                                  <div class="row">
                                          {% endif %}

                                                  <div class="col-lg-2">
                                                    <span class="dropdown-mega-sub-title">
                                                    <a class="" style="font-size: 14px;padding: 0;" href="/productos/categorias/{{ item1.slug }}">{{ item1.name }}</a>
                                                    </span>
                                                    <ul class="dropdown-mega-sub-nav">
                                                      {% for item2 in item1.slug|menulevelone:"2" %}
                                                      <li><a class="dropdown-item" href="/productos/categorias/{{ item2.slug }}">{{ item2.name }}</a></li>
                                                      {% endfor %}
                                                    </ul>
                                                  </div>

                                            {% if forloop.last %}
                                                  </div>
                                                </div>
                                              </li>
                                            </ul>
                                            {% endif %}
                                        {% endfor %}

                                      </li>
                                      {% endif %}
                                  {% endfor %}
															</ul>
														</nav>
													</div>
													<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
														<i class="fas fa-bars"></i>
													</button>
												</div>
											</div>
										</div>
										<div class="header-column order-1 order-lg-2">
											<div class="header-row justify-content-end">
												<div class="header-nav-features header-nav-features-no-border w-75 w-auto-mobile d-none d-sm-flex">
													<form role="search" class="d-flex w-100" action="/productos/buscador" method="get">
														<div class="simple-search input-group w-100">
															<input class="form-control border-0 text-1" id="headerSearch" name="texto" type="search" value="" placeholder="Busca aqui">
															<span class="input-group-append bg-light border-0">
																<button class="btn" type="submit">
																	<img src="{% static 'img/lupa.png' %}" style="height: 21px;">
																</button>
															</span>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<div role="main" class="main">

          {% block content %}

          {% endblock %}

			</div>

			<footer id="footer" style="background: #672d93;border:none;">
				<div class="container">
					<div class="row py-5 my-4">
						<div class="col-md-6 col-lg-2 mb-5 mb-md-0">
							<h5 class="text-3 mb-3">INFORMACION</h5>
							<ul class="list-unstyled mb-0">
								<li class="mb-3">
									<a href="#">
										<p class="text-3 text-color-light opacity-8 mb-1"><i class="fas fa-angle-right text-color-primary"></i><strong class="ml-2">Quienes Somos</strong></p>
									</a>
								</li>
								<li class="mb-3">
									<a href="#">
										<p class="text-3 text-color-light opacity-8 mb-1"><i class="fas fa-angle-right text-color-primary"></i><strong class="ml-2">Contactanos</strong></p>
									</a>
								</li>
								<li class="mb-3">
									<a href="#">
										<p class="text-3 text-color-light opacity-8 mb-1"><i class="fas fa-angle-right text-color-primary"></i><strong class="ml-2">FAQ</strong></p>
									</a>
								</li>
								<li class="mb-3">
									<a href="#">
										<p class="text-3 text-color-light opacity-8 mb-1"><i class="fas fa-angle-right text-color-primary"></i><strong class="ml-2">Mapa del Sitio</strong></p>
									</a>
								</li>
								<li class="mb-3">
									<a href="#">
										<p class="text-3 text-color-light opacity-8 mb-1"><i class="fas fa-angle-right text-color-primary"></i><strong class="ml-2">Terminos y Condiciones</strong></p>
									</a>
								</li>
								<li class="mb-3">
									<a href="#">
										<p class="text-3 text-color-light opacity-8 mb-1"><i class="fas fa-angle-right text-color-primary"></i><strong class="ml-2">Politica de Privacida</strong></p>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-md-6 col-lg-2 mb-5 mb-md-0">
							<h5 class="text-3 mb-3">GRUPO PAZ VERDE</h5>
							<ul class="list-unstyled mb-0">
								<li class="mb-3">
									<a href="#">
										<p class="text-3 text-color-light opacity-8 mb-1"><i class="fas fa-angle-right text-color-primary"></i><strong class="ml-2">Trabajemos Juntos</strong></p>
									</a>
								</li>
								<li class="mb-3">
									<a href="#">
										<p class="text-3 text-color-light opacity-8 mb-1"><i class="fas fa-angle-right text-color-primary"></i><strong class="ml-2">Blog</strong></p>
									</a>
								</li>
								<li class="mb-3">
									<a href="#">
										<p class="text-3 text-color-light opacity-8 mb-1"><i class="fas fa-angle-right text-color-primary"></i><strong class="ml-2">Data</strong></p>
									</a>
								</li>
								<li class="mb-3">
									<a href="#">
										<p class="text-3 text-color-light opacity-8 mb-1"><i class="fas fa-angle-right text-color-primary"></i><strong class="ml-2">Publicidad</strong></p>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-md-6 col-lg-2 mb-5 mb-md-0">
							<h5 class="text-3 mb-3">CONÉCTATE</h5>
							<ul class="footer-social-icons social-icons social-icons-clean social-icons-big social-icons-opacity-light social-icons-icon-light mt-1">
								<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
								<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
								<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
						<div class="col-md-6 col-lg-6">
							<h5 class="text-3 mb-3">CATEGORIES</h5>
							<p>
								{% listado as listado_producto %}
									{% for genre,structure in listado_producto|tree_info %}
									<a href="/productos/categorias/{{ genre.slug }}"><span class="badge badge-dark bg-color-black badge-sm py-2 mr-1 mb-2 text-uppercase">{{ genre.name }}</span></a>
									{% endfor %}
							</p>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<!-- Vendor -->
		<script src="/static/porto/vendor/jquery/jquery.min.js"></script>
		<script src="/static/porto/vendor/jquery.appear/jquery.appear.min.js"></script>
		<script src="/static/porto/vendor/jquery.easing/jquery.easing.min.js"></script>
		<script src="/static/porto/vendor/jquery.cookie/jquery.cookie.min.js"></script>
		<script src="/static/porto/vendor/popper/umd/popper.min.js"></script>
		<script src="/static/porto/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/porto/vendor/common/common.min.js"></script>
		<script src="/static/porto/vendor/jquery.validation/jquery.validate.min.js"></script>
		<script src="/static/porto/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
		<script src="/static/porto/vendor/jquery.gmap/jquery.gmap.min.js"></script>
		<script src="/static/porto/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
		<script src="/static/porto/vendor/isotope/jquery.isotope.min.js"></script>
		<script src="/static/porto/vendor/owl.carousel/owl.carousel.min.js"></script>
		<script src="/static/porto/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script src="/static/porto/vendor/vide/jquery.vide.min.js"></script>
		<script src="/static/porto/vendor/vivus/vivus.min.js"></script>
		<script src="/static/porto/vendor/instafeed/instafeed.min.js"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="/static/porto/js/theme.js"></script>

		<!-- Theme Custom -->
		<script src="/static/porto/js/custom.js"></script>

		<!-- Theme Initialization Files -->
		<script src="/static/porto/js/theme.init.js"></script>

		<!-- Examples -->
		<script src="/static/porto/js/examples/examples.instafeed.js"></script>

    {% block js %}

    {% endblock %}

	</body>
</html>
