{% extends 'comparagrow/porto/base.html' %}
{% load static %}
{% load l10n %}
{% load humanize %}

{% block csscontent %}

<link rel="stylesheet" href="/static/porto/vendor/bootstrap-star-rating/css/star-rating.min.css">

<link rel="stylesheet" href="/static/porto/vendor/bootstrap-star-rating/themes/krajee-fas/theme.min.css">

<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
{% endblock %}


{% block content %}
<!-- <section class="page-header page-header-classic" style="background:#01b22c;">
	<div class="container">
		<div class="row">
			<div class="col p-static">
				<h1 data-title-border>Detalle del producto</h1>

			</div>
		</div>
	</div>
</section> -->
<div class="container">

	<div class="row">
		<div class="col-lg-6">

			<div class="owl-carousel owl-theme" data-plugin-options="{'items': 1}">
				{% for item in producto_image %}
				<div>
					<img alt="" class="img-fluid" src="/media/{{ item.image }}">
				</div>
				{% endfor %}
			</div>

		</div>

		<div class="col-lg-6">

			<div class="summary entry-summary">

				<h1 class="mb-0 font-weight-bold text-7">{{ producto.name }}</h1>

				<p class="price">
					<span class="amount">$

						 	{{ producto.total|floatformat:0|intcomma }}
					</span>
				</p>

				<div class="product-meta">
					<span class="posted-in"><b>Referencia: </b>
						{% if producto.reference %}
						{{ producto.reference }}
						{% else %}
						No aplica
						{% endif %}
					</span>
				</div>

				<div class="product-meta">
					<span class="posted-in"><b>Marca: </b>
						{% if producto.brand %}
						{{ producto.brand }}
						{% else %}
						No aplica
						{% endif %}
					</span>
				</div>

				<div class="product-meta">
					<span class="posted-in"><b>Tienda: </b>{{ producto.shop.name }}</span>
				</div>
				<!-- <p class="mb-4"></p> -->

				<div class="product-meta">
					<span class="posted-in">Categories:
						{% for item in producto.category.get_ancestors %}
						<a rel="tag" href="/productos/categorias/{{ item.slug }}">{{ item.name }}</a>,
						{% endfor %}
						<a rel="tag" href="/productos/categorias/{{ producto.category.slug }}">{{ producto.category.name }}</a>
					</span>
				</div>
				<p class="mb-4"></p>
				<a class="btn btn-primary" target="_blank" href="/productos/redirect/{{ producto.id }}" style="width: 100%;background-color: #672d93;border-color: #672d93;">Comprar Ahora en Tienda</a>

				<p class="mb-4"></p>
				{% if user.is_authenticated %}
				<a onclick="FavoriteProduct('{{ producto.id }}')" class="btn btn-primary" style="width: 100%;background-color: #01b22c;border-color: #01b22c;color:#fff;">Recibir Ofertas</a>
				{% else %}
				<a class="btn btn-primary"  data-toggle="modal" data-target="#modal_login" style="width: 100%;background-color: #01b22c;border-color: #01b22c;color:#fff;">Recibir Ofertas</a>
				{% endif %}
				<p class="mb-4"></p>
				<h4>Historico de <strong>precios</strong></h4>
				<div class="ct-chart ct-perfect-fourth"></div>
			</div>


		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="tabs tabs-product mb-2">
				<ul class="nav nav-tabs">
					<li class="nav-item active"><a class="nav-link py-3 px-4" href="#productDescription" data-toggle="tab">Descripción</a></li>
					<li class="nav-item"><a class="nav-link py-3 px-4" href="#productInfo" data-toggle="tab">Tabla contenidos</a></li>
					<li class="nav-item"><a class="nav-link py-3 px-4" href="#producthistory" data-toggle="tab">Detalle Historico Precio</a></li>
				</ul>
				<div class="tab-content p-0">
					<div class="tab-pane p-4 active" id="productDescription">
						{% autoescape off %}
						{{ producto.description }}
            {% endautoescape %}
					</div>
					<div class="tab-pane p-4" id="productInfo">
						<table class="table m-0">
							<tbody>
								{% for t in producto_attr %}
								<tr>
									<th class="border-top-0">
										{{ t.attributes.name }}:
									</th>
									<td class="border-top-0">
											{{ t.values }}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="tab-pane p-4" id="producthistory">
						<table class="table m-0">
							<tbody>
								{% for t in history_datail %}
								<tr>
									<th class="border-top-0">
										{{ t.date_update }}
									</th>
									<td class="border-top-0">
											{{ t.total }}
									</td>
									<td class="border-top-0">

									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}


{% block js %}

<script src="/static/js/notify.js"></script>
<script>
	function FavoriteProduct(id){
		$.ajax({
      method: "GET",
      url: "/productos/favorito/"+id,
    })
      .done(function( msg ) {
          $.notify(msg.text, msg.status);
					console.log(msg.type)
					if(msg.type=="add"){
						console.log('add');
						console.log('#favorite_'+id);
						$('#favorite_'+id).removeClass("fas fa-minus-circle text-danger");
						$('#favorite_'+id).addClass("far fa-heart");
					}
					if(msg.type=="del"){
						console.log('del');
						console.log('#favorite_'+id);
						$('#favorite_'+id).removeClass("far fa-heart");
						$('#favorite_'+id).addClass("fas fa-minus-circle text-danger");
					}
					if(msg.type=="not"){
						console.log('not');
						console.log('#favorite_'+id);
					}
    });

	}
</script>
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script>
	var data = {
{% if history %}
labels:[{% for i in history %}{% if forloop.first %}'{{ i.date_update }}'{% else %},'{{ i.date_update }}'{% endif %}{% endfor %}],
series: [
    [{% for i in history %}{% if forloop.first %}{{ i.total|floatformat:"0" }}{% else %},{{ i.total|floatformat:"0" }}{% endif %}{% endfor %}]
  ]
{% else %}
labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
series: [
 [0, 0, 0, 0, 0]
]
{% endif %}
};

new Chartist.Line('.ct-chart', data);
</script>
{% endblock %}
