{% load static %}
{% load mptt_tags %}
{% load menu_categorias %}
{% load cache %}

<footer id="footer" style="background: #672d93;border:none;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="toggle toggle-minimal toggle-primary" data-plugin-toggle="">
        <section class="toggle">
					<label style="color:#fff;">INFORMACIÓN</label>
					<div class="toggle-content">
            <ul class="list-unstyled mb-0">
              <li class="">
                <a href="/quienes-somos">
                  <i class="fas fa-angle-right text-color-primary"></i><span class="ml-2 text-color-light">Quienes Somos</span>
                </a>
              </li>
              <li class="">
                <a href="/contactanos">
                  <i class="fas fa-angle-right text-color-primary"></i><span class="ml-2 text-color-light">Contáctanos</span>
                </a>
              </li>
              <li class="">
                <a href="/faq">
                  <i class="fas fa-angle-right text-color-primary"></i><span class="ml-2 text-color-light">FAQ</span>
                </a>
              </li>
              <li class="">
                <a href="/sitemap">
                  <i class="fas fa-angle-right text-color-primary"></i><span class="ml-2 text-color-light">Mapa del Sitio</span>
                </a>
              </li>
              <li class="">
                <a href="/terminos-condiciones">
                  <i class="fas fa-angle-right text-color-primary"></i><span class="ml-2 text-color-light">Términos y Condiciones</span>
                </a>
              </li>
              <!-- <li class="">
                <a href="#">
                  <i class="fas fa-angle-right text-color-primary"></i><span class="ml-2 text-color-light">Politica de Privacida</span>
                </a>
              </li> -->
            </ul>
					</div>
				</section>

        <section class="toggle">
					<label style="color:#fff;">GRUPO PAZ VERDE</label>
					<div class="toggle-content">
            <ul class="list-unstyled mb-0">
              <li class="">
                <a href="/clientes">
                  <i class="fas fa-angle-right text-color-primary"></i><span class="ml-2 text-color-light">Conviértete en Cliente</span>
                </a>
              </li>
              <li class="">
                <a href="#">
                  <i class="fas fa-angle-right text-color-primary"></i><span class="ml-2 text-color-light">Blog</span>
                </a>
              </li>
              <li class="">
                <a href="#">
                  <i class="fas fa-angle-right text-color-primary"></i><span class="ml-2 text-color-light">Data</span>
                </a>
              </li>
              <li class="">
                <a href="/publicidad">
                  <i class="fas fa-angle-right text-color-primary"></i><span class="ml-2 text-color-light">Publicidad</span>
                </a>
              </li>
            </ul>
					</div>
				</section>
      </div>
      </div>

      <div class="col-sm-12">
        <h5 class="">CONÉCTATE</h5>
        <ul class="footer-social-icons social-icons social-icons-clean social-icons-big social-icons-opacity-light social-icons-icon-light mt-1">
          <li class="social-icons-facebook"><a href="http://www.facebook.com/comparagrow" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
          <li class="social-icons-twitter"><a href="http://www.twitter.com/comparagrow" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
          <li class="social-icons-instagram"><a href="http://www.instagram.com/ComparaGrow" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a></li>
          <li class="social-icons-instagram"><a href="https://api.whatsapp.com/send?phone=56979670520&text=Hola!!" target="_blank" title="instagram"><i class="fab fa-whatsapp"></i></a></li>
        </ul>
        <br>
        <br>
      </div>

    </div>
  </div>
</footer>
