{% load static %}
{% load mptt_tags %}
{% load menu_categorias %}
{% load cache %}

{% if user.is_authenticated %}
{% if user.groups.all.0|stringformat:"s" != "cliente" %}
<div class="container-fluid">
  <div class="row alert-danger">
    <div class="col-sm-12">
        <strong><i class="fas fa-exclamation-triangle"></i>No olvides verificar tu correo!</strong> Revisa el buzón de spam, en algunos casos llega allí.<i class="fas fa-cannabis"></i> <i class="far fa-cannabis"></i>
    </div>
  </div>
</div>
{% endif %}
{% endif %}



  <div class="container">
    <div class="header-row py-2">
      <div class="header-column justify-content-start">
        <div class="header-row">
          <nav class="header-nav-top">
            <ul class="nav nav-pills">
              {% if user.is_authenticated %}
              <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                <a class="ws-nowrap" href="/profile"><i class="fas fa-cannabis"></i> Mi Perfil</a>
              </li>
              <li style="margin-left:10px;"></li>
              <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                <a class="ws-nowrap" href="/productos/favoritos/"><i class="fas fa-heart"></i> Favoritos</a>
              </li>
              <li style="margin-left:10px;"></li>
              <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                <a class="ws-nowrap" href="/alertas"><i class="fas fa-bell"></i> Alertas</a>
              </li>
              {% else %}

              <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                <a class="ws-nowrap" href="/login"><i class="fas fa-user"></i> Login</a>
              </li>
              <li style="margin-left:10px;"></li>
              <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                <a class="ws-nowrap" href="/register"><i class="fas fa-user"></i> Registrate</a>
              </li>
              <li style="margin-left:10px;"></li>
              <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                <span onclick="openNav()">open</span>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
<header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 122, 'stickySetTop': '-122px', 'stickyChangeLogo': false}">
  <div class="header-body border-color-primary border-top-0 box-shadow-none">
    <div class="header-container  z-index-2" style="min-height: 22px; background:#000;">
    </div>
    <div class="header-container container z-index-2" style="min-height: 100px;">
      <div class="header-row">
        <div class="header-column">
          <div class="header-row">
            <h1 class="header-logo" style="display:flex;">
              <button class="hamburguer-btn hamburguer-btn-sticky-dark side-panel-toggle" data-set-active="false">
									<span class="hamburguer">
										<span></span>
										<span></span>
										<span></span>
									</span>
								</button>
              <a href="/">
                <img src="{% static 'theme/images/home/logo.png' %}" class="img-fluid">
                <span class="hide-text">ComparaGrow</span>
              </a>
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="header-nav-bar" style="background:#672d93;">
      <div class="container">
        <div class="header-row p-relative">
          <div class="header-column">
            <div class="header-row">
              <div class="header-colum order-2 order-lg-1">
                <div class="header-row">
                  <div class="header-nav header-nav-stripe header-nav-divisor header-nav-force-light-text justify-content-start">
                    <button  onclick="openNav()" class="hamburguer-btn hamburguer-btn-sticky-dark" style="
    background: #01b22c;
    width: 51px;
    border: 1px solid #01b22c;
    color: #fff;
    font-weight: 100;
">
                    		Filtros
                    </button>
                  </div>
                </div>
              </div>
              <div class="header-column order-1 order-lg-2">
                <div class="header-row justify-content-end">
                  <div class="header-nav-features header-nav-features-no-border w-100">
                    <form role="search" class="d-flex w-100" action="/productos/search" method="get">
                      {% csrf_token %}
                      <div class="simple-search input-group w-100">

                        <input class="form-control border-0 text-1" id="headerSearch" name="texto" type="search" value="" placeholder="Busca aqui">
                        <span class="input-group-append bg-light border-0">
                          <button class="btn" type="submit">
                            <img src="{% static 'img/lupa.png' %}" style="height: 21px;">
                          </button>
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
