{% load static %}
{% load mptt_tags %}
{% load menu_categorias %}
{% load cache %}

{% if user.is_authenticated %}
{% if user.groups.all.0|stringformat:"s" != "cliente" and not backends.associated %}
<div class="container-fluid">
  <div class="row alert-info">
    <div class="col-sm-12">
        <strong>
          Verifica tu correo!
        </strong>
        Revisa el buzón de spam, en algunos casos llega allí.
        <i class="fas fa-cannabis"></i>
    </div>
  </div>
</div>
{% endif %}
{% endif %}



  <div class="container">
    <div class="header-row py-2">
      <div class="header-column justify-content-start">
        <div class="header-row">
          <nav class="header-nav-top">
            <ul class="nav nav-pills">
              {% if user.is_authenticated %}
              <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                <a class="ws-nowrap" href="/profile"><i class="fas fa-cannabis"></i> Mi Perfil</a>
              </li>
              <li style="margin-left:10px;"></li>
              <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                <a class="ws-nowrap" href="/productos/favoritos/"><i class="fas fa-heart"></i> Favoritos</a>
              </li>
              <li style="margin-left:10px;"></li>
              <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                <a class="ws-nowrap" href="/alertas"><i class="fas fa-bell"></i> Alertas</a>
              </li>
              <li style="margin-left:10px;"></li>
              <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                <a class="ws-nowrap" href="/logout"><i class="fas fa-sign-out-alt"></i> Salir</a>
              </li>
              {% else %}

              <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                <a class="ws-nowrap" data-toggle="modal" data-target="#modal_login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
              </li>
              <li style="margin-left:10px;"></li>
              <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                <a class="ws-nowrap" href="/register"><i class="fas fa-user"></i> Regístrate</a>
              </li>

              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
<header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 122, 'stickySetTop': '-122px', 'stickyChangeLogo': false}">
  <div class="header-body border-color-primary border-top-0 box-shadow-none">
    <div class="header-container  z-index-2" style="min-height: 22px; background:#000;">
      <div class="col text-center" style="height: 13px;">
        <a href="/clientes"><span style="color:#fff;"><marquee style="margin-top: -3px;">
          Suscribe tu Growshop y aumenta tus Ventas… Infórmate de los beneficios Aquí
        </marquee></span>
        </a>
      </div>
    </div>
    <div class="header-container container z-index-2" style="min-height: 100px;">
      <div class="header-row">
        <div class="header-column">
          <div class="header-row">
            <h1 class="header-logo" style="display:flex;">
              <a href="/">
                <img src="{% static 'theme/images/home/logo.png' %}" class="img-fluid">
                <span class="hide-text">ComparaGrow</span>
              </a>
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="header-nav-bar" style="background:#672d93;">
      <div class="container">
        <div class="header-row p-relative">
          <div class="header-column">
            <div class="header-row">
              <div class="header-colum order-2 order-lg-1">
                <div class="header-row">
                  <div class="header-nav header-nav-stripe header-nav-divisor header-nav-force-light-text justify-content-start">
                    {% block btn_filtros %}

                		{% endblock %}
                  </div>
                </div>
              </div>
              <div class="header-column order-1 order-lg-2">
                <div class="header-row left-content-end">
                  <div class="simple-search input-group" style="width: 40px;">
                    <button class="hamburguer-btn hamburguer-btn-sticky-dark side-panel-toggle" style="margin: 0px; height:40px; color:#fff;" data-set-active="false">
                        <span class="hamburguer">
                          <span style="background: #fff;height: 4px;"></span>
                          <span style="background: #fff;height: 4px;"></span>
                          <span style="background: #fff;height: 4px;"></span>
                        </span>
                    </button>
                  </div>
                  <div class="header-nav-features header-nav-features-no-border" style="padding-left: 0px;margin-left: 0px;width: calc(100% - 40px);">

                    <form role="search" class="d-flex w-100" action="/productos/search" method="get">
                      {% csrf_token %}

                      <div class="simple-search input-group w-100">

                        <input class="form-control border-0 text-1" id="headerSearch" name="q" type="search" value="" placeholder="Busca aquí">
                        <span class="input-group-append bg-light border-0">
                          <button class="btn" type="submit">
                            <img src="{% static 'img/lupa.png' %}" style="height: 21px;">
                          </button>
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
