{% extends 'comparagrow/porto/base.html' %}
{% load static %}
{% load menu_categorias %}



{% block content %}
<section class="section section-height-2 mt-0 mb-3 border-0">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">

				<div class="owl-carousel owl-theme stage-margin stage-margin-lg nav-style-2 mb-0 owl-loaded owl-drag owl-carousel-init" data-plugin-options="{'items': 1, 'margin': 100, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 100}" style="height: auto;">



				<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0.25s ease 0s; width: 2660px; padding-left: 100px; padding-right: 100px;"><div class="owl-item active" style="width: 720px; margin-right: 100px;"><div class="text-center">
						<span class="text-color-primary">COMPARAGROW</span>
						<h2 class="font-weight-semibold text-10">Te invitamos a publicar en </h2>
						<p class="lead lead-2 mb-0">nuestra seccion de slider.</p>
					</div></div><div class="owl-item" style="width: 720px; margin-right: 100px;"><div class="text-center">
            <span class="text-color-primary">COMPARAGROW</span>
						<h2 class="font-weight-semibold text-10">Te invitamos a publicar en </h2>
						<p class="lead lead-2 mb-0">nuestra seccion de slider.</p>
					</div></div><div class="owl-item" style="width: 720px; margin-right: 100px;"><div class="text-center">
            <span class="text-color-primary">COMPARAGROW</span>
						<h2 class="font-weight-semibold text-10">Te invitamos a publicar en </h2>
						<p class="lead lead-2 mb-0">nuestra seccion de slider.</p>
					</div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"></button><button type="button" role="presentation" class="owl-next"></button></div><div class="owl-dots disabled"></div></div>

			</div>
		</div>
	</div>
</section>

<div class="row text-center">
	<div class="col">
		<h2 class="font-weight-normal text-6 mt-4"><strong class="font-weight-extra-bold">Destacados</strong></h2>
	</div>
</div>

<div class="owl-carousel owl-theme" data-plugin-options="{'items': 6,'loop': false, 'nav': true, 'dots': false}">
  {% for item in productos_ci %}
    <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
      <div class="card flip-card text-center rounded-0">
        <div class="flip-front p-1">
          <div class="flip-content my-1">
            <img src="{{ item.id|imagenproducturl:"0" }}">
          </div>
        </div>
        <div class="flip-back d-flex align-items-center p-1" style="background: #672d93;">
          <div class="flip-content my-1" style="width: 100%;">
            <h4 class="font-weight-bold text-color-light">{{ item.name }}</h4>
            <p class="font-weight-light text-color-light opacity-5">$ {{ item.total|floatformat  }}</p>
            <a href="/productos/redirect/{{ item.id }}"  class="btn btn-light btn-modern text-color-dark font-weight-bold">comparar en tienda</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>



<div class="row text-center">
	<div class="col">
		<h2 class="font-weight-normal text-6 mt-4">Ultimas <strong class="font-weight-extra-bold">rebajas</strong></h2>
	</div>
</div>

<div class="owl-carousel owl-theme" data-plugin-options="{'items': 6,'loop': false, 'nav': true, 'dots': false}">
  {% for item in productos_ci %}
    <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
      <div class="card flip-card text-center rounded-0">
        <div class="flip-front p-1">
          <div class="flip-content my-1">
            <img src="{{ item.id|imagenproducturl:"0" }}">
          </div>
        </div>
        <div class="flip-back d-flex align-items-center p-1" style="background: #672d93;">
          <div class="flip-content my-1" style="width: 100%;">
            <h4 class="font-weight-bold text-color-light">{{ item.name }}</h4>
            <p class="font-weight-light text-color-light opacity-5">$ {{ item.total|floatformat  }}</p>
            <a href="/productos/redirect/{{ item.id }}"  class="btn btn-light btn-modern text-color-dark font-weight-bold">comparar en tienda</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>



<div class="row text-center">
	<div class="col">
		<h2 class="font-weight-normal text-6 mt-4">Arma tu <strong class="font-weight-extra-bold">grow</strong></h2>
	</div>
</div>

<div class="owl-carousel owl-theme" data-plugin-options="{'items': 6,'loop': false, 'nav': true, 'dots': false}">
  {% for item in productos_ci %}
    <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
      <div class="card flip-card text-center rounded-0">
        <div class="flip-front p-1">
          <div class="flip-content my-1">
            <img src="{{ item.id|imagenproducturl:"0" }}">
          </div>
        </div>
        <div class="flip-back d-flex align-items-center p-1" style="background: #672d93;">
          <div class="flip-content my-1" style="width: 100%;">
            <h4 class="font-weight-bold text-color-light">{{ item.name }}</h4>
            <p class="font-weight-light text-color-light opacity-5">$ {{ item.total|floatformat  }}</p>
            <a href="/productos/redirect/{{ item.id }}"  class="btn btn-light btn-modern text-color-dark font-weight-bold">comparar en tienda</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}

{% block js %}
<script src="/static/porto/js/examples/examples.carousels.js"></script>
{% endblock %}
