{% extends 'comparagrow/porto/base.html' %}


{% load static %}
{% load menu_categorias %}
{% load l10n %}
{% load humanize %}


{% block content %}
{% include 'comparagrow/component/style_items.html' %}
{% if request.user_agent.is_mobile  or request.user_agent.is_tablet %}
<section class="section section-height-2 mt-0 mb-3 border-0" style="background: url('/static/img/banner.png');height: 180px;background-size: 100% 179px;">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-lg-12">

				<div class="owl-carousel owl-theme owl-loaded owl-drag owl-carousel-init" data-plugin-options="{'items': 1, 'margin': 100, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 100}" style="height: auto;">



				<div class="owl-stage-outer">
					<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0.25s ease 0s; width: 2660px; padding-left: 100px; padding-right: 100px;">
						<div class="owl-item active" style="width: 720px; margin-right: 100px;">
							<div class="text-center">
							<span class="text-color-primary"></span>

							<p class="lead lead-2 mb-0"></p>
						</div>
					</div>
					<div class="owl-item active" style="width: 720px; margin-right: 100px;">
						<div class="text-center">
						<span class="text-color-primary"></span>

						<p class="lead lead-2 mb-0"></p>
					</div>
				</div>
				<div class="owl-item active" style="width: 720px; margin-right: 100px;">
					<div class="text-center">
					<span class="text-color-primary"></span>

					<p class="lead lead-2 mb-0"></p>
				</div>
			</div>

			</div>
		</div>

	</div>

			</div>
		</div>
	</div>
</section>
{% else %}
<section class="section section-height-2 mt-0 mb-3 border-0" style="background: url('/static/img/banner.png');height: 180px;">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-lg-12">

				<div class="owl-carousel owl-theme owl-loaded owl-drag owl-carousel-init" data-plugin-options="{'items': 1, 'margin': 100, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 100}" style="height: auto;">



				<div class="owl-stage-outer">
					<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0.25s ease 0s; width: 2660px; padding-left: 100px; padding-right: 100px;">
						<div class="owl-item active" style="width: 720px; margin-right: 100px;">
							<div class="text-center" style="height: 111px;">
							<span class="text-color-primary"></span>

							<p class="lead lead-2 mb-0"></p>
						</div>
					</div>
					<div class="owl-item active" style="width: 720px; margin-right: 100px;">
						<div class="text-center" style="height: 111px;">
						<span class="text-color-primary"></span>

						<p class="lead lead-2 mb-0"></p>
					</div>
				</div>
				<div class="owl-item active" style="width: 720px; margin-right: 100px;">
					<div class="text-center" style="height: 111px;">
					<span class="text-color-primary"></span>

					<p class="lead lead-2 mb-0"></p>
				</div>
			</div>

			</div>
		</div>

	</div>

			</div>
		</div>
	</div>
</section>
{% endif %}
<div class="container">
<div class="row text-center">
	<div class="col">

		<h2 style="font-weight: 300;">Destacados</h2>
	</div>
</div>
<div class="owl-carousel owl-theme" data-plugin-options='{"lazyLoad": true,"responsive": {"0": {"items": 2,"slideBy":2}, "479": {"items": 2,"slideBy":2}, "768": {"items": 2,"slideBy":2}, "979": {"items": 5,"slideBy":5}, "1199": {"items": 5,"slideBy":5},"1900": {"items": 5,"slideBy":5}}, "loop": false, "nav": true, "dots": false}'>
  {% for item in productos_cd %}
    <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
			<div class="col" style="margin-top:5px; margin-bottom:5px;padding-right:5px;padding-left:5px;font-weight: 100;">
		    <div class="card-deck" style="font-weight: 100;">
		      <div class="card" style="    border:none;">
		        <div class="card-header" style="height: 27px;padding: 2px 10px;color: #672d93;font-size:12px;">
		          <a href="/productos/publicity/redirect/carrusel_destacados/{{ item.id }}" target="_blank" style="text-decoration:none;cursor:pointer;">{{ item.shop.name }}</a>
		        </div>
		        <a href="/productos/publicity/redirect/carrusel_destacados/{{ item.id }}" target="_blank" style="text-decoration:none;cursor:pointer;">
							<img src="{{ item.id|imagenproducturl:"0" }}" style="width:calc(100% - 4px);height: 210px; margin-left:2px; margin-top:2px;font-weight: 100;" class="card-img-top">
		        </a>
		        <div class="card-body" style="margin-top: -20px;height: 40px;margin-bottom: 20px;font-weight: 100;line-height: 14px;">
		          <span class="" style="color:#01b22c;">
		            <a href="/productos/publicity/redirect/carrusel_destacados/{{ item.id }}" target="_blank" style="color:#403e3e;font-size: 13px;font-weight: 100;">{{ item.name }}</a>
		          </span>
		        </div>
		        <div class="card-footer" style="background-color: transparent;border-top: none;">
		          <div class="row">
		            <div class="col">
		              <h5 class="card-title" style="color:#403e3e;font-size: 14px;font-weight: bold;">$ {{ item.total|floatformat:0|intcomma }}</h5>
		            </div>
		          </div>
		          <div class="row">
								<div class="col-1">
		              {% if user.is_authenticated %}
		              <a class="btn btn-light" style="margin-top: -8px;padding: 1px 5px;height: 23px;" onclick="FavoriteProduct('{{ item.id }}')">
		              <i class="{{ user.id|is_favorite:item.id }}" style="font-size: 13px;/* color:#424242; */cursor:pointer;" id="favorite_{{ item.id }}"></i>
		              </a>
		              {% else %}
		              <a class="btn btn-light" style="margin-top: -8px;padding: 1px 5px;height: 23px;" data-toggle="modal" data-target="#modal_login">
		              <!-- <a data-toggle="modal" data-target="#modal_login"> -->
		              <i class="{{ user.id|is_favorite:item.id }}" style="font-size: 13px;/* color:#424242; */cursor:pointer;" id="favorite_{{ item.id }}"></i>
		              </a>
		              {% endif %}
		            </div>
		            <div class="col text-right" style="padding-left: 0;padding-right: 0;">
		              <a class="btn btn-light btn-detalle" style="margin-top: -8px;padding: 1px 21px;height: 23px;" href="/productos/detalle/{{ item.id }}" target="_blank">
		              ver detalle
		              </a>
		            </div>
		        </div>
		        </div>
		      </div>
		    </div>
    </div>
	</div>

  {% endfor %}
</div>



<div class="row text-center">
	<div class="col">
		<h2 style="font-weight: 300;">Últimas rebajas</h2>
	</div>
</div>

<div class="owl-carousel owl-theme" data-plugin-options='{"lazyLoad": true,"responsive": {"0": {"items": 2,"slideBy":2}, "479": {"items": 2,"slideBy":2}, "768": {"items": 2,"slideBy":2}, "979": {"items": 5,"slideBy":5}, "1199": {"items": 5,"slideBy":5},"1900": {"items": 5,"slideBy":5}}, "loop": false, "nav": true, "dots": false}'>
	{% for item in productos_ur %}
    <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
			<div class="col" style="margin-top:5px; margin-bottom:5px;padding-right:5px;padding-left:5px;font-weight: 100;">
		    <div class="card-deck" style="font-weight: 100;">
		      <div class="card" style="    border:none;">
		        <div class="card-header" style="height: 27px;padding: 2px 10px;color: #672d93;font-size:12px;">
		          <a href="/productos/publicity/redirect/carrusel_rebajas/{{ item.id }}" target="_blank" style="text-decoration:none;cursor:pointer;">{{ item.shop.name }}</a>
		        </div>
		        <a href="/productos/publicity/redirect/carrusel_rebajas/{{ item.id }}" target="_blank" style="text-decoration:none;cursor:pointer;">
		          <img src="{{ item.id|imagenproducturl:"0" }}" style="width:calc(100% - 4px);height: 210px; margin-left:2px; margin-top:2px;font-weight: 100;" class="card-img-top">
		        </a>
		        <div class="card-body" style="margin-top: -20px;height: 40px;margin-bottom: 20px;font-weight: 100;line-height: 14px;">
		          <span class="" style="color:#01b22c;">
		            <a href="/productos/publicity/redirect/carrusel_rebajas/{{ item.id }}" target="_blank" style="color:#403e3e;font-size: 13px;font-weight: 100;">{{ item.name }}</a>
		          </span>
		        </div>
		        <div class="card-footer" style="background-color: transparent;border-top: none;">
		          <div class="row">
		            <div class="col">
		              <h5 class="card-title" style="color:#403e3e;font-size: 14px;font-weight: bold;">$ {{ item.total|floatformat:0|intcomma }}</h5>
		            </div>
		          </div>
		          <div class="row">
								<div class="col-1">
		              {% if user.is_authenticated %}
		              <a class="btn btn-light" style="margin-top: -8px;padding: 1px 5px;height: 23px;" onclick="FavoriteProduct('{{ item.id }}')">
		              <i class="{{ user.id|is_favorite:item.id }}" style="font-size: 13px;/* color:#424242; */cursor:pointer;" id="favorite_{{ item.id }}"></i>
		              </a>
		              {% else %}
		              <a class="btn btn-light" style="margin-top: -8px;padding: 1px 5px;height: 23px;" data-toggle="modal" data-target="#modal_login">
		              <!-- <a data-toggle="modal" data-target="#modal_login"> -->
		              <i class="{{ user.id|is_favorite:item.id }}" style="font-size: 13px;/* color:#424242; */cursor:pointer;" id="favorite_{{ item.id }}"></i>
		              </a>
		              {% endif %}
		            </div>
		            <div class="col text-right" style="padding-left: 0;padding-right: 0;">
		              <a class="btn btn-light btn-detalle" style="margin-top: -8px;padding: 1px 21px;height: 23px;" href="/productos/detalle/{{ item.id }}" target="_blank">
		              ver detalle
		              </a>
		            </div>
		        </div>
		        </div>
		      </div>
		    </div>
    </div>
	</div>

  {% endfor %}
</div>



<div class="row text-center">
	<div class="col">
		<h2 style="font-weight: 300;">Arma tu grow</h2>
	</div>
</div>

<div class="owl-carousel owl-theme" data-plugin-options='{"lazyLoad": true,"responsive": {"0": {"items": 2,"slideBy":2}, "479": {"items": 2,"slideBy":2}, "768": {"items": 2,"slideBy":2}, "979": {"items": 5,"slideBy":5}, "1199": {"items": 5,"slideBy":5},"1900": {"items": 5,"slideBy":5}}, "loop": false, "nav": true, "dots": false}'>
	{% for item in productos_ci %}
    <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
			<div class="col" style="margin-top:5px; margin-bottom:5px;padding-right:5px;padding-left:5px;font-weight: 100;">
		    <div class="card-deck" style="font-weight: 100;">
		      <div class="card" style="    border:none;">
		        <div class="card-header" style="height: 27px;padding: 2px 10px;color: #672d93;font-size:12px;">
		          <a href="/productos/publicity/redirect/carrusel_tugrow/{{ item.id }}" target="_blank" style="text-decoration:none;cursor:pointer;">{{ item.shop.name }}</a>
		        </div>
		        <a href="/productos/publicity/redirect/carrusel_tugrow/{{ item.id }}" target="_blank" style="text-decoration:none;cursor:pointer;">
							<img src="{{ item.id|imagenproducturl:"0" }}" style="width:calc(100% - 4px);height: 210px; margin-left:2px; margin-top:2px;font-weight: 100;" class="card-img-top">
		        </a>
		        <div class="card-body" style="margin-top: -20px;height: 40px;margin-bottom: 20px;font-weight: 100;line-height: 14px;">
		          <span class="" style="color:#01b22c;">
		            <a href="/productos/publicity/redirect/carrusel_tugrow/{{ item.id }}" target="_blank" style="color:#403e3e;font-size: 13px;font-weight: 100;">{{ item.name }}</a>
		          </span>
		        </div>
		        <div class="card-footer" style="background-color: transparent;border-top: none;">
		          <div class="row">
		            <div class="col">
		              <h5 class="card-title" style="color:#403e3e;font-size: 14px;font-weight: bold;">$ {{ item.total|floatformat:0|intcomma }}</h5>
		            </div>
		          </div>
		          <div class="row">
								<div class="col-1">
		              {% if user.is_authenticated %}
		              <a class="btn btn-light" style="margin-top: -8px;padding: 1px 5px;height: 23px;" onclick="FavoriteProduct('{{ item.id }}')">
		              <i class="{{ user.id|is_favorite:item.id }}" style="font-size: 13px;/* color:#424242; */cursor:pointer;" id="favorite_{{ item.id }}"></i>
		              </a>
		              {% else %}
		              <a class="btn btn-light" style="margin-top: -8px;padding: 1px 5px;height: 23px;" data-toggle="modal" data-target="#modal_login">
		              <!-- <a data-toggle="modal" data-target="#modal_login"> -->
		              <i class="{{ user.id|is_favorite:item.id }}" style="font-size: 13px;/* color:#424242; */cursor:pointer;" id="favorite_{{ item.id }}"></i>
		              </a>
		              {% endif %}
		            </div>
		            <div class="col text-right" style="padding-left: 0;padding-right: 0;">
		              <a class="btn btn-light btn-detalle" style="margin-top: -8px;padding: 1px 21px;height: 23px;" href="/productos/detalle/{{ item.id }}" target="_blank">
		              ver detalle
		              </a>
		            </div>
		        </div>
		        </div>
		      </div>
		    </div>
    </div>
	</div>

  {% endfor %}
</div>
</div>

{% endblock %}

{% block js %}
<script src="/static/porto/js/examples/examples.carousels.js"></script>
<script src="/static/js/notify.js"></script>

<script>

	function FavoriteProduct(idi,id){
		$.ajax({
      method: "GET",
      url: "/productos/favorito/"+id,
    })
      .done(function( msg ) {
          $.notify(msg.text, msg.status);
					console.log(msg.type)
					if(msg.type=="add"){
						console.log('add');
						console.log('#favorite_'+id);
						$('#favorite_'+idi).removeClass("fas fa-heart");
						$('#favorite_'+idi).addClass("far fa-heart");
					}
					if(msg.type=="del"){
						console.log('del');
						console.log('#favorite_'+idi);
						$('#favorite_'+idi).removeClass("far fa-heart");
						$('#favorite_'+idi).addClass("fas fa-heart");
					}
					if(msg.type=="not"){
						console.log('not');
						console.log('#favorite_'+id);
					}
    });

	}

</script>
{% endblock %}
