{% extends template_ruta %}


{% load static %}
{% load menu_categorias %}
{% load l10n %}
{% load humanize %}


{% block content %}
<style media="screen">
	.card:hover{
		border-radius: inherit;
		box-shadow: 0.1px 0.1px 0.1px #7777;
		cursor:pointer;
	}
</style>

<section class="section section-height-2 mt-0 mb-3 border-0" style="background: url('/static/img/banner.png');background-size: cover;height: 180px;">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-lg-12">

				<div class="owl-carousel owl-theme stage-margin stage-margin-lg nav-style-2 mb-0 owl-loaded owl-drag owl-carousel-init" data-plugin-options="{'items': 1, 'margin': 100, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 100}" style="height: auto;">



				<div class="owl-stage-outer">
					<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0.25s ease 0s; width: 2660px; padding-left: 100px; padding-right: 100px;"><div class="owl-item active" style="width: 720px; margin-right: 100px;"><div class="text-center">
							<span class="text-color-primary"></span>
							<h2 class="font-weight-semibold text-10" style="color:#fff;">
								<a href="/suscribir?action=publicidad" class="btn btn-3d btn-success rounded-0 mb-2" style="background: blueviolet;border-color: blueviolet blueviolet;font-size: 27px;">Publica Aquí</a>
							</h2>
							<p class="lead lead-2 mb-0"></p>
						</div>
					</div>
					<div class="owl-item">
						<div class="text-center">
	            <span class="text-color-primary"></span>
							<h2 class="font-weight-semibold text-10" style="color:#fff;">
								<a href="/suscribir?action=publicidad" class="btn btn-3d btn-success rounded-0 mb-2" style="background: blueviolet;border-color: blueviolet blueviolet;font-size: 27px;">Publica Aquí</a>
							</h2>
							<p class="lead lead-2 mb-0"></p>
						</div>
					</div>
					<div class="owl-item" style="width: 720px; margin-right: 100px;"><div class="text-center">
	            <span class="text-color-primary"></span>
							<h2 class="font-weight-semibold text-10" style="color:#fff;">
								<a href="/suscribir?action=publicidad" class="btn btn-3d btn-success rounded-0 mb-2" style="background: blueviolet;border-color: blueviolet blueviolet;font-size: 27px;">Publica Aquí</a>
							</h2>
							<p class="lead lead-2 mb-0"></p>
					</div>
				</div>
			</div>
		</div>
		<div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"></button><button type="button" role="presentation" class="owl-next"></button></div><div class="owl-dots disabled"></div></div>

			</div>
		</div>
	</div>
</section>

<div class="row text-center">
	<div class="col">
		<h2 class="font-weight-normal text-6 mt-4"><strong class="font-weight-extra-bold">Destacados</strong></h2>
	</div>
</div>

<div class="owl-carousel owl-theme" data-plugin-options="{'items': 6,'loop': false, 'nav': true, 'dots': false}">
  {% for item in productos_ci %}
    <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
			<div class="col" style="margin-top:5px; margin-bottom:5px;padding-right:5px;padding-left:5px;font-weight: 100;">
		    <div class="card-deck" style="font-weight: 100;">
		      <div class="card" style="    border:none;">
		        <div class="card-header" style="height: 27px;padding: 2px 10px;color: #672d93;font-size:12px;">
		          <a href="/productos/redirect/{{ item.id }}" target="_blank" style="text-decoration:none;cursor:pointer;">{{ item.shop.name }}</a>
		        </div>
		        <a href="/productos/redirect/{{ item.id }}" target="_blank" style="text-decoration:none;cursor:pointer;">
		          <img src="{{ item.id|imagenproducturl:"0" }}" style="width:calc(100% - 4px);height: 210px; margin-left:2px; margin-top:2px;font-weight: 100;" class="card-img-top" alt="...">
		        </a>
		        <div class="card-body" style="margin-top: -20px;height: 40px;margin-bottom: 20px;font-weight: 100;">
		          <span class="" style="color:#01b22c;">
		            <a href="/productos/redirect/{{ item.id }}" target="_blank" style="color:#777;font-size: 13px;font-weight: 100;">{{ item.name }}</a>
		          </span>
		        </div>
		        <div class="card-footer" style="background-color: transparent;border-top: none;">
		          <div class="row">
		            <div class="col">
		              <h5 class="card-title" style="color:#000;font-size: 14px;font-weight: 100;">$ {{ item.total|floatformat:0|intcomma }}</h5>
		            </div>
		          </div>
		          <div class="row">
		            <div class="col">
		              {% if user.is_authenticated %}
		              <a onclick="FavoriteProduct('{{ item.id }}')">
		              <i class="far fa-heart" style="font-size: 19px;color:#775;font-weight: 100;" id="favorite_{{ item.id }}"></i>
		              </a>
		              {% else %}
		              <a data-toggle="modal" data-target="#modal_login">
		              <i class="far fa-heart" style="font-size: 19px;color:#775;font-weight: 100;"></i>
		              </a>
		              {% endif %}
		            </div>
		            <div class="col text-right">
		              <a href="/productos/detalle/{{ item.id }}" target="_blank">
		              <img src="/static/img/lupa.png" alt="" style="height: 25px;width:25px;font-weight: 100;right: 0px;position: absolute;">
		              </a>
		            </div>
		        </div>
		        </div>
		      </div>
		    </div>
    </div>
	</div>

  {% endfor %}
</div>



<div class="row text-center">
	<div class="col">
		<h2 class="font-weight-normal text-6 mt-4">Ultimas <strong class="font-weight-extra-bold">rebajas</strong></h2>
	</div>
</div>

<div class="owl-carousel owl-theme" data-plugin-options="{'items': 6,'loop': false, 'nav': true, 'dots': false}">
	{% for item in productos_ci %}
    <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
			<div class="col" style="margin-top:5px; margin-bottom:5px;padding-right:5px;padding-left:5px;font-weight: 100;">
		    <div class="card-deck" style="font-weight: 100;">
		      <div class="card" style="    border:none;">
		        <div class="card-header" style="height: 27px;padding: 2px 10px;color: #672d93;font-size:12px;">
		          <a href="/productos/redirect/{{ item.id }}" target="_blank" style="text-decoration:none;cursor:pointer;">{{ item.shop.name }}</a>
		        </div>
		        <a href="/productos/redirect/{{ item.id }}" target="_blank" style="text-decoration:none;cursor:pointer;">
		          <img src="{{ item.id|imagenproducturl:"0" }}" style="width:calc(100% - 4px);height: 210px; margin-left:2px; margin-top:2px;font-weight: 100;" class="card-img-top" alt="...">
		        </a>
		        <div class="card-body" style="margin-top: -20px;height: 40px;margin-bottom: 20px;font-weight: 100;">
		          <span class="" style="color:#01b22c;">
		            <a href="/productos/redirect/{{ item.id }}" target="_blank" style="color:#777;font-size: 13px;font-weight: 100;">{{ item.name }}</a>
		          </span>
		        </div>
		        <div class="card-footer" style="background-color: transparent;border-top: none;">
		          <div class="row">
		            <div class="col">
		              <h5 class="card-title" style="color:#000;font-size: 14px;font-weight: 100;">$ {{ item.total|floatformat:0|intcomma }}</h5>
		            </div>
		          </div>
		          <div class="row">
		            <div class="col">
		              {% if user.is_authenticated %}
		              <a onclick="FavoriteProduct('{{ item.id }}')">
		              <i class="far fa-heart" style="font-size: 19px;color:#775;font-weight: 100;" id="favorite_{{ item.id }}"></i>
		              </a>
		              {% else %}
		              <a data-toggle="modal" data-target="#modal_login">
		              <i class="far fa-heart" style="font-size: 19px;color:#775;font-weight: 100;"></i>
		              </a>
		              {% endif %}
		            </div>
		            <div class="col text-right">
		              <a href="/productos/detalle/{{ item.id }}" target="_blank">
		              <img src="/static/img/lupa.png" alt="" style="height: 25px;width:25px;font-weight: 100;right: 0px;position: absolute;">
		              </a>
		            </div>
		        </div>
		        </div>
		      </div>
		    </div>
    </div>
	</div>

  {% endfor %}
</div>



<div class="row text-center">
	<div class="col">
		<h2 class="font-weight-normal text-6 mt-4">Arma tu <strong class="font-weight-extra-bold">grow</strong></h2>
	</div>
</div>

<div class="owl-carousel owl-theme" data-plugin-options="{'items': 6,'loop': false, 'nav': true, 'dots': false}">
	{% for item in productos_ci %}
    <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
			<div class="col" style="margin-top:5px; margin-bottom:5px;padding-right:5px;padding-left:5px;font-weight: 100;">
		    <div class="card-deck" style="font-weight: 100;">
		      <div class="card" style="    border:none;">
		        <div class="card-header" style="height: 27px;padding: 2px 10px;color: #672d93;font-size:12px;">
		          <a href="/productos/redirect/{{ item.id }}" target="_blank" style="text-decoration:none;cursor:pointer;">{{ item.shop.name }}</a>
		        </div>
		        <a href="/productos/redirect/{{ item.id }}" target="_blank" style="text-decoration:none;cursor:pointer;">
		          <img src="{{ item.id|imagenproducturl:"0" }}" style="width:calc(100% - 4px);height: 210px; margin-left:2px; margin-top:2px;font-weight: 100;" class="card-img-top" alt="...">
		        </a>
		        <div class="card-body" style="margin-top: -20px;height: 40px;margin-bottom: 20px;font-weight: 100;">
		          <span class="" style="color:#01b22c;">
		            <a href="/productos/redirect/{{ item.id }}" target="_blank" style="color:#777;font-size: 13px;font-weight: 100;">{{ item.name }}</a>
		          </span>
		        </div>
		        <div class="card-footer" style="background-color: transparent;border-top: none;">
		          <div class="row">
		            <div class="col">
		              <h5 class="card-title" style="color:#000;font-size: 14px;font-weight: 100;">$ {{ item.total|floatformat:0|intcomma }}</h5>
		            </div>
		          </div>
		          <div class="row">
		            <div class="col">
		              {% if user.is_authenticated %}
		              <a onclick="FavoriteProduct('{{ item.id }}')">
		              <i class="far fa-heart" style="font-size: 19px;color:#775;font-weight: 100;" id="favorite_{{ item.id }}"></i>
		              </a>
		              {% else %}
		              <a data-toggle="modal" data-target="#modal_login">
		              <i class="far fa-heart" style="font-size: 19px;color:#775;font-weight: 100;"></i>
		              </a>
		              {% endif %}
		            </div>
		            <div class="col text-right">
		              <a href="/productos/detalle/{{ item.id }}" target="_blank">
		              <img src="/static/img/lupa.png" alt="" style="height: 25px;width:25px;font-weight: 100;right: 0px;position: absolute;">
		              </a>
		            </div>
		        </div>
		        </div>
		      </div>
		    </div>
    </div>
	</div>

  {% endfor %}
</div>

{% endblock %}

{% block js %}
<script src="/static/porto/js/examples/examples.carousels.js"></script>
{% endblock %}
