{% load static %}
{% load mptt_tags %}
{% load menu_categorias %}
<div class="page">
	<div class="navbar">
		<div class="navbar-inner sliding">
			<div class="left">
				<a href="#" class="link back">
					<i class="icon icon-back"></i>
					<span class="ios-only">Back</span>
				</a>
			</div>
			<div class="title"></div>
		</div>
	</div>
	<div class="page-content">
		<div class="list" style="margin:0 0;">
			<ul>
				{% listado as listado_producto %}
					{% for genre,structure in listado_producto|tree_info %}
					{% if genre.level == 0 %}
					<li >
						<a  href="/productos/categorias/{{ genre.slug }}" style="font-weight: 500;letter-spacing: 1px;">
							{{ genre.name }}
						</a>
						{% for item1 in genre.slug|menulevelone:"1" %}
							{% if forloop.first %}
								<ul>
									<li>
							{% endif %}

												<!-- <span class="dropdown-mega-sub-title"> -->
												<a style="font-size: 14px;padding: 0;" href="/productos/categorias/{{ item1.slug }}">{{ item1.name }} </a>
												<!-- </span> -->
												<ul>
													{% for item2 in item1.slug|menulevelone:"2" %}
														<li>
															<a href="/productos/categorias/{{ item2.slug }}">
																<b> <i style="color:#01b22c;" class="fas fa-angle-right"></i></b>
																{{ item2.name }} ({{ item2.id|countproductscategory }})</a>
														</li>
														{% for item3 in item2.slug|menulevelone:"3" %}
															<li>
																<a style="padding-left: 20px;" href="/productos/categorias/{{ item3.slug }}">
																	<b> <i style="color:#672d93;" class="fas fa-angle-double-right"></i></b>
																	{{ item3.name }} ({{ item3.id|countproductscategory }})</a>
															</li>
														{% endfor %}
													{% endfor %}
												</ul>


								{% if forloop.last %}

									</li>
								</ul>
								{% endif %}
						{% endfor %}

					</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>

	</div>
</div>
