{% load static %}
{% load menu_categorias %}
{% load l10n %}
{% load humanize %}
<div data-pagination="{&quot;el&quot;: &quot;.swiper-pagination&quot;}" data-space-between="15" data-slides-per-view="1" class="swiper-container swiper-init swiper-container-horizontal">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="{% static 'theme/images/banners/slide2.png' %}" alt="brand1">
    </div>

    <div class="swiper-slide">
      <img src="{% static 'theme/images/banners/slide2.png' %}" alt="brand1">
    </div>
  </div>
</div>
