{% load static %}
{% load menu_categorias %}
{% load l10n %}
{% load humanize %}
<style>
	:root {
		height:400px;
	}
</style>
<div class="page" data-name="products">
	<div class="navbar" style="background:#fff !important;">
		 <div class="navbar-inner" style="background:#fff !important;">
			 <div class="title-page" style="width:100%;margin-top: 12px;">
				 <div class="title-page-with-link">
					 <h1 class="" style="display: flex;color: #672d93;">
						 <a href="/" >
								<img src="/static/img/logo.png" style="height: 50px;">
						 </a>
					 </h1>
					 {% if user.is_authenticated %}
					 <a href="/profile/" class="tab-link text-align-right">
						 <i class="material-icons" style="font-size: 40px;color: #01b22c;">account_circle</i>
						 <!-- <span class="tabbar-label">Profile</span> -->
					 </a>
					 {% else %}
					 <a href="/login/" class="tab-link text-align-right">
						 <i class="material-icons" style="font-size: 40px;color: #01b22c;">account_circle</i>
						 <!-- <span class="tabbar-label">Profile</span> -->
					 </a>
					 {% endif %}
				 </div>
			 </div>
			 <div class="subnavbar" style="background:#fff !important;">
				 <!-- Searchbar with auto init -->
				 <form class="searchbar" id="form-search" style="background:#fff !important;">
					 <div class="searchbar-input-wrap" style="background:#fff !important;">
						 <input placeholder="Busca miles de productos al mejor precio" class="" type="search" style="border: 1px solid;
			 border-bottom:2px solid #01b22c; border-left:none; border-right:none; border-top:none; border-radius: inherit;" name="q" value="{{ q }}">
						 <i class="searchbar-icon"></i>
						 <span class="input-clear-button"></span>
					 </div>
				</form>
			 </div>
		 </div>
	 </div>
	{% include 'comparagrow/mobile/pages/com_header.html' %}
	<div class="fab fab-extended fab-center-bottom color-red">
    <a class="link sheet-open" href="#" data-sheet=".my-sheet">
      <i class="icon f7-icons if-not-md">add</i>
      <i class="icon material-icons md-only">add</i>
      <div class="fab-text">Filtros</div>
    </a>
  </div>

	<div class="fab fab-right-bottom color-orange">
		<a href="#" class="">
			<i class="icon f7-icons if-not-md">sort</i>
			<i class="icon f7-icons if-not-md">close</i>
		</a>
		<div class="fab-buttons fab-buttons-top">
			<a class="fab-label-button" href="#">
				<i class="icon f7-icons if-not-md">sort_down</i>
				<span class="fab-label">Action 1</span></a>
			<a class="fab-label-button" href="#">
				<span></span><span class="fab-label">Action 2</span></a>
		</div>
	</div>



	<div class="sheet-modal my-sheet">
    <div class="toolbar">
      <div class="toolbar-inner">
        <div class="left"><a class="link sheet-close">Cerrar</a></div>
        <div class="right"><a class="link sheet-close" href="#" style="color:#fff;" id="filter-product">Aplicar</a></div>
      </div>
    </div>
    <div class="sheet-modal-inner" style="background:#fff;">
      <div class="page-content">
					{% include 'comparagrow/mobile/pages/com_filters.html' %}
      </div>
    </div>
  </div>



	<!--  popup -->

	<!--  end popup -->

	<div class="page-content">

						<!--  -->
						<div class="row" id="row_products" style="margin-left:15px;">
							{% for item in products %}
							<div class="col-50">
								<a class="link external" target="_blank" href="/productos/redirect/{{ item.id }}">
									<img src="{{ item.id|imagenproducturl:"0" }}" style="height:100px;" alt="product1">
								</a>
								<div class="item-category">
									<a class="link external" target="_blank" href="/productos/redirect/{{ item.id }}">{{ item.shop }}</a>
								</div>
								<div class="item-title">
									<a class="link external" target="_blank" href="/productos/redirect/{{ item.id }}">{{ item.name }}</a>
								</div>
								<div class="item-infos">
			            <a ><i class="material-icons" style="color: #01b22c;font-size: 15px;">favorite_border</i></a>
			            $ {{ item.total|floatformat:0|intcomma }}</div>
			          <div class="item-infos">
			            ver detalle
			          </div>
							</div>
							{% endfor %}
						</div>
						<!--  -->
						<!-- <div class="preloader infinite-scroll-preloader"></div> -->


	</div>


</div>
