{% load static %}
{% load menu_categorias %}
{% load l10n %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">
		<meta name="theme-color" content="#f44336">
		<meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:">
		<title>ComparaGrow.cl</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'mobile/css/framework7.ios.css' %}">
		<link rel="stylesheet" href="{% static 'mobile/css/icons.css' %}"">
		<link rel="stylesheet" href="{% static 'mobile/css/app.css' %}"">
		<link rel="apple-touch-icon" href="{% static 'mobile/img/f7-icon-square.png' %}"">
		<!-- <link rel="icon" href="{% static 'mobile/img/f7-icon.png' %}""> -->
		<link rel="icon" type="image/png" href="/static/img/lupa.png">
	</head>
	<body class="color-theme-pink">
		<div id="app">
			<div class="statusbar"></div>
			<div class="panel panel-left panel-cover">
				<div class="page">
					<div class="page-content">
					</div>
				</div>
			</div>

			<div class="panel panel-right panel-cover panel-filter">
				<div class="navbar"><div class="navbar-inner sliding">
					<div class="title">Filter</div></div>
				</div>
				<div class="page">
					<div class="page-content">
						<div class="block">
							<div class="list no-hairlines">
								<ul>
									<li class="item-content item-input">
										<div class="item-inner">
											<div class="item-input-wrap">
												<input placeholder="Enter a keyword" class="" type="text">
												<span class="input-clear-button"></span>
											</div>
										</div>
									</li>
									<li class="item-content item-input">
										<div class="item-inner">
											<div class="item-input-wrap input-dropdown-wrap">
												<select class="input-with-value">
													<option value="cat1">Electronics</option>
													<option value="cat2">Women's Clothes</option>
												</select>
											</div>
										</div>
									</li>
									<li class="item-content item-input">
										<div class="item-inner">
											<div class="item-input-wrap input-dropdown-wrap">
												<select class="input-with-value">
													<option value="loc1">Location 1</option>
													<option value="loc2">Location 2</option>
												</select>
											</div>
										</div>
									</li>
									<li class="item-content item-input">
										<div class="item-inner">
											<div class="item-input-wrap">

												<div class="item-price-detail">
													<p>Item price</p>
													<p>
														<span class="price-min">100$</span>
														 -
														<span class="price-max">500$</span>
													</p>
												</div>

												<div class="range-price range-slider range-slider-init" data-dual="true" data-min="0" data-max="500" data-step="10" data-value-left="100" data-value-right="500"></div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<button class="col button button-fill color-black">Apply Filter</button>
						</div>
					</div>
				</div>
			</div>

			<div class="view view-main view-init ios-edges" data-url="/">
				<div class="page no-navbar">

					{% include 'comparagrow/mobile/pages/com_header.html' %}

					<!--  init page-->
					<div class="page-content">
						<div class="block block-list-ads">
							<div class="title-page">
								<div class="title-page-with-link">
									<h1 class="" style="
    display: flex;color: #8a8585;
"><img src="/static/img/lupa.png" style="height: 35px;margin-right: 4px;">Buscador</h1>
									{% if user.is_authenticated %}
									<a href="/profile/" class="tab-link">
										<i class="material-icons" style="font-size: 40px;color: #01b22c;">account_circle</i>
										<!-- <span class="tabbar-label">Profile</span> -->
									</a>
									{% else %}
									<a href="/login/" class="tab-link">
										<i class="material-icons" style="font-size: 40px;color: #01b22c;">input</i>
										<!-- <span class="tabbar-label">Profile</span> -->
									</a>
									{% endif %}
								</div>
							</div>
							<!-- Search -->
							<div class="searchbar-page">
							<form class="searchbar" method="post" action="/pages/search.html">
								<div class="searchbar-input-wrap">
									<input placeholder="Busca miles de productos al mejor precio" class="" type="search" style="border: 1px solid;
    border-color: #01b22c;" name="q">
									<i class="searchbar-icon"></i>
									<span class="input-clear-button"></span>
								</div>
							</form>
							</div>
							<!-- End Search -->

							<div class="section no-border">
								<div class="section-content">
									<div class="row">
										<div class="col">
											<a href="/ad_detail/"><img src="./img/product1.png" alt="product1"></a>
											<div class="item-category"><a href="#">Electronics  <i class="f7-icons">chevron_right</i></a></div>
											<div class="item-title"><a href="/ad_detail/">Fujifilm instax mini 9 Instant Film Camera</a></div>
											<div class="item-infos">US $102</div>
										</div>
										<div class="col">
											<a href="/ad_detail/"><img src="./img/product2.png" alt="product2"></a>
											<div class="item-category"><a href="#">Women's Clothes  <i class="f7-icons">chevron_right</i></a></div>
											<div class="item-title"><a href="/ad_detail/">adidas women Blue Soft Trainers</a></div>
											<div class="item-infos">US $102</div>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<a href="/ad_detail/"><img src="./img/product3.png" alt="product3"></a>
											<div class="item-category"><a href="#">Electronics  <i class="f7-icons">chevron_right</i></a></div>
											<div class="item-title"><a href="/ad_detail/">Wireless headphones with Bluetooth</a></div>
											<div class="item-infos">US $102</div>
										</div>
										<div class="col">
											<a href="/ad_detail/"><img src="./img/product4.png" alt="product4"></a>
											<div class="item-category"><a href="#">Electronics  <i class="f7-icons">chevron_right</i></a></div>
											<div class="item-title"><a href="/ad_detail/">Canon Eos 550 Photo with 22 pixels</a></div>
											<div class="item-infos">US $102</div>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<a href="/ad_detail/"><img src="./img/product1.png" alt="product5"></a>
											<div class="item-category"><a href="#">Electronics  <i class="f7-icons">chevron_right</i></a></div>
											<div class="item-title"><a href="/ad_detail/">Fujifilm instax mini 9 Instant Film Camera</a></div>
											<div class="item-infos">US $102</div>
										</div>
										<div class="col">
											<a href="/ad_detail/"><img src="./img/product2.png" alt="product6"></a>
											<div class="item-category"><a href="#">Women's Clothes  <i class="f7-icons">chevron_right</i></a></div>
											<div class="item-title"><a href="/ad_detail/">adidas women Blue Soft Trainers</a></div>
											<div class="item-infos">US $102</div>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<a href="/ad_detail/"><img src="./img/product3.png" alt="product7"></a>
											<div class="item-category"><a href="#">Electronics  <i class="f7-icons">chevron_right</i></a></div>
											<div class="item-title"><a href="/ad_detail/">Wireless headphones with Bluetooth</a></div>
											<div class="item-infos">US $102</div>
										</div>
										<div class="col">
											<a href="/ad_detail/"><img src="./img/product4.png" alt="product8"></a>
											<div class="item-category"><a href="#">Electronics  <i class="f7-icons">chevron_right</i></a></div>
											<div class="item-title"><a href="/ad_detail/">Canon Eos 550 Photo with 22 pixels</a></div>
											<div class="item-infos">US $102</div>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
					<!--  end page-->
				</div>
			</div>
		</div>
		<script src="{% static 'mobile/js/framework7.min.js' %}"></script>
		<script src="{% static 'mobile/js/routes.js' %}"></script>
		<script src="{% static 'mobile/js/app.js' %}"></script>
	</body>
</html>
