{% load static %}
{% load menu_categorias %}
{% load mptt_tags %}

{% load l10n %}
{% load humanize %}
<div class="page no-navbar">

	{% include 'comparagrow/mobile/pages/com_header.html' %}


	<div class="page-content">
		<div class="block block-list-ads">
			<div class="title-page">
				<div class="title-page-with-link">
					<h1>Categorias</h1>
				</div>
			</div>

			<div class="section no-border">
				<div class="section-content">
					<div class="row">
						{% listado as listado_producto %}
						{% for genre,structure in listado_producto|tree_info %}
								{% if genre.level == 0 %}
									<div class="col-50" style="margin-bottom:20px;">
										<div class="item-category"><a href="#" style="font-size: 15px;color: purple;" id="btn-categoria-filter" id-categoria="{{ genre.id }}">{{ genre.name }}</div>
										{% for item1 in genre.slug|menulevelone:"1" %}
											<div class="item-category"><a href="#" style="margin-left: 10px;" id="btn-categoria-filter" id-categoria="{{ item1.id }}"><i class="f7-icons">chevron_right</i>{{ item1.name }} </a></div>
											{% for item2 in item1.slug|menulevelone:"2" %}
													<div class="item-category"><a href="#" style="margin-left: 20px;" id="btn-categoria-filter" id-categoria="{{ item2.id }}"><i class="f7-icons">chevron_right</i><i class="f7-icons">chevron_right</i>{{ item2.name }} ({{ item2.id|countproductscategory }}) </a></div>
													{% for item3 in item2.slug|menulevelone:"3" %}
															<div class="item-category"><a href="#" style="margin-left: 30px;" id="btn-categoria-filter" id-categoria="{{ item3.id }}"><i class="f7-icons">chevron_right</i><i class="f7-icons">chevron_right</i><i class="f7-icons">chevron_right</i>{{ item3.name }} ({{ item3.id|countproductscategory }}) </a></div>
													{% endfor %}
											{% endfor %}
										{% endfor %}
									</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>

		</div>

	</div>
</div>
