<h6 style="margin-top:15px;color:#01b22c;font-weight: 300;"><strong>TIENDAS</strong></h6>

{% if tiendas.count > 5 %}
<ul style="
font-size: 14px;
font-weight: 100;
list-style: none;
margin-left: -25px;
">
{% else %}
<ul style="
font-size: 14px;
font-weight: 100;
list-style: none;
margin-left: -25px;
">
{% endif %}
  {% for shop in tiendas %}
  {% if forloop.counter < 6 %}
  <li class="p-b-6">
  {% if shop.shop__pk in tienda %}
  <a class="filter-link stext-106 trans-04 filter-link-active" style="display:flex;width: max-content;">
    <input class="css_shop" onclick="checkboxFilter('#checkbox_shop_{{ forloop.counter }}')" type="checkbox" value="{{ shop.shop__pk }}" checked style="margin-right: 5px;margin-top: 5px;">
    {{ shop.shop__name }}  ({{ shop.dcount }})
  </a>
  {% else %}
  <a class="filter-link stext-106 trans-04" style="display:flex;width: max-content;">
    <input class="css_shop" onclick="checkboxFilter('#checkbox_shop_{{ forloop.counter }}')" type="checkbox" value="{{ shop.shop__pk }}" style="margin-right: 5px;margin-top: 5px;">
    {{ shop.shop__name }} ({{ shop.dcount }})
  </a>
  {% endif %}
  </li>
  {% endif %}

  {% endfor %}
  <li>
    <button type="button" data-toggle="modal" data-target="#shoplistmodal" style="font-size:12px;background: #01b22c;border-color: #01b22c;width: 100px;" class="btn btn-primary mb-2"><i class="fas fa-cannabis"></i> Ver todas</button></li>

</ul>
<div class="modal fade" id="shoplistmodal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="largeModalLabel">Lista de Tiendas</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
              <input type="text" id="searchshop" class="form-control searchdiv" placeholder="Buscar">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <a class="filter-link stext-106 trans-04 filter-link-active" style="width: max-content;">
              <input class="seleccionar_shop_all" onclick="seleccionar('css_shop','seleccionar_shop_all')" type="checkbox" style="margin-right: 5px;margin-top: 5px;">
              Seleccionar todos
            </a>
          </div>


        </div>
        <div class="row">
            <div class="col-10">
                <div class="row" id="parent-shop">
                {% for shop in tiendas %}

                <div class="col-sm-4 boxshop shop-{{ shop.firstchart }}"">
                {% if shop.shop__pk in tienda %}
                <a class="filter-link stext-106 trans-04 filter-link-active name" style="width: max-content;">
                  <input class="css_shop" type="checkbox" id="checkbox_shop_{{ forloop.counter }}" name="checkbox_shop[]" value="{{ shop.shop__pk }}" checked style="margin-right: 5px;margin-top: 5px;">
                  {{ shop.shop__name }}  ({{ shop.dcount }})
                </a>
                {% else %}
                <a class="filter-link stext-106 trans-04 name" style="width: max-content;">
                  <input class="css_shop" type="checkbox" id="checkbox_shop_{{ forloop.counter }}" name="checkbox_shop[]" value="{{ shop.shop__pk }}" style="margin-right: 5px;margin-top: 5px;">
                  {{ shop.shop__name }} ({{ shop.dcount }})
                </a>
                {% endif %}
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="col-1">
              <div class="row">
                <div class="col">
                  <a class="btn btn-light btn-filter-shop" id="shop-all" style="margin-top: -8px;padding: 1px 5px;height: 23px;font-size: 13px;width: 47px;">
                  <!-- <a data-toggle="modal" data-target="#modal_login"> -->
                  Todas
                  </a>
                </div>
              </div>
              {% regroup tiendas by firstchart as listado_primera_letra %}
              {% for listado in listado_primera_letra|dictsort:0 %}
                  <div class="row">
                    <div class="col">
                      <a class="btn btn-light btn-filter-shop" id="shop-{{ listado.grouper }}" style="margin-top: -8px;padding: 1px 5px;height: 23px;font-size: 13px;width: 22px;">
                      <!-- <a data-toggle="modal" data-target="#modal_login"> -->
                      {{ listado.grouper }}
                      </a>
                    </div>
                  </div>
              {% endfor %}
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal"
        style="    background-color: #01b22c;
border: #01b22c;
color: #fff;">Cerrar</button>
        <button type="button" onclick="limpiar('css_shop')" class="btn btn-light" >Limpiar</button>
        <button type="submit" class="btn btn-light"
        style="    background-color: #672d93;
border: #672d93;
color: #fff;">Filtrar</button>
      </div>
    </div>
  </div>
</div>
<h6 style="margin-top:15px;color:#01b22c;font-weight: 300;"><strong>MARCAS</strong></h6>

{% if marcas.count > 5 %}
<ul style="
font-size: 14px;
font-weight: 100;
list-style: none;
margin-left: -25px;
">
{% else %}
<ul style="
font-size: 14px;
font-weight: 100;
list-style: none;
margin-left: -25px;
">
{% endif %}
  {% for marc in marcas %}
  {% if forloop.counter < 6 %}

  {% if marc.brand == "" %}

  {% else %}
  <li class="p-b-6">
  {% if marc.brand in marca %}
  <a class="filter-link stext-106 trans-04 filter-link-active" style="display:flex;width: max-content;">
    <input class="css_brand" onclick="checkboxFilter('#checkbox_marca_{{ forloop.counter }}')" type="checkbox" value="{{ marc.brand }}" checked style="margin-right: 5px;margin-top: 5px;">
    {{ marc.brand }} ({{ marc.dcount }})
  </a>
  {% else %}
  <a class="filter-link stext-106 trans-04" style="display:flex;width: max-content;">
    <input class="css_brand" onclick="checkboxFilter('#checkbox_marca_{{ forloop.counter }}')" type="checkbox"  value="{{ marc.brand }}" style="margin-right: 5px;margin-top: 5px;">
    {{ marc.brand }} ({{ marc.dcount }})
  </a>
  {% endif %}
  </li>
  {% endif %}
  {% endif %}

  {% endfor %}
  <li>
    <button type="button" data-toggle="modal" data-target="#brandlistmodal" style="font-size:12px;background: #01b22c;border-color: #01b22c;width: 100px;" class="btn btn-primary mb-2"><i class="fas fa-cannabis"></i> Ver todas</button></li>

</ul>

<div class="modal fade" id="brandlistmodal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="largeModalLabel">Lista de Marcas</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
              <input type="text" id="search" class="form-control searchdiv" placeholder="Buscar">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <a class="filter-link stext-106 trans-04 filter-link-active" style="width: max-content;">
              <input class="seleccionar_brand_all" onclick="seleccionar('css_brand','seleccionar_brand_all')" type="checkbox" style="margin-right: 5px;margin-top: 5px;">
              Seleccionar todos
            </a>
          </div>


        </div>
        <div class="row">
            <div class="col-10">
                <div class="row" id="parent-brand">
                  {% for marc in marcas %}
                  {% if marc.brand == "" %}

                  {% else %}
                  {% if marc.brand in marca %}
                  <div class="col-sm-4 box brand-{{ marc.firstchart }}">

                  <a class="filter-link stext-106 trans-04 filter-link-active name" style="width: max-content;">
                    <input class="css_brand" type="checkbox" id="checkbox_marca_{{ forloop.counter }}" name="checkbox_marca[]" value="{{ marc.brand }}" checked style="margin-right: 5px;margin-top: 5px;">
                    {{ marc.brand }} ({{ marc.dcount }})
                  </a>
                </div>

                  {% else %}
                  <div class="col-sm-4 box brand-{{ marc.firstchart }}">

                  <a class="filter-link stext-106 trans-04 name" style="width: max-content;">
                    <input class="css_brand" type="checkbox" id="checkbox_marca_{{ forloop.counter }}" name="checkbox_marca[]" value="{{ marc.brand }}" style="margin-right: 5px;margin-top: 5px;">
                    {{ marc.brand }} ({{ marc.dcount }})
                  </a>
                </div>

                  {% endif %}
                  {% endif %}
                  {% endfor %}
              </div>
            </div>
            <div class="col-1">
              <div class="row">
                <div class="col">
                  <a class="btn btn-light btn-filter-brand" id="brand-all" style="margin-top: -8px;padding: 1px 5px;height: 23px;font-size: 13px;width: 47px;">
                  <!-- <a data-toggle="modal" data-target="#modal_login"> -->
                  Todas
                  </a>
                </div>
              </div>
              {% regroup marcas by firstchart as listado_primera_letra %}
              {% for listado in listado_primera_letra|dictsort:0 %}
                  <div class="row">
                    <div class="col">
                      <a class="btn btn-light btn-filter-brand" id="brand-{{ listado.grouper }}" style="margin-top: -8px;padding: 1px 5px;height: 23px;font-size: 13px;width: 22px;">
                      <!-- <a data-toggle="modal" data-target="#modal_login"> -->
                      {{ listado.grouper }}
                      </a>
                    </div>
                  </div>
              {% endfor %}
            </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal"
        style="    background-color: #01b22c;
border: #01b22c;
color: #fff;">Cerrar</button>
        <button type="button" onclick="limpiar('css_brand')" class="btn btn-light" >Limpiar</button>
        <button type="submit" class="btn btn-light"
        style="    background-color: #672d93;
border: #672d93;
color: #fff;">Filtrar</button>
      </div>
    </div>
  </div>
</div>
