<footer class="section-footer bg-footer" style="background-color:#672d93;">
  <div class="container">
    <div class="row">
      <br>
      <br>
    </div>
    <div class="row">
      <aside class="col-sm-4 col-md-4 white">
        <h4 class="title" style="color:#fff;">INFORMACIÓN</h4>
        <ul class="list-unstyled list-footer" style="color:#fff;">
          <li> <a href="/quienes-somos" style="color:#fff;">Quienes Somos</a></li>
          <li> <a href="/contactanos" style="color:#fff;">Contactanos</a></li>
          <li> <a href="/faq" style="color:#fff;">FAQ</a></li>
          <li> <a href="#" style="color:#fff;">Mapa del Sitio</a></li>
          <li> <a href="/terminos-condiciones" style="color:#fff;">Terminos y Condiciones</a></li>
          <li> <a href="/politica-privacidad" style="color:#fff;">Politica de Privacidad</a></li>
        </ul>
      </aside>
      <aside class="col-sm-4 col-md-4 white">
        <h4 class="title" style="color:#fff;">GRUPO PAZ  VERDE</h4>
        <ul class="list-unstyled list-footer">
          <li> <a href="#" style="color:#fff;"> Trabajemos Juntos </a></li>
          <li> <a href="#" style="color:#fff;"> Blog</a></li>
          <li> <a href="#" style="color:#fff;"> Data </a></li>
          <li> <a href="#" style="color:#fff;"> Publicidad </a></li>
        </ul>
      </aside>
      <aside class="col-sm-4 col-md-4 white">
        <h4 class="title" style="color:#fff;">CONÉCTATE</h4>
        <ul class="list-unstyled list-footer" style="color:#fff;">
          <i class="fab fa-facebook-f   fa-2x" style="color:#fff;"></i>
          <i class="fab fa-twitter   fa-2x" style="color:#fff;"></i>
          <i class="fab fa-instagram   fa-2x" style="color:#fff;"></i>
          <i class="fab fa-google-plus   fa-2x" style="color:#fff;"></i>
        </ul>
      </aside>
    </div> <!-- row.// -->
    <br>

  </div><!-- //container -->
</footer>
