{% load menu_categorias %}
{% load l10n %}
{% load humanize %}
{% if request.user_agent.is_mobile %}
<div class="row">
  <div class="col-6">
    {% for item in products %}
        {% if forloop.counter|divisibleby:2 %}
            <div style="">
              {% include 'comparagrow/component/items.html' %}
            </div>
        {% endif %}
    {% endfor %}
  </div>
  <div class="col-6">
    {% for item in products %}
        {% if forloop.counter|divisibleby:2 %}

        {% else %}
            <div style="">
              {% include 'comparagrow/component/items.html' %}
            </div>
        {% endif %}
    {% endfor %}
  </div>

</div>
{% else %}
<div class="row">
  {% for item in products %}
          <div class="col-sm-3 col-lg-2" style="margin-top:5px; margin-bottom:5px;padding-right:5px;padding-left:5px;font-weight: 100;">
            {% include 'comparagrow/component/items.html' %}
          </div>
  {% endfor %}
</div>
{% endif %}

<div class="row">
							<div class="col">
								<ul class="pagination float-right">
                  {% if products.has_previous %}

									<li class="page-item"><a class="page-link" onclick="enviarFiltros('page_id','1')"><i class="fas fa-angle-double-left"></i></a></li>
                  <li class="page-item"><a class="page-link" onclick="enviarFiltros('page_id','{{ products.previous_page_number }}')"><i class="fas fa-angle-left"></i></a></li>

                  {% endif %}

                  {% for c in 1|range:products.paginator.num_pages %}
                    {% if forloop.counter >= products.number|add:"-3" and forloop.counter <= products.number|add:"3" %}
                      {% if c == products.number %}
                        <li class="page-item active"><a class="page-link" href="#">{{ c }}</a></li>
                      {% else %}
                        <li class="page-item"><a class="page-link" onclick="enviarFiltros('page_id','{{ c }}')">{{ c }}</a></li>
                      {% endif %}
                    {% endif %}
                  {% endfor %}

                  <li style="padding: 5px;">{{ products.number }} de {{ products.paginator.num_pages }} páginas </li>
                  {% if products.has_next %}
                  <li class="page-item"><a class="page-link" onclick="enviarFiltros('page_id','{{ products.next_page_number }}')"><i class="fas fa-angle-right"></i></a></li>
                  <li class="page-item"><a class="page-link" onclick="enviarFiltros('page_id','{{ products.num_pages }}')"><i class="fas fa-angle-double-right"></i></a></li>

                  {% endif %}

								</ul>
							</div>
						</div>
