<!DOCTYPE html>
<html lang="en" dir="ltr"><head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table style="width:100%">
      <tbody style="
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
"><tr>
        <td><img src="http://35.185.63.218/static/theme/images/home/logo.png" alt=""></td>
      </tr>
      <tr>
        <td>Bienvenido, <span>{{ username }}</span></td>
      </tr>
      <tr>
        <td>Por favor, utiliza el siguiente link para verificar tu cuenta.</td>
      </tr>
      <tr>
        <td><a href="{{ link }}">Verificar Cuenta</a></td>
      </tr>
    </tbody></table>
</body></html>
