<!DOCTYPE html>
<html lang="en" dir="ltr"><head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table style="width:100%">
      <tbody style="
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
"><tr>
        <td><img src="https://comparagrow.cl/static/theme/images/home/logo.png" alt=""></td>
      </tr>
      <tr>
        <td><h2>Tenemos un nuevo interesado. ;)</h2></td>
      </tr>
      <tr>
        <td><h3>Datos del Cliente</h3></td>
      </tr>
      <tr>
        <td>
          <b>Nombre:</b> {{ name }} <br/>
          <b>Apellido:</b> {{ last_name }} <br/>
          <b>Celular:</b> {{ phone_mobile }} <br/>
          <b>Correo:</b> {{ company }} <br/>
          <b>Esta interesado en:</b> {{ service.get_type_display }} - {{ service.name }} ({{ service.code }}) <br/>
        </td>
      </tr>
    </tbody></table>
</body></html>
