<table style="height: 100px;">
  <tbody>
    <tr>
      <td class="align-middle">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_login" style="background-color: #672d93;border: #672d93;padding-left: 20px;padding-right: 20px;border-radius: 8px;">
          INGRESO
        </button>
        <a href="/register" class="btn btn-primary"  style="background-color: #01b22c;color:#fff;border: #01b22c;padding-left: 20px;padding-right: 20px;border-radius: 8px;margin-left:10px;">
          REGISTRO
        </a>
      </td>
    </tr>
  </tbody>
</table>
