<div class="row" style="padding-top: 11px;">
  <div class="col-3">
    <div class="dropdown text-center">
      <a class="text-center" style="color:#777; text-decoration:none;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" >
        <i class="far fa-user" style="font-size: 27px;color:#777;"></i>
        <br>
        Perfil
      </a>
      <div class="dropdown-menu" style="z-index: 5000;" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/profile">Mi perfil</a>
        <a class="dropdown-item" href="/logout">Cerrar sesion</a>
      </div>
    </div>
  </div>
  <div class="col-3 text-center">
    <a class="text-center" style="color:#777; text-decoration:none;" href="/productos/favoritos">
      <i class="far fa-heart" style="font-size: 27px;color:#777;"></i><br>
      Favoritos
    </a>
    <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div> -->
  </div>
  <div class="col-3 text-center">
    <a class="text-center" style="color:#777; text-decoration:none;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" >
        <i class="far fa-bell" style="font-size: 27px;color:#777;"></i><span class="notification" style="
    background: red;
    position: absolute;
    color: white;
    padding: 1px 5px;
    font-size: 11px;
    border-radius: 10px;
    margin-right:;
">5</span><br>
        Alertas
    </a>
    <div class="dropdown-menu" style="z-index: 5000;" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#"></a>
    </div>
  </div>
  {% if user.groups.all.0|stringformat:"s" == "customer" %}
  <div class="col-3 text-center">
    <a class="text-center" style="color:#777; text-decoration:none;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" >
      <i class="material-icons">dashboard</i><br>
        Panel Cliente
    </a>
  </div>
  {% endif %}
</div>
