<style>
	.card-header {
		border-radius: 0 0 0 0;
		border-bottom: 1px solid #fff !important;
	}
	.card-header {
		border-radius: 0 0 0 0;
		padding: .75rem 1.25rem;
		margin-bottom: 0;
		color: #000;
		background-color: #ececec85 !important
		border-bottom: 1px solid #fff !important;
	}
	.card-header > a {
		color:#000;
	}
	.card-header:hover > a {
		color:#fff;
	}

	.card-header:first-child{
		border-radius: 0 0 0 0 !important;

	}

	.card-header:hover {
		border-radius: 0 0 0 0;
		color:#fff;
		border-bottom: 1px solid #01b22c !important;
		background-color: #01b22c !important;
		border-bottom: 1px solid #01b22c !important;
	}

	.card:hover > .card-header{
		color:#fff;
		border-bottom: 1px solid #01b22c !important;
		background-color: #01b22c !important;
		border-bottom: 1px solid #01b22c !important;
	}

	.card:hover > .card-header a{
		color:#fff;
	}

	.card:hover{
		/* color:#fff; */
		border: 1px solid #01b22c !important;
		border-radius: 0 0 0 0;
		/* background-color: #01b22c !important; */
		/* border-bottom: 1px solid #01b22c !important; */
	}

	.card-footer .btn-detalle  {
		background:#672d93;
		color:#fff;
	}

</style>
