<style>
	.card-header {
		border-radius: 0 0 0 0;
		border-bottom: 1px solid #fff !important;
	}
	.card-header {
		border-radius: 0 0 0 0;
		padding: .75rem 1.25rem;
		margin-bottom: 0;
		color: #000;
		background-color: #ececec85 !important
		border-bottom: 1px solid #fff !important;
	}
	.card-header > a {
		color:#000;
	}
	.card-header:hover > a {
		color:#fff;
	}

	.card-header:first-child{
		border-radius: 0 0 0 0 !important;

	}

	.card-header:hover {
		border-radius: 0 0 0 0;
		color:#fff;
		border-bottom: 1px solid #01b22c !important;
		background-color: #01b22c !important;
		border-bottom: 1px solid #01b22c !important;
	}

	.card:hover > .card-header{
		color:#fff;
		border-bottom: 1px solid #01b22c !important;
		background-color: #01b22c !important;
		border-bottom: 1px solid #01b22c !important;
	}

	.card:hover > .card-header a{
		color:#fff;
	}

	.card:hover{
		/* color:#fff; */
		border: 1px solid #01b22c !important;
		border-radius: 0 0 0 0;
		/* background-color: #01b22c !important; */
		/* border-bottom: 1px solid #01b22c !important; */
	}

	.card-footer .btn-detalle  {
		background:#672d93;
		color:#fff;
	}

	.owl-slider-product .owl-nav button[class*="owl-"] {
    /* background-color: #01b22c; */
    /* border-color: #01b22c #01b22c #01b22c; */
    /* color: #FFF; */
    width: 64px !important;
    height: 64px !important;
    /* display: none; */
		/* colo:#3483fa !important; */
    background-color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-width: 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.19);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.19);
    cursor: pointer;
    outline: 0;
    position: absolute;
    top: 48%;
    z-index: 2;
}

.owl-slider-product .owl-nav {
    top: 50%;
    left: -50px !important;
    position: absolute;
    width: calc(100% + 100px) !important;
    margin-top: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.owl-slider-product .owl-nav button.owl-next:before{
	font-size: 16px !important;
	left: 3px !important;
  top: 1px !important;
}

.owl-slider-product .owl-nav button.owl-prev:before{
	font-size: 16px !important;
	left: -1px !important;
  top: 1px !important;
}
	/* .owl-carousel .owl-nav button.owl-next:before {
	    font-family: 'Font Awesome 5 Free';
	    font-weight: 900;
	    font-size: x-large !important;
	    content: "\f054" !important;
	    position: relative;
	    left: 3px;
	    top: 1px;
	}
	.owl-carousel .owl-nav {
    top: 50%;
    left: -50px !important;
    position: absolute;
    width: calc(100% + 110px) !important;
    margin-top: 0;
    -webkit-transform: translate3d(0, -50%, 0) !important;
    transform: translate3d(0, -50%, 0) !important;
	}
	.owl-carousel .owl-nav button[class*="owl-"] {
    width: 64px !important;
    height: 64px !important;
    background-color: #fff !important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    border-width: 0 !important;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.19) !important;
    box-shadow: 0 2px 4px 0 rgba(23, 13, 15, 0.54) !important;
    cursor: pointer !important;
} */
	/* .owl-carousel .owl-nav {
    top: 50% !important;
    position: absolute ;
    width: calc(100% + 162px) !important;
    left: -78px !important;
    margin-top: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.owl-carousel .owl-nav button[class*="owl-"] {
    background-color: #07b22b;
    border-color: #01b22c #01b22c #01b22c;
    color: #FFF;
    display: inline-block;
    margin: -1px 1px 0 0;
    padding: 0;
    border-radius: 100%;
    width: 100px !important;
    overflow: visible;
    height: 100px !important;
} */

</style>
